﻿@model EMedSovet.Web.Models.RegisterModel
<div class="overflow-hidden full-width">
    <div class="right-aligned smallest">
        @Html.ActionLink("Посмотреть в новом окне", "TermsConditions", "Home", null, new Dictionary<string, object> { { "target", "_blank" } })
    </div>

</div>
<div class="overflow-hidden full-width">
    <div class="left-aligned">
        <img src="~/Images/medSeminar_gadget.png" width="50" height="50" />
        <span class="small bold">EMedSovet</span>
    </div>
    <div class="right-aligned accepted">
        @Html.CheckBoxFor(m => m.IsPersonalDataConfirmed, new Dictionary<string, object> {{"id",string.Empty}})&nbsp;<span class="smallest">Принять условия соглашения</span><br />
        @Html.ValidationMessageFor(m => m.IsPersonalDataConfirmed)
    </div>

</div>