﻿@model EMedSovet.Web.Models.Contact
@using EMedSovet.Web.Resource
<div class="contactForm hidden" id="contactForm">

    <div class="formContactContainer">
        @using (Html.BeginForm("SendMessageToAllAdminUsers", "Message", FormMethod.Post, new Dictionary<string, object> { { "id", "formContact" } }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model =>  model.From)
            <p class="medium bold">@Contact.FeedbackTitle</p>
            <p>
                @Contact.FeedbackText1
            </p>
            <p>
                @Contact.FeedbackText2
            </p>

            <p class="right-aligned">@Contact.Title</p>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.Name)<br />
                    @Html.ValidationMessageFor(model => model.Name)
                </dd>
                <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </dd>
                <dt>@Html.DisplayNameFor(model => model.Subject)</dt>
                <dd>
                    @Html.TextBoxFor(model => model.Subject)
                    @Html.ValidationMessageFor(model => model.Subject)
                </dd>
                <dt>@Html.DisplayNameFor(model => model.Text)</dt>
                <dd>
                    @Html.TextAreaFor(model => model.Text, new Dictionary<string, object> { { "style", "width: 600px; height: 100px;vertical-align:top;" } })
                    @Html.ValidationMessageFor(model => model.Text)
                </dd>
            </dl>
            <div class="overflow-hidden full-width topMargin">
                <div class="right-aligned">
                    <input type="submit" value="@Contact.SendButton" class="btn btn-find" id="buttonContanctSend" />
                </div>
            </div>
        }
    </div>
    <div class="formContactThankyou" style="display:none;">
        <p>
            Спасибо за обращение! Администратор ознакомится с ним и ответит вам
        </p>
    </div>
</div>
