﻿<div class="consultInstruction hidden" id="consultInstruction">

    <p class="green medium bold">Как получить консультацию</p>
    <hr class="not-bordered grey-darkest grey-dark-filled hr-height" />
    <p class="grey-darkest smallest"><sup>*</sup>Если у Вас есть постоянный лечащий врач, мы рекомендуем чобы рекомендации по возможности проходили с его согласия или при его участии</p>

    <ul>
        <li>
            <span class="green medium-small bold">Ознакомится со стоимостью консультации
            </span>&nbsp;
            <span class="grey-darkest small">
                <a href="#">Типы и стоимость консультаций</a>
            </span>
        </li>
        <li>
            <span class="green medium-small bold">Зарегистрироваться
            </span>&nbsp;
            <span class="grey-darkest small">
                <a href="#" id="consultInstructionRegister">Регистрация</a>
            </span>
        </li>
        <li>
            <span class="green medium-small bold">Выбрать специалиста
            </span>&nbsp;
            <span class="grey-darkest small">
                <a href="@Url.Action("DoctorsList", "Doctor")">Список специалистов</a>
            </span>
        </li>
        <li>
            <span class="green medium-small bold">Заполнить форму анкету об истории заболевания в личном кабинете
            </span>&nbsp;
            <span class="grey-darkest small">
                <a href="#">Личный кабинет</a>
            </span>
        </li>
        <li>
            <span class="green medium-small bold">Выбрать время и способ связи для консультации, сформулировать вопрос<sup>*</sup>
            </span>&nbsp;
            <span class="grey-darkest small">
                <sup>*</sup><a href="@Url.Action("DoctorCard", "Home")"> в карточке специалиста</a>
            </span>
        </li>
        <li>
            <span class="green medium-small bold">Провести оплату
            </span>&nbsp;
            <span class="grey-darkest small">
                <a href="@Url.Action("Payment", "Home")">Пополнить балланс</a>
            </span>
        </li>
    </ul>
    <p class="grey-darkest small">
        После подтверждения от специалиста Вашей запланированной консультации переведите сумму гонорара на Ваш счет в Медсовет, где она будет зарезервирована до Вашей консультации
    </p>
    <p>
        &nbsp;
    </p>

    <hr class="not-bordered grey-darkest grey-dark-filled hr-height" />
    <p class="green small">
        В назначенное время Вы консультируютесь со специалистом Медсовет<br>
        Сразу после консультации Медсовет производит перевод гонорара зарезервированном на Вашем счете
    </p>
</div>
