﻿<!--<footer class="row">
        <div class="span12 topMagin">
            &nbsp;
        </div>
    </footer>-->
<div class="container">
    <footer class="row">
        <div class="span12">
            <div class="row">
                <div class="span8">
                    <!--<img src="~/Images/logo-footer.png" class="margin left-aligned" />-->
                    <div class="delim"></div>
                    <div class="footer-icon-container">
                        <a href="#">
                            <img alt='' src='~/Images/aboutpr_icon.png' />
                            <span>О проекте</span> </a>
                    </div>
                    <div class="delim"></div>
                    <!--<div class="footer-icon-container">
                        <a href="#">
                            <img alt='' src='~/Images/aboutc_icon.png' />
                            <span>О компании</span></a>
                    </div>-->
                    <div class="delim"></div>
                    <div class="footer-icon-container">
                        <a href="#">
                            <img alt='' src='~/Images/aboutsmi_icon.png' />
                            <span>О нас в СМИ</span></a>
                    </div>
                    <div class="delim"></div>
                    <div class="footer-icon-container">
                        <a href="#">
                            <img alt='' src='~/Images/faq_icon.png' />
                            <span>Вопросы и ответы</span></a>
                    </div>
                    <div class="delim"></div>
                    <div class="footer-icon-container">
                        <a href="#contactForm" class="fancybox">
                            <img alt='' src='~/Images/contact_icon.png' />
                            <span>Связаться с нами</span></a>
                    </div>
                    <div class="delim"></div>




                </div>
                <div class="span4 topMargin">
                    <!--<div class="row">
                            <div class="span1">
                                <img src="~/Images/g.png" class="inline" />
                            </div>
                            <div class="span1">
                                <img src="~/Images/t.png" class="inline" />
                            </div>
                            <div class="span1">
                                <img src="~/Images/f.png" class="inline" />
                            </div>
                            <div class="span1">
                                <img src="~/Images/s.png" class="inline" />
                            </div>
                        </div>-->
                    <div class="right-aligned">
                        <div class="links">
                            <div class="footer-icon-container-social">
                                <a href='#'>
                                    <img alt='' src='~/Images/facebook_icon.png' class="inline"/></a>
                            </div>
                            <div class="footer-icon-container-social">
                                <a href='#'>
                                    <img alt='' src='~/Images/vkontakte_icon.png' class="inline"/></a>
                            </div>
                            <div class="footer-icon-container-social">
                                <a href='#'>
                                    <img alt='' src='~/Images/google_icon.png'class="inline" /></a>
                            </div>
                            <div class="footer-icon-container-social">
                                <a href='#'>
                                    <img alt='' src='~/Images/twitter_icon.png' class="inline" /></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="topMarginSmall right-aligned text-right-aligned smallest">
                            +7 (495)222 -3333
                        </div>
                        <div class="clear"></div>
                        <div class="right-aligned text-right-aligned smallest">
                            <a href='mailto:info@emedvisit.ru'>info@emedsovet.info</a>
                        </div>
                        <div class="clear"></div>
                        <div class="tiny right-aligned text-right-aligned smallest">
                            &copy;EMedSovet.info
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</div>
