﻿@using EMedSovet.Web.Properties
@model EMedSovet.Web.Models.LoginModel
<div class="span8">
    <div class="row">
        <div class="span8 subheaderform topMarginSmall">
            <section style="" id="loginForm" >
                
            

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "bottomMarginNone"}))
            {
                <img src="~/Images/key.png" class="inline" />
                @Html.AntiForgeryToken()
@*Html.ValidationSummary(true)*@
                @Html.TextBoxFor(m => m.UserName, new { @class = "search-query input-search-query", placeholder = Resources.Login })
                <img src="~/Images/zamok.png" class="inline" />
                @Html.PasswordFor(m => m.Password, new { @class = "search-query input-search-query", placeholder = Resources.Password })
                <text>&nbsp;</text>
                @Html.CheckBoxFor(m => m.RememberMe)
                <span class="tiny">@Resources.RememberMe</span>
                <input type="image" src="~/Images/on.png" class="right-aligned rightMargin">
                <span class="field-validation-error">@Html.ValidationSummary()</span>
            }
                <hr />

            </section>
        </div>
    </div>
    <div class="row">
        <div class="span8">
             <section style="">
            @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
             <input type="text" class="search-query input-search" placeholder="Search">
                 </section>
        </div>
    </div>
</div>
