﻿@using EMedSovet.Web.Properties
<div class="row">

    <div class="span12 right-aligned smallest text-right">
        <section>
            @if (Request.IsAuthenticated)
            {

                <text>
                    @Resources.Hello, 

                </text>

                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink(User.Identity.Name, "Index", "Settings", routeValues: null, htmlAttributes: new {@class = "username", title = "Manage"})
                }
                if (User.IsInRole("Doctor"))
                {
                    @Html.ActionLink(User.Identity.Name, "PersonalArea", "Doctor", routeValues: null, htmlAttributes: new {@class = "username", title = "PersonalArea"})
                }
                if (User.IsInRole("Patient"))
                {
                    @Html.ActionLink(User.Identity.Name, "PersonalArea", "Patient", routeValues: null, htmlAttributes: new {@class = "username", title = "Manage"})
                }
                if (User.IsInRole("Consultant"))
                {
                    @Html.ActionLink(User.Identity.Name, "Chat", "Home", routeValues: null, htmlAttributes: new {@class = "username", title = "Manage"})
                }
                <text>

                    !&nbsp;
                </text>

                if (User.IsInRole("Doctor"))
                {
                    <text>
                        @Html.ActionLink("Личный кабинет", "PersonalArea", "Doctor", null, new Dictionary<string, object> {{"class", "uppercase btn btn-small"}})&nbsp;
                        @Html.ActionLink("Карта", "DoctorCardInternal", "Doctor", null, new Dictionary<string, object> {{"class", "uppercase btn btn-small"}})&nbsp;
                        <a class="btn" href="@Url.Action("MyMessages", "Message")"><i class="icon-envelope"></i></a>
                    </text>
                }

                if (User.IsInRole("Patient"))
                {
                    <text>
                        @Html.ActionLink("Личный кабинет", "PersonalArea", "Patient", null, new Dictionary<string, object> {{"class", "uppercase btn btn-small"}})&nbsp;
                        @Html.ActionLink("Карта", "", "Patient", null, new Dictionary<string, object> {{"class", "uppercase btn btn-small"}})&nbsp;        
                        <a class="btn" href="@Url.Action("MyMessages", "Message")"><i class="icon-envelope"></i></a>
                    </text>
                }

                <text>
                    @*Html.ActionLink("БАЛАНС: 0.00", "", null, new Dictionary<string, object> { { "class", "uppercase btn btn-small" } })&nbsp;*@
                </text>
                if (User.IsInRole("Admin"))
                {
                    <text>
                        @Html.ActionLink("НАСТРОЙКИ", "Index", "Settings", null, new Dictionary<string, object> {{"class", "uppercase btn btn-small"}})&nbsp;
            <a class="btn" href="@Url.Action("MyMessages", "Message")"><i class="icon-envelope"></i></a>
                    </text>
                }

                <text>
                    @*Html.ActionLink("ПОМОЩЬ", "", null, new Dictionary<string, object> { { "class", "uppercase btn btn-small" } })&nbsp;*@
                </text>

                <text>

                    @if (User.IsInRole("Consultant"))
                    {
                        <text>
                            @Html.ActionLink("Чат", "Chat", "Home", null, new Dictionary<string, object> {{"class", "uppercase btn btn-small"}})&nbsp;
                        </text>
                    }

                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "inline bottomMarginNone"}))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="uppercase btn btn-small logoff">@Resources.LogOff</a>
                    }
                </text>
            }
            else
            {
                <a href="#loginForm" class="fancybox">Войти</a>
                <!--<a class="fancybox" href="#registrationForm" title="Регистрация" id="registerLink">Регистрация</a>-->
                <a class="fancybox" href="#registrationForm" title="Регистрация" id="registerLink">"Впервые здесь?" Зарегистрируйтесь!</a>
                <!--<a class="fancybox" href="#registrationFormScan" title="Регистрация через скан документа">Регистрация через скан документа</a>-->
@*Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
@*<text>&nbsp;</text>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@

            }

        </section>
    </div>
</div>
