﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Scripts/easyslider/css/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
</head>
    <body>
        @*if (!Request.IsAuthenticated)*@
        @if (false)
        
        {
        
        <div class="container">
            <div class="row">

                <div class="span12 topMarginSmall bottomMarginSmall">
                    <div style="margin-left: auto; margin-right: auto; overflow: hidden; width:620px;">
                        @Html.Action("LoginForm", "Account")
                        @Html.Partial("_RegisterFormParial")
                        @RenderSection("featured", required: false)
                    </div>

                </div>
            </div>
        </div>
        }
        else
        {
        
        <header>
            @Html.Partial("_Streamer")
            <div class="container">
                <!--<div class="content-wrapper">
                        <div class="float-left">
                            <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                        </div>
                        <div class="float-right">
                            <section id="login">
                                @Html.Partial("_LoginPartial")
                            </section>
                            <nav>
                                <ul id="menu">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                            </nav>
                        </div>
                    </div>-->
                @*Html.Partial("_LoginView")*@


            </div>
            <div class="rowExternal">
                @*Html.Partial("_Tabs")*@
            </div>
            <!--<div class="rowExternal">
                    <div style="width: 20px;  margin-top: 0; margin-bottom: 0; ">
                        <hr style="width: 20px; background-color: #C7C7C7; margin-top: 0; margin-bottom: 0; border-bottom: 0px solid white;" />
                    </div>
                    <div style="width: 20px; margin-top: 0; margin-bottom: 0; margin-left: 960px; ">
                        <hr style="width: 20px; background-color: #C7C7C7; margin-top: 0; margin-bottom: 0; border-bottom: 0px solid white;" />
                    </div>
                </div>-->
            <div class="rowExternal shadowbox bordered subheader-container" style="border-top-width: 0;">
                @*Html.Partial("_SubHeaderForm")*@
                @Html.Partial("_Slider")
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <div class="container anti-shadow-div">
                <div class="shadow-div">
                    @RenderBody()
                </div>
            </div>
            <div class="rowExternal shadowboxUp">
                @Html.Partial("_Footer")
            </div>
        </div>
        @Html.Partial("_SiteHeader")
        @Html.Action("ContactForm","Account")
        }


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap/js/bootstrap")
        @Scripts.Render("~/bundles/easyslider/js/js")
        @Scripts.Render("~/bundles/Script/cookies/js")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
        //$('#siteheader').css('display', 'block');
            $(document).ready(function () {
                $("#slider").easySlider({
                    auto: true,
                    continuous: true,
                    controlsShow: false,
                });
                $("#slider").show();
            });
            var loginVisible = false;
            function HideToolbar(type) {
                //$('.siteheader').css('top', '-1000px');
                $('.siteheader').hide();
                $('.underheader.mainWrapper div').css('margin-top', '0px');
                //$('.toolbarmini').css('top', '0px');
                $('.toolbarmini').show();
                $('.toolbarmini .start').css('background', 'url(@Url.Content("~/images/tbmini_start.png")) left top');
                $('.toolbarmini .end').css('background', 'url(@Url.Content("~/images/tbmini_end.png")) left top');
                $('.login').removeClass('active');
                $('.loginForm').hide();
                loginVisible = false;
                //$('.siteheader').hide();
                //$('.toolbarmini').show();
                //if (toolbarDelta == 0) {
                //    $('form').css('padding-top', '0px');
                //
                //if (!type || type != 1) {
                //    showHideHelper(3);
                //}
                //tbShow = 0;
            }
            function ShowToolbar() {
                //$('.siteheader').show();
                //$('.toolbarmini').hide();
                //$('.toolbarmini').css('top', '-1000px');
                $('.toolbarmini').hide();
                $('.toolbarmini .start').css('background', 'url(@Url.Content("~/images/tbmini_start.png")) left top');
                $('.toolbarmini .end').css('background', 'url(@Url.Content("~/images/tbmini_end.png")) left top');
                $('.siteheader').show();
                //$('.siteheader').css('top', '0px');
                //$('.siteheader').css('left', (-1 * $(window).scrollLeft()) + 'px');
                //$('.underheader.mainWrapper div').css('margin-top', toolbarDelta + 'px');
                //if (toolbarDelta == 0) {
                //    $('form').css('padding-top', '40px');
                //}
                //showHideHelper(4);
                //tbShow = 1;
            }

            function showLoginForm(type) {
                if (!type) type = 0;
                //var loginVisible = false;
                if (!loginVisible || loginType != type) {
                    loginType = type;
                    if (type == 0) {
                        $('.login').addClass('active');
                        //$('.loginForm').css('right', '200px');
                        //$('.loginForm').css('top', $(window).scrollTop() + 'px');
                        $('.loginForm').show();
                    }
                    else if (type == 1) {
                        $('.login').removeClass('active');
                        //$('.loginForm').css('right', '447px');
                        //$('.loginForm').css('top', '32px');
                        $('.loginForm').show();
                    }
                    else if (type == 2) {
                        $('.login').removeClass('active');
                        //$('.loginForm').css('right', '0px');
                        //$('.loginForm').css('top', (21 + $(window).scrollTop()) + 'px');
                        $('.loginForm').show();
                    }
                    loginVisible = true;
                }
                else {
                    $('.login').removeClass('active');
                    //$('.loginForm').css('top', '-1000px');
                    $('.loginForm').show();
                    loginVisible = false;
                }


                return false;
            }
        </script>
        @Scripts.Render("~/bundles/fancybox/js")
        <script type="text/javascript">
        //$('.fancybox').fancybox();
            $.each($('.fancybox'), function(key, fancybox) {
                if ($(fancybox).attr('href') == '#contactForm') {
                    $(fancybox).fancybox({
                        beforeLoad: function () {
                            $('.formContactThankyou').hide();
                            $('.formContactContainer').show();
                            return true;
                        },
                        onCancel: function () {
                            console.log('close');
                            //window.location.href = '@Url.Action("MyMessages", "Message")';
                            return true;
                        }
                    });
                }
                else {
                    $(fancybox).fancybox();
                }
            });

            $('#buttonRegister').click(function (e) {
                e.preventDefault();
                if (!$('#formRegister input[name="IsPersonalDataConfirmed"]').is(':checked')) {
                    alert('Пожалуйста примите соглашение');
                    return false;
                }
                $('#formRegister').submit();
                return false;
            });

            $('.logoff').click(function (e) {
                e.preventDefault();
                $.cookie("chatCookie", null, { path: '/' });
                $('#logoutForm').submit();
                return false;
            });
            $('.culture').click(function (e) {
                e.preventDefault();
                //console.log($(event.target).data('lang'));
                $.ajax({
                    type: "POST",
                    data: {
                        culture: $(e.target).data('lang'),
                    },
                    url: '@Url.Action("ChangeCulture","Locale")',
                    cache: false,
                    dataType: 'json',
                }).done(function (data) {
                    //$.cookie("language", $(event.target).data('lang'), { path: '/' });
                    window.location.reload();
                });
                return false;
            });
        
            $('#buttonContanctSend').click(function (e) {
                e.preventDefault();
                //console.log($(event.target).data('lang'));
                if (!$('#formContact').valid()) {
                    return false;
                } 
                $.ajax({
                    type: "POST",
                    data: $('#formContact').serialize(),
                    url: '@Url.Action("SendMessageToAllAdminUsers","Message")',
                    cache: false,
                    dataType: 'json',
                }).done(function (data) {
                    //$.cookie("language", $(event.target).data('lang'), { path: '/' });
                    //console.log('test');
                    $('.formContactContainer').slideUp('fast', function () {
                        $('.formContactThankyou').slideDown('fast');
                    });
                });
                return false;
            });
        
        /*var banner_timer = null;
        var banner_current = 1;
        var banner_max = 3;
        
        function onBannerTimer() {
            var next = banner_current + 1;
            if (next > banner_max) next = 1;

            var from = $('.kadr' + banner_current);
            var to = $('.kadr' + next);

            to.css('left', '620px');
            from.animate({ left: '-620px', opacity: '0' }, 1000, 'linear');
            to.animate({ left: '0px', opacity: '1' }, 1000, 'linear');
            banner_current = next;
        }
        $(function () {

            banner_timer = setInterval(onBannerTimer, 5000);
            $('.kadr' + banner_current).css('left', '0px');
            $('.kadr' + banner_current).animate({ opacity: '1' }, 10);
        });*/
    </script>
    </body>
</html>
