﻿@model EMedSovet.Web.Models.RegisterModel
<div class="registrationForm hidden" id="registrationForm">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new Dictionary<string, object> { { "id", "formRegister" } }))
    {
        @Html.AntiForgeryToken()
@*Html.ValidationSummary()*@

        <dl>
            <dt>@Html.LabelFor(m => m.UserName)</dt>
            <dd>@Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </dd>
            <dt>@Html.LabelFor(m => m.Email)</dt>
            <dd>@Html.TextBoxFor(m => m.Email, new Dictionary<string, object> { { "id", string.Empty } })
                @Html.ValidationMessageFor(m => m.Email)
            </dd>
            <dt>@Html.LabelFor(m => m.Password)</dt>
            <dd>@Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </dd>
            <dt>@Html.LabelFor(m => m.ConfirmPassword)</dt>
            <dd>@Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </dd>


            <dt>@Html.LabelFor(m => m.Role)</dt>
            <dd>@Html.RadioButtonFor(m => m.Role, "patient", new Dictionary<string, object> { { "id", string.Empty }, { "style", "width:15px;" } })&nbsp; <span class="">пациент</span>
                @Html.RadioButtonFor(m => m.Role, "doctor", new Dictionary<string, object> { { "id", string.Empty }, { "style", "width:15px;" } })&nbsp; <span class="">врач</span>
                @Html.ValidationMessageFor(m => m.Role)
            </dd>
            @Html.Partial("_TermsPartial")
        </dl>
        @Html.Partial("_Confirmation")
        <div class="overflow-hidden full-width topMargin">
            <div class="right-aligned">
                <input type="submit" value="Зарегистрироваться" class="btn btn-find" id="buttonRegister" />
            </div>
        </div>
        
    }
</div>
