﻿@using EMedSovet.Web.Helpers

@using (Html.BeginForm("DoctorsList", "Doctor", FormMethod.Post, new Dictionary<string, object>{{"style","margin-bottom:0;"}}))
{




    <div class="row topMargin">
        <div class="span3">
            <div class="inline-block">
                <p class="green medium-small bold">Поиск врачей</p>
            </div>

        </div>
        <div class="span9">
            <div class="inline-block">
                <!--<span class="small">Сейчас онлайн: <span class="green underlined">4 врача
            </span></span>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <div class="inline-block">
                по заболеванию <br/>
                @Html.Raw(Html.GroupDropList("searchByDecease", (List<GroupDropListItem>)ViewBag.Diseases, string.Empty, new { @class = "input-text", placeholder = "по заболеванию" }))

            </div>
        </div>
        <div class="span3">
            <div class="inline-block">
                по специальности <br/>
                @Html.Raw(Html.GroupDropList("bySpecialty", (List<GroupDropListItem>)ViewBag.Specialties, string.Empty, new { @class = "input-text", name="specialtyId" }))
            </div>
        </div>
        <div class="span3">
            по имени <br/>
            @Html.Raw(Html.GroupDropList("searchByName", (List<GroupDropListItem>)ViewBag.Doctors, string.Empty, new { @class = "input-text", placeholder = "Имя" }))
        </div>
        <div class="span3">
            <div class="inline-block">
                <button type="submit" class="btn btn-find right-aligned rightMargin"><i class="icon-search icon-white"></i>найти</button>
            </div>
        </div>
    </div>
}