﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap/css/bootstrap")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="container">
            <!--<div class="content-wrapper">
                    <div class="float-left">
                        <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                    </div>
                    <div class="float-right">
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            </ul>
                        </nav>
                    </div>
                </div>-->
            @Html.Partial("_LoginView")
            

        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <div class="container anti-shadow-div">
            <div class="shadow-div">
                @RenderBody()
            </div>
        </div>
        <div class="rowExternal shadowboxUp">
            @Html.Partial("_Footer")
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
