﻿<div class="toolbarmini">
    <div class="float start">
        <!--<div id="TBMiniLogout" class="logged">
            <a href='#'>
                <img alt='' src='~/images/profile1.png' /></a>
            <div class="logout" onclick='return false;'>
                <button id="LogoutBtn" style="display: none;"></button>
            </div>
        </div>
        <div id="TBMiniLogin" class="logged unlogged">
            <div class="login" onclick='return false;'>
            </div>
        </div>-->
    </div>
    <div class="float end" onclick="ShowToolbar()"></div>
</div>
<div class='loginForm'>
    @Html.Action("LoginForm", "Account")
</div>
<div class="siteheader" align="center">
    <div class="start"></div>
    <div align="left" id="TopMenu" runat="server" visible="false" class="center">
        <div class="float alink" align="center">
            <a href='#'>EMedInfo
                <div class="tooltip">MedInfoTooltip</div>
            </a>
        </div>
        <div class="float delim"></div>
        <div class="float alink" align="center">
            <a href='#'>EPharmInfo
                <div class="tooltip">MedInfoTooltip</div>
            </a>
        </div>
        <div class="float delim"></div>
        <div class="float alink" align="center">
            <a href='#'>EMedResearch
                <div class="tooltip">MedInfoTooltip</div>
            </a>
        </div>
        <div class="float delim"></div>
        <div class="float alink" align="center">
            <a href='#'>EMedSeminar
                <div class="tooltip">MedInfoTooltip</div>
            </a>
        </div>
        <div class="float delim"></div>
        <div class="float alink" align="center">
            <a href='#'>EMedEducation
                <div class="tooltip">MedInfoTooltip</div>
            </a>
        </div>
        <div class="float delim"></div>
        <div class="float alink" align="center">
            <a href='#'>EMedLibrary
                <div class="tooltip">MedInfoTooltip</div>
            </a>
        </div>
        <div class="float delim"></div>
        <div class="float alink" align="center">
            <a href='#'>EMedGames
                <div class="tooltip">MedInfoTooltip</div>
            </a>
        </div>
        <div class="float delim"></div>

        <!--<div id="Logged" runat="server" visible="false" class="logged">
            <div class="logout">
                <asp:linkbutton runat="server" id="LogOut" cssclass="" text=""></asp:linkbutton>
            </div>
            <a class="name" id="Name" runat="server" href='Splash.aspx'></a>
        </div>-->
        <div id="UnLogged" runat="server" visible="false" class="logged unlogged">
            <div class="login">
                <a href="#loginForm" class="fancybox">Войти</a>
            </div>
        </div>
    </div>
    <div class="topend" onclick="HideToolbar()"><span>Hide</span></div>
</div>
<!--<div class="underheader mainWrapper" align="center"><div></div></div>-->


