﻿@using EMedSovet.Web.Helpers
@using EMedSovet.Web.Properties
<div class="row background-green">
    <div class="streamer">
        <div class="rowExternal " style="border-top-width: 0;">
            <div class="span12 topMarginSmallest bottomMarginSmall">

                <!--<div class="row">-->
                <div class="streamerWrapper">
                    <div class="">
                        <div class="left-aligned overflow-hidden" style="width: 300px;">
                            <a href="@Url.Action("", "Account")">
                                <div class="float logo"><span style="">EMedSovet</span></div>
                            </a>
                        </div>
                        <div class="right-aligned text" style="width: 550px;">
                            <div class="right-aligned topMarginSmallest clear-both">
                                @Html.Partial("_LoginView")
                            </div>


                            <div class="input-append right-aligned topMarginSmallest clear-both">
                                <div class="inline">
                                    <span>русский</span>
                                </div>
                                <div class="btn-group inline">

                                    <button class="btn btn-small"> @Resources.Language</button>
                                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="culture" data-lang="ru-RU">русский</a></li>
                                        <li><a href="#" class="culture" data-lang="en-US">english</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group inline">
                                    <input class="span2" id="inputIcon" type="text" placeholder="поиск" style="width: 200px;">
                                    <span class="add-on"><i class="icon-search"></i></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>

    </div>
</div>
<div class="row background-dark-green">
    <div class="streamerFooter">
        <div class="rowExternal" style="border-top-width: 0;">
            <div class="span12">
                <div class="streamerWrapper">
                    <div>
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">
                                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </a>
                                    <div class="nav-collapse navbar-responsive-collapse">
                                        <ul class="nav">
                                            <li class="@(Html.ViewName() == "Login"  && Html.ControllerName() == "Account"? "active" : string.Empty)"><a href="@Url.Action("Login", "Account")">Главная</a></li>
                                            <li class="dropdown @(Html.ViewName() == "Index"  && Html.ControllerName() == "Home"? "active" : string.Empty)">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">О проекте <b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">описание ресурса</a></li>
                                                    <li><a href="#">достижения</a></li>
                                                    <li><a href="#">часто задаваемые вопросы</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">обратная связь</a></li>
                                                </ul>
                                            </li>
                                            <li class="@(Html.ViewName() == "DoctorsList"  && Html.ControllerName() == "Doctor"? "active" : string.Empty)"><a href="@Url.Action("DoctorsList", "Doctor")">Специалисты</a></li>
                                            <li class="@(Html.ViewName() == "Index"  && Html.ControllerName() == "News"? "active" : string.Empty)"><a href="@Url.Action("Index", "News")">Новости</a></li>
                                            <li class="@(Html.ViewName() == "MedicalArticles"  && Html.ControllerName() == "Article"? "active" : string.Empty)"><a href="@Url.Action("MedicalArticles", "Article")">Статьи</a></li>
                                            <li class="@(Html.ViewName() == "Chat"  && Html.ControllerName() == "Home"? "active" : string.Empty)"><a href="@Url.Action("Chat", "Home")">Консультант</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.nav-collapse -->
                                </div>
                            </div>
                            <!-- /navbar-inner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
