﻿<div class="container subheader">
    <div class="row">

        <div class="span12 topMarginSmall bottomMarginSmall">

            <div class="row">
                <!--<a href="@Url.Action("", "Account")">
                    <div class="span4">
                        <div style="margin-left: 140px; margin-top: 40px; width: 140px;" class="medium bold">EMedSovet</div>
                    </div>
                </a>-->
                <!--<div class="span2">
                
                    </div>-->
                <div class="logoWrapper">
                    <div>
                        <a href="@Url.Action("", "Account")">
                            <div class="float logo"><span style="">EMedSovet</span></div>
                        </a>

                        <!--<div id="SplashBanners" visible="true" class="banners">
                <div class="kadr kadr1"><img alt='' src='~/images/kadr/kadr1.png'/></div>
                <div class="kadr kadr2"><img alt='' src='~/images/kadr/kadr2.png'/></div>
                <div class="kadr kadr3"><img alt='' src='~/images/kadr/kadr3.png'/></div>
                
            </div>-->
                        <div id="slider" class="float slider">
                            <ul>
                                <li>
                                    <div class="float rightMargin">
                                        <img alt='' src='~/images/kadr/kadr1.jpg' class="inline" />
                                    </div>
                                    <div class="float leftMargin green bold topMargin small" style="width: 420px;">
                                        Получайте консультации у ведущих специалистов не выходя из дома!
                                    </div>

                                </li>
                                <li>
                                    <div class="float rightMargin">
                                        <img alt='' src='~/images/kadr/kadr2.jpg' class="inline" />
                                    </div>
                                    <div class="float leftMargin green bold topMargin small" style="width: 420px;">
                                        Узнавайте самые актуальные новости из мира медицины!
                                    </div>

                                </li>
                                <li>
                                    <div class="float rightMargin">
                                        <img alt='' src='~/images/kadr/kadr3.jpg' class="inline" />
                                    </div>
                                    <div class="float leftMargin green bold topMargin small" style="width: 420px;">
                                        Добавляйте статьи, читайте и участвуйте в дискуссиях с известными авторами.
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                @*if(Request.IsAuthenticated)
                {
                   <div class="span8">&nbsp;</div>
                }else
                {
                    @*Html.Partial("_LoginForm");*@
                @*Html.Action("LoginForm", "Account")
                    
                }*@
            </div>
        </div>
    </div>
</div>
