﻿<!--<div class="row topMargin">

    <div class="span12">

        <div class="row">
           

            <div class="span12">

                <ul class="nav nav-tabs bottomMarginNone" id="myTab">
                    <li class="tabEmpty" style="width: 140px; height: 19px; margin-top: 19px;">&nbsp;</li>
                    <li style="margin-left: 20px;"><a href="#">EMedInfo</a></li>
                    <li><a href="#">EPharmInfo</a></li>
                    <li><a href="#">EMedResearch</a></li>
                    <li><a href="#">EMedSeminar</a></li>
                    <li><a href="#">EMedEducation</a></li>
                    <li><a href="#">EMedLibrary</a></li>
                    <li><a href="#">EMedGames</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>-->

<ul class="nav nav-tabs bottomMarginNone" id="myTab">
    <!--<li class="active"><a href="#home">Home</a></li>-->
    <li class="tabEmpty" style="width: 140px; height: 19px; margin-top: 19px; margin-left: 20px;">&nbsp;</li>
    <li style="margin-left: 20px;"><a href="#">EMedInfo</a></li>
    <li><a href="#">EPharmInfo</a></li>
    <li><a href="#">EMedResearch</a></li>
    <li><a href="#">EMedSeminar</a></li>
    <li><a href="#">EMedEducation</a></li>
    <li><a href="#">EMedLibrary</a></li>
    <li><a href="#">EMedGames</a></li>
</ul>

