﻿@model EMedSovet.Web.Models.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jHtmlArea/style/css")
}
<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>News</legend>

                    @Html.Partial("_CreateEditNewsPartial")
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Text)
                    </div>
                    <div class="editor-field">
                        @Html.TextArea("Text", string.Empty, 100, 100, new Dictionary<string, object>() { { "style", "width:500px;height:500px;" } })
                        @*Html.TextAreaFor(model => model.Text.ImgPath(Url.Content(string.Format("~/Uploads/News/{0}/",model.NewsId))))*@
                        @Html.ValidationMessageFor(model => model.Text)
                    </div>
                    <p>
                        <input type="submit" value="Создать" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Список новостей", "Index")
            </div>

        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jHtmlArea/js")
    <script type="text/javascript">
        $(function () {
            $("textarea").htmlarea(); // Initialize all TextArea's as jHtmlArea's with default values
        });
    </script>
}
