﻿@using EMedSovet.Web.Helpers
@model IEnumerable<EMedSovet.Web.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">


            <p>
                @Html.ActionLink("Создать новую", "Create")
            </p>

            <dl>
                @foreach (var item in Model)
                {
                    
                    <dt>
                        @Html.DisplayFor(modelItem => item.Title)
                    </dt>
                    <dd>
                        @Html.Raw(item.Text.Chop(50))
                        <p>
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.NewsId }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.NewsId }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.NewsId })
                        </p>
                    </dd>
            
                    
                }
            </dl>

        </div>
    </div>
</div>
