﻿@using EMedSovet.Web.Helpers
@{
    ViewBag.Title = "MedicalNews";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">



            <dl>
                @foreach (var item in (IEnumerable<EMedSovet.Web.Models.News>)ViewBag.NewsList)
                {
                    <dt>
                        <a href="@Url.Action("NewsDetail", new RouteValueDictionary(){{"id", item.NewsId}})">@item.Title</a>
                    </dt>
                    <dd>
                        @Html.Raw(item.Text.Chop(300))
                    </dd>
                }
            </dl>

        </div>
    </div>
</div>
