﻿@model EMedSovet.Web.Models.Disease

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            @using (Html.BeginForm("Create", "Disease", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.ValidationSummary(true)
                 @Html.ValidationMessage("Common")

                <fieldset>
                    <legend>Создать</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Article)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("Article", (SelectList)ViewBag.Articles)
                        @Html.ValidationMessageFor(model => model.Article)
                    </div>
                    
                     <div class="editor-label">
                        Загрузить статью
                    </div>
                    <div class="editor-field">
                        <input type="file" name="ArticleHtml"/>
                    </div>

                    <p>
                        <input type="submit" value="Создать" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Список заболеваний", "Index")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
