﻿@model EMedSovet.Web.Models.Disease

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <fieldset>
                <legend>Детали</legend>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Description)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Article)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Article)
                </div>
            </fieldset>
            <p>
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.DiseaseId }) |
    @Html.ActionLink("Список заболеваний", "Index")
            </p>
        </div>
    </div>
</div>
