﻿@model IEnumerable<EMedSovet.Web.Models.Disease>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <p>
                @Html.ActionLink("Создать новое", "Create")
            </p>
            <table>
                <tr>
                    <th class="text-left-aligned bold" style="width: 100px;">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="text-left-aligned bold" style="width: 100px;">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="text-left-aligned bold word-wrap-break" style="width: 400px;">
                        @Html.DisplayNameFor(model => model.Article)
                    </th>
                    <th class="text-left-aligned bold" style="width: 400px;"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left-aligned" style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-left-aligned" style="width: 100px;">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="text-left-aligned word-wrap-break" style="width: 400px;">
                            @Html.DisplayFor(modelItem => item.Article)
                        </td>
                        <td class="text-left-aligned" style="width: 400px;">
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.DiseaseId }) |
                            @Html.ActionLink("Детали", "Details", new { id = item.DiseaseId }) |
                            @Html.ActionLink("Удалить", "Delete", new { id = item.DiseaseId }) | 
                            <a href="~/Articles/@item.Article" class="fancybox">Статья</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/fancybox/js")
    <script>
        $(function () {
            $('.fancybox').fancybox({
                //'padding': 10,
                'width': 800,
                'height': 600,
                'autoScale': false,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'type': 'iframe',
                'scrolling': 'no',
                'padding': 0
            });
        });
    </script>
}

