﻿body 
{
    font-size:14px;
}
/*Links*/
a 
{
    color:Black;
}
a.MenuLevel1
{
    font-size:14px;
    line-height:24px;
}
a.MenuLevel2
{
    font-size:12px;
    padding-left:7px;
    background:url(../Images/admin/black_pixel.gif) no-repeat 0px 7px;
}
a:hover 
{
    text-decoration:none;
}
.editTB
{
    width: 500px;    
}
imgbtn:hover
{
    cursor: pointer;    
}
.detailsholder
{
    width: 100%;
    height: 25px;
}
.detailsheaderholder
{
    float: left;
    width: 95%;    
}
.detailsfont
{
    font-weight: bold;    
}
.detailslink
{
    color: Blue;
    text-decoration: underline;
}
.detailslink:hover
{
    cursor: pointer;    
}
.clickable
{
    cursor: pointer;    
    text-decoration: underline;
}