﻿@model EMedSovet.Web.Models.UserProfile
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin rightMargin inner-body">
            <div class="text-left-aligned">
                <span class="green medium bold">текстовый чат</span>
            </div>
            <div class="bordered-rounded startPanel" style="">
                <div>
                    <dl>
                        <dt style="margin-left: 10px;">имя в чате
                        </dt>
                        <dd>
                            <input class="username" name="userName" />
                        </dd>
                        <dd>
                            <a href="#" class="btn btn-find join">подключится</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div id="tabs">
                <ul class="tabsNamesContainer">
                    <!--<li><a href="#tabs-1">Tab 1</a></li>-->
                </ul>
                <div id="tabs-1">

                    <!--<div class="bordered-rounded chat" style="display: none;">

                        <div class="incoming" style="height: 200px; padding-left: 20px; overflow-x: hidden; overflow-y: scroll;">
                        </div>
                        <div class="overflow-hidden members" style="height: 100px; border-top: 1px solid #EEEEEE;">
                        </div>
                        <div class="overflow-hidden" style="height: 100px; border-top: 1px solid #EEEEEE;">
                            <textarea class="bold" style="height: 90px; width: 98%;" placeholder="Введите сообщение" name="message"></textarea>
                        </div>
                        <div class="grey-dark-filled overflow-hidden" style="height: 40px; padding-left: 20px; padding-top: 20px;">

                            <div class="left-aligned">
                                <a href="#" class="btn btn-find send">отправить</a>

                            </div>
                            <div class="right-aligned">
                                <a href="#" class="btn btn-find leave rightMargin">покинуть чат</a>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>


        </div>
    </div>
</div>
<script id="tabNameTemplate" type="emedsovet/template">
    <li><a href="#{{TabId}}">{{TabName}}</a></li>
</script>
<script id="chatTabTemplate" type="emedsovet/template">
<div id="{{TabId}}" class="tab" data-room-id="{{RoomId}}">

    <div class="bordered-rounded chat" style="display: none;">

        <div class="incoming" data-room-id="{{RoomId}}" style="height: 200px; padding-left: 20px; overflow-x: hidden; overflow-y: scroll;">
        </div>
        <div class="overflow-hidden members" data-room-id="{{RoomId}}" style="height: 100px; border-top: 1px solid #EEEEEE;">
        </div>
        <div class="overflow-hidden" style="height: 100px; border-top: 1px solid #EEEEEE;">
            <textarea class="bold" data-room-id="{{RoomId}}" style="height: 90px; width: 98%;" placeholder="Введите сообщение" name="message"></textarea>
        </div>
        <div class="grey-dark-filled overflow-hidden" style="height: 40px; padding-left: 20px; padding-top: 20px;">

            <div class="left-aligned">
                <a href="#" data-room-id="{{RoomId}}" class="btn btn-find send">отправить</a>

            </div>
            <div class="right-aligned">
                <a href="#" data-room-id="{{RoomId}}" class="btn btn-find leave rightMargin">покинуть чат</a>
            </div>
        </div>
    </div>
</div>
</script>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap/js/bootstrap")
    @Scripts.Render("~/bundles/jcarousel")
    @Scripts.Render("~/bundles/fancybox/js")
    <script>

        (function ($, window, document, undefined) {
            $(function () {
                var Chat = {
                    init: function () {
                        this.joinLink = '@Html.Raw(Url.Action("JoinRoom", "Chat"))';
                        this.checkIfUserNameExistsLink = '@Html.Raw(Url.Action("CheckIfUserNameExists", "Chat"))';
                        this.checkIfRoomIdExistsLink = '@Html.Raw(Url.Action("CheckIfRoomIdExists", "Chat"))';
                        this.updateUserLink = '@Html.Raw(Url.Action("UpdateUser", "Chat"))';
                        this.sendLink = '@Html.Raw(Url.Action("SendMessage", "Chat"))';
                        this.leaveRoomLink = '@Html.Raw(Url.Action("LeaveRoom", "Chat"))';
                        this.updateRoomMembersLink = '@Html.Raw(Url.Action("UpdateRoomMembers", "Chat"))';
                        this.avatarLink = '@Html.Raw((string)ViewBag.AvatarUrl)';
                        this.allowedChars = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
                        this.chatCookieName = "chatCookie";
                        this.isConsultant = '@User.IsInRole("Consultant")';
                        this.userIdLength = 8;
                        this.roomIdLength = 20;
                        this.chatUsers = [];
                        this.userId = '';
                        this.roomId = '';
                        this.userName = '@(Model != null ? Model.GetFirstLastName() : string.Empty)';
                        this.msgTimer = '';
                        this.membersTimer = '';
                        this.cache();
                        this.isAuthenticated();
                        this.setJsScrollPane();
                        this.bindEvents();
                        return this;
                    },
                    cache: function () {
                        this.join = $('.join');
                        this.startPanel = $('.startPanel');
                        //this.chat = $('.chat');
                        //this.incoming = $('.incoming');
                        //this.send = $('.send');
                        //this.leave = $('.leave');
                        //this.message = $('textarea[name="message"]');
                        //this.members = $('.members');
                        this.chatTabTemplate = $('#chatTabTemplate');
                        this.tabNameTemplate = $('#tabNameTemplate');
                        this.tabsNamesContainer = $('.tabsNamesContainer');
                        this.chatTabs = $('#tabs');
                    },
                    setJsScrollPane: function () {
                        //this.incoming.jScrollPane();
                    },
                    bindEvents: function () {
                        this.join.on('click', $.proxy(this.joinEvent, this));
                        //this.send.on('click', $.proxy(this.sendEvent, this));
                        //this.leave.on('click', $.proxy(this.leaveEvent, this));
                    },
                    isAuthenticated: function () {
                        console.log($.cookie(this.chatCookieName));
                        if ($.cookie(this.chatCookieName) || this.isConsultant == 'True' || $.trim(this.userName) != '') {
                            this.joinEvent();
                        }
                    },
                    leaveEvent: function () {
                        var self = Chat,
                            link = this;
                        //e.preventDefault();
                        var roomId = $(link).data('roomId');
                        console.log('leave');
                        $.ajax({
                            type: "POST",
                            data: {
                                roomId: roomId,
                                userId: self.userId,
                            },
                            url: self.leaveRoomLink,
                            cache: false,
                            dataType: 'json',
                        }).done(function (data) {
                            self.stopTimers();
                            self.chat = $('.chat');
                            self.chat.slideUp('fast', function () {
                                self.startPanel.slideDown('fast');
                                //self.incoming.empty();
                                
                                self.incoming = $('.incoming');
                                $.each(self.incoming, function (keyIncoming, incoming) {
                                    if ($(incoming).data('roomId') == self.roomId) {
                                        $(incoming).empty();
                                    }
                                });
                                self.tabsNamesContainer.empty();
                                self.chatTabs.empty();
                            });
                            $.cookie(self.chatCookieName, null, { path: '/' });
                        });
                        return false;
                    },
                    sendEvent: function () {
                        var self = Chat,
                            link = this;
                        //e.preventDefault();
                        var roomId = $(link).data('roomId');
                        self.message = $('textarea[name="message"]');
                        var messageText = '';
                        $.each(self.message, function(keyMessage, message) {
                            if ($(message).data('roomId') == roomId) {
                                if ($.trim($(message).val()) == '') {
                                    alert('введите сообщение');
                                    return false;
                                }
                                else {
                                    messageText = $.trim($(message).val());
                                }
                            }
                        });
                        console.log('send');
                        //if ($.trim(this.message.val()) == '') {
                        //    alert('введите сообщение');
                        //    return false;
                        //}
                        $.ajax({
                            type: "POST",
                            data: {
                                msg: messageText,
                                roomId: roomId,
                                userId: self.userId,
                            },
                            url: self.sendLink,
                            cache: false,
                            dataType: 'json',
                        }).done(function (data) {
                            //console.log(data);
                            //console.log(self.incoming.html());
                            var view = data.replace(/{{Avatar}}/ig, '<img src="' + self.avatarLink + '" class="inline" style="width: 50px; height: 50px;" />');
                            //console.log(view);
                            self.incoming = $('.incoming');
                            $.each(self.incoming, function (keyIncoming, incoming) {
                                if ($(incoming).data('roomId') == self.roomId) {
                                    $(incoming).append(view);
                                    $(incoming).animate({ "scrollTop": self.incoming[0].scrollHeight }, 300);
                                }
                            });
                            //self.incoming.append(view);
                            //self.incoming.animate({ "scrollTop": self.incoming[0].scrollHeight }, 300);
                            self.message.val('');
                            //console.log(self.incoming.html());
                        });
                        return false;
                    },
                    joinEvent: function () {
                        var self = this;
                        //e.preventDefault();
                        console.log('join');
                        console.log($.cookie(this.chatCookieName));
                        
                        if (!$.cookie(this.chatCookieName)) {

                            do {

                                this.roomId = this.getRandomRoomId(this.roomIdLength);
                                console.log(this.roomId);
                            }
                            while (this.checkIfRoomIdExists(this.roomId));

                            do {

                                this.userId = this.getRandomUserId(this.userIdLength);
                                console.log(this.userId);
                            }
                            while (this.checkIfUserNameExists(this.userId, this.roomId));
                            if (this.isConsultant == 'True') {
                                this.userName = '@EMedSovet.Web.Resource.Chat.AdminsUser';
                        }
                        else {

                            if ($.trim(this.userName) == '') {
                                this.userName = $('input[name="userName"]').val();
                            }
                        }
                        console.log(this.userName);
                        if ($.trim(this.userName) == '') {
                            alert('введите имя');
                            return false;
                        }
                    }
                    else {
                            var chatusers = $.evalJSON($.cookie(this.chatCookieName));
                            console.log(chatusers);
                            
                            var chatCookie = $.evalJSON($.cookie(this.chatCookieName));
                        console.log(chatCookie);
                        this.userId = chatCookie.userId;
                        this.userName = chatCookie.userName;
                        this.roomId = chatCookie.roomId;

                        
                        }

                        $.when(
                            this.joinUser(this.userId, this.userName, this.avatarLink, this.roomId)
                        ).done(function (messages) {
                            console.log(messages);

                            var tabName = self.tabNameTemplate.html()
                                .replace(/{{TabId}}/ig, self.roomId)
                                .replace(/{{TabName}}/ig, self.userName);
                            self.tabsNamesContainer.append(tabName);
                            var tab = self.chatTabTemplate.html()
                                .replace(/{{TabId}}/ig, self.roomId)
                                .replace(/{{RoomId}}/ig, self.roomId);
                            self.chatTabs.append(tab);
                            self.startPanel.slideUp('fast', function () {
                                self.chat = $('.chat');
                                self.chat.slideDown('fast');
                                var view = messages.replace(/{{Avatar}}/ig, '<img src="' + self.avatarLink + '" class="inline" style="width: 50px; height: 50px;" />');
                                self.incoming = $('.incoming');
                                $.each(self.incoming, function(keyIncoming, incoming) {
                                    if ($(incoming).data('roomId') == self.roomId)
                                        $(incoming).append(view);
                                });
                                //self.incoming.append(view);
                                //self.incoming.jScrollPane();
                                //self.incoming.data('jsp').reinitialise();
                                self.send = $('.send');
                                self.send.unbind();
                                self.send.on('click', self.sendEvent);
                                self.leave = $('.leave');
                                self.leave.unbind();
                                self.leave.on('click', self.leaveEvent);
                                console.log(self.chatTabs.data("tabs"));
                                if (!self.chatTabs.data("tabs")) {
                                    self.chatTabs.tabs();
                                }
                                else {
                                    self.chatTabs.tabs("refresh");
                                }
                                
                            });
                            self.startTimers();
                            self.setCookie();
                            
                            //updateUser()
                        });
                        return false;
                    },
                    setUsersTabs:function() {
                        var self = Chat;
                        var chatUsers = $.evalJSON($.cookie(this.chatCookieName));
                        $.each(chatUsers, function (key, chatUser) {
                            var userId = chatUser.userId;
                            var userName = chatUser.userName;
                            var roomId = chatUser.roomId;
                            

                        });

                    },
                    setCookie: function () {
                        var chatCookie = { userId: this.userId, userName: this.userName, roomId: this.roomId };
                        this.chatUsers.push(chatCookie);
                        console.log(this.chatUsers);
                        $.cookie(this.chatCookieName, $.toJSON(this.chatUsers), { path: '/' });
                        console.log($.cookie(this.chatCookieName));
                    },
                    getRandomUserId: function (userIdLength) {
                        var userid = '';
                        //console.log(allowedChars.length);
                        for (var i = 0; i < userIdLength; i++) {
                            var randomIndex = Math.floor(Math.random() * this.allowedChars.length);
                            //console.log(randomIndex);
                            userid += this.allowedChars[randomIndex];
                        }
                        return userid;
                    },
                    getRandomRoomId: function (roomIdLength) {
                        var roomid = '';
                        //console.log(allowedChars.length);
                        for (var i = 0; i < roomIdLength; i++) {
                            var randomIndex = Math.floor(Math.random() * this.allowedChars.length);
                            //console.log(randomIndex);
                            roomid += this.allowedChars[randomIndex];
                        }
                        return roomid;
                    },
                    checkIfUserNameExists: function (userId, roomId) {
                        console.log('checking user');
                        $.ajax({
                            type: "POST",
                            data: {
                                userId: userId,
                                roomId: roomId,
                            },
                            url: this.checkIfUserNameExistsLink,
                            cache: false,
                            dataType: 'json',
                            async: false
                        }).done(function (isExists) {
                            console.log(isExists);
                            return isExists;
                        });
                    },
                    checkIfRoomIdExists: function (roomId) {
                        console.log('checking room');
                        $.ajax({
                            type: "POST",
                            data: {
                                roomId: roomId,
                            },
                            url: this.checkIfRoomIdExistsLink,
                            cache: false,
                            dataType: 'json',
                            async: false
                        }).done(function (isExists) {
                            console.log(isExists);
                            return isExists;
                        });
                    },

                    joinUser: function (userId, userName, avatarLink, roomId) {
                        return jQuery.ajax({
                            type: "POST",
                            data: {
                                userId: userId,
                                username: userName,
                                avatarLink: avatarLink,
                                roomId: roomId
                            },
                            url: this.joinLink,
                            cache: false,
                            dataType: 'json'
                        });
                    },
                    startTimers: function () {
                        this.msgTimer = window.setInterval("window.Chat.updateUser()", 3000);
                        this.membersTimer = window.setInterval("window.Chat.updateMembersList()", 3000);
                    },
                    stopTimers: function () {
                        window.clearInterval(this.msgTimer);
                        window.clearInterval(this.membersTimer);
                    },
                    updateUser: function () {
                        var self = this;
                        $.ajax({
                            type: "POST",
                            data: {
                                roomId: this.roomId,
                                userId: this.userId,
                            },
                            url: this.updateUserLink,
                            cache: false,
                            dataType: 'json',
                        }).done(function (data) {
                            console.log(data);
                            //stopTimers();
                            //var view = data.replace(/{{Avatar}}/ig, '<img src="' + self.avatarLink + '" class="inline" style="width: 50px; height: 50px;" />');
                            $.each(self.incoming, function(keyIncoming, incoming) {
                                if ($(incoming).data('roomId') == self.roomId) {
                                    //$(incoming).append(view);
                                    $(incoming).animate({ "scrollTop": self.incoming[0].scrollHeight }, 300);
                                    $(incoming).append(data);
                                }
                            });
                            //self.incoming.animate({ "scrollTop": self.incoming[0].scrollHeight }, 300);
                            //self.incoming.append(data);
                        });
                    },
                    updateMembersList: function () {
                        var self = this;
                        $.ajax({
                            type: "POST",
                            data: {
                                roomId: this.roomId,
                            },
                            url: this.updateRoomMembersLink,
                            cache: false,
                            dataType: 'json',
                        }).done(function (data) {
                            console.log(data);
                            //stopTimers();
                            self.members = $('.members');
                            $.each(self.members, function (keyMembers, member) {
                                if ($(member).data('roomId') == self.roomId) {
                                    //$(incoming).append(view);
                                    $(member).empty()
                                .append(data);
                                }
                            });

                            //self.members
                            //    .empty()
                            //    .append(data);
                        });
                    },
                };
                window.Chat = Chat.init();
            });
        })(jQuery, window, document);

    
    </script>
}