﻿@{
    ViewBag.Title = "DoctorCard";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}
<div class="row">
    <div class="span12 topMargin min-height-body">

        <div class="doctor-info">
            <div class="doctor-foto">
                <img src="~/Images/dr5.jpg" class="" />
            </div>
            <div class="doctor-summary">
                <p class="small">Образование</p>
                <p class="small">
                    1-ый Московский Медицинский институт, лечебный, психиатрия, наркология, психотерапия<br>
                    ГОДПО "Российская медю академия последипломного образования" Росздрава<br>
                </p>

                <p class="small">Опыт</p>
                <p class="small">
                    Врачебный стаж - 23 года<br>
                    Опубликовано 4 научные статьи<br>
                </p>
            </div>
            <div class="doctor-name">
                <p>
                    <span class="small bold">Иванова Мария Петровна
                    </span>
                    <br>
                    <span class="smallest italic bold">педиатр
                    </span>

                </p>
            </div>
        </div>
        <div class="doctor-info-body-subheader">
            <div class="right-aligned">
                @Html.ActionLink("вернуться к списку специалистов", "DoctorsList", "Doctor")
            </div>
        </div>
        <div class="doctor-info-body">
            <button class="btn btn-find" type="submit" title="Добавить">Добавить</button>
            &nbsp;<span><sup>*</sup> в закладку "Врачи" в вашем личном кабинете</span>
            <hr class="not-bordered grey-darkest grey-dark-filled hr-height" />
        </div>
        <div class="doctor-info-body">
            <button class="btn btn-find" type="submit" title="Позвонить">Позвонить</button>
            &nbsp;<span><sup>*</sup> не забудьте <a href="#">пополнить баланс</a></span>
            <hr class="not-bordered grey-darkest grey-dark-filled hr-height" />
            <p class="bold">
                Укажите время в которое с Вами удобно связаться
            </p>
            <p>
                <input type="radio" name="time" />&nbsp; с 9 до 15 часов<br />
                <input type="radio" name="time" />&nbsp; с 16 до 20 часов<br />
                <input type="radio" name="time" />&nbsp; в любое время<br />
            </p>

            <p>
                <span class="big bold">750</span> <span class="green">руб./мин.</span>
            </p>
            <hr class="not-bordered grey-darkest grey-dark-filled hr-height" />
            <button class="btn btn-find" type="submit" title="Написать">Написать</button>
            &nbsp;<span><sup>*</sup> не забудьте <a href="#">пополнить баланс</a></span>
            <p>

                <textarea rows="5" cols="50" style="width: 580px;" class="topMargin"></textarea>
            </p>

            <p>
                <span class="big bold">750</span> <span class="green">руб</span>
            </p>
        </div>

    </div>
</div>
