﻿@{
    ViewBag.Title = "HowToConsult";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">
            <dl class="small">
                
                <dt class="infoList"><a href="@Url.Action("ConsultTypes", "Home")" class="green bold">Узнать о типах советов и способах их получения.</a></dt>
                <dd class="infoText">Вы можете выбрать наиболее удобный для вас способ связаться с доктором: написать ему, 
позвонить или пообщаться в видео-чате.</dd>
                <dt class="infoList"><a href="@Url.Action("DoctorsList", "Doctor")"  class="green bold">Узнать о наших специалистах.</a></dt>
                <dd class="infoText">Выбрать доктора, к которому захотите обратиться за советом. 
На нашем сайте у вас есть уникальная возможность получить совет, 
без преувеличения, у светил отечественной и зарубежной медицины, 
не пускаясь в длительные путешествия и не записываясь на прием за полгода.</dd>
                <dt class="infoList"><a href="@Url.Action("ConsultTypes", "Home")"  class="green bold">Обратите внимание на стоимость совета.</a></dt>
                <dd class="infoText">Стоимость рекомендаций различных специалистов может разниться, 
                    в том числе, в зависимости от выбранного способа их получения.</dd>
                <dt class="infoList"><a class="fancybox green bold" href="#registrationForm">Зарегистрироваться.</a></dt>
                <dd class="infoText">Заполнение простой формы займет у вас не более пары минут</dd>
                <dt class="infoList"><a class="fancybox green bold" href="#registrationForm">Заполнить карточку пациента. </a></dt>
                <dd class="infoText">Это та информация, которую увидит выбранный вами специалист. 
                    Чем более подробно и детально вы ее заполните, тем меньше шансов останется на неэффективную консультацию.</dd>
                
                <dt class="infoList"><a class="fancybox green bold" href="#registrationForm">Написать или позвонить выбранному специалисту. и получить исчерпывающий ответ на свой вопрос. </a></dt>
                <dd class="infoText">Вы можете реализовать это непосредственно из списка специалистов, кликнув на иконку, 
                    соответствующую выбранному способуполучения совета, или воспользовавшись кнопками в карте доктора.
                </dd>
                
                <dt class="infoList"><a class="fancybox green bold" href="#registrationForm">Поблагодарить доктора. </a></dt>
                <dd class="infoText">Вы можете оставить отзыв на странице доктора или оценить качество полученного совета по предложенной шкале.
</dd>
            </dl>
            
        </div>
    </div>
</div>
@Html.Partial("_RegisterFormParial")
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap/js/bootstrap")
    @Scripts.Render("~/bundles/fancybox/js")
    <script>
        $(function() {
            $('.fancybox').fancybox();
            //$('.scroll-pane').jScrollPane();
            $('#buttonRegister').click(function(e) {
                e.preventDefault();
                if (!$('#formRegister input[name="IsPersonalDataConfirmed"]').is(':checked')) {
                    alert('Пожалуйста примите соглашение');
                    return false;
                }
                $('#formRegister').submit();
                return false;
            });




            function isValidEmailAddress(emailAddress) {
                var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
                return pattern.test(emailAddress);
            }
        });
    </script>
}