﻿@model EMedSovet.Web.Models.RegisterModel
@using EMedSovet.Web.Properties
@{
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Home Page";
}
@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
}
@section featured {
}

<div class="row">
    <div class="span12 bordered-rounded topMargin">
        <div class="row">
            <div class="span7">
                <div class="inner-margin">
                    <p class="green medium">Вас консультируют специалисты ведущих учреждений страны</p>
                    <p class="small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                    </p>

                </div>
            </div>
            <div class="span5 rounded grey-dark-filled intro-min-height">
                <div class="inner-margin">
                    <div style="float: left;">
                        <img src="~/Images/consultation.png" />
                    </div>
                    <div class="right-aligned text-right" style="padding-top: 10px;">
                        <p class="green medium">
                            Как получить<br>
                            консультацию?<br />
                            <span class="small">Инструкция</span>
                        </p>
                    </div>

                </div>
                <div class="inner-margin">
                    <hr />
                </div>
                <div class="inner-margin">
                    <div style="float: left;">
                        <img src="~/Images/karta.png" />
                    </div>
                    <div class="right-aligned text-right" style="padding-top: 10px;">
                        <p class="green medium">
                            Заполни карту<br>
                            пациента<br />
                            <span class="small">
                                @if (!Request.IsAuthenticated)
                                {
                                    <a class="fancybox" href="#registrationForm" title="Регистрация">Регистрация</a>
                                }
                            </span>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="span12 topMargin grey-light-filled">
        <div class="row topMargin">
            <div class="span3">
                <div class="inline-block">
                    <p class="green medium-small bold">Поиск врачей</p>
                </div>

            </div>
            <div class="span9">
                <div class="inline-block">
                    <span class="small">Сейчас онлайн: <span class="green underlined">4 врача
                    </span></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <div class="inline-block">
                    <select class="input-text" id="searchByDecease" placeholder="по заболеванию">
                        <option>Заболевание</option>
                        <option>Заболевание</option>
                        <option>Заболевание</option>
                        <option>Заболевание</option>
                        <option>Заболевание</option>
                    </select>
                </div>
            </div>
            <div class="span3">
                <div class="inline-block">
                    <select class="input-text" id="searchByName" placeholder="Имя">
                        <option>Имя</option>
                        <option>Имя</option>
                        <option>Имя</option>
                        <option>Имя</option>
                        <option>Имя</option>
                    </select>
                </div>
            </div>
            <div class="span3">
                <div class="inline-block">

                    <select class="input-text" id="searchBySpecialty" placeholder="Имя">
                        <option value="0">Специальности</option>
                        <optgroup label="А">
                            option value="1">акушер - гинеколог</option>
                                    <option value="2">аллерголог</option>
                            <option value="109">аллерголог детский</option>
                            <option value="110">андролог</option>
                            <option value="3">анестезиолог</option>
                        </optgroup>
                        <optgroup label="Б">
                            <option value="111">бактериолог</option>
                        </optgroup>
                        <optgroup label="В">
                            <option value="112">валеолог</option>
                            <option value="113">врач компьютерной и магнитно - резонансной томографии (КТ и МРТ)</option>
                            <option value="114">врач лучевой диагностики </option>
                            <option value="115">врач общей практики / семейный врач</option>
                            <option value="5">врач скорой и неотложной медицинской помощи</option>
                            <option value="66">врач ультразвуковой диагностики (УЗИ)</option>
                            <option value="67">врач функциональной диагностики</option>
                        </optgroup>
                        <optgroup label="Г">
                            <option value="6">гастроэнтеролог</option>
                            <option value="124">гематолог</option>
                            <option value="127">гинеколог</option>
                            <option value="130">гомеопат</option>
                            <option value="210">госпитальный эпидемиолог</option>
                        </optgroup>
                        <optgroup label="Д">
                            <option value="10">дерматовенеролог</option>
                            <option value="16">диабетолог</option>
                            <option value="17">диетолог (лечебное питание)</option>
                            <option value="133">диетолог детский (лечебное питание)</option>
                        </optgroup>
                        <optgroup label="И">
                            <option value="18">иммунолог</option>
                            <option value="19">инфекционист</option>
                            <option value="135">инфекционист детский</option>
                        </optgroup>
                        <optgroup label="К">
                            <option value="20">кардиолог</option>
                            <option value="11">кардиолог детский</option>
                            <option value="21">клинический фармаколог</option>
                            <option value="23">косметолог</option>
                        </optgroup>
                        <optgroup label="Л">
                            <option value="179">липидолог</option>
                        </optgroup>
                        <optgroup label="М">
                            <option value="142">маммолог</option>
                            <option value="25">мануальный терапевт</option>
                        </optgroup>
                        <optgroup label="Н">
                            <option value="44">нарколог</option>
                            <option value="31">невропатолог</option>
                            <option value="33">неонатолог</option>
                        </optgroup>
                        <optgroup label="О">
                            <option value="35">онколог</option>
                            <option value="38">оториноларинголог (ЛОР-врач)</option>
                            <option value="146">оториноларинголог (ЛОР-врач) детский</option>
                            <option value="39">офтальмолог</option>
                        </optgroup>
                        <optgroup label="П">
                            <option value="41">педиатр</option>
                            <option value="22">проктолог</option>
                            <option value="43">психиатр</option>
                            <option value="152">психиатр детский</option>
                            <option value="153">психолог</option>
                            <option value="45">психотерапевт</option>
                        </optgroup>
                        <optgroup label="Р">
                            <option value="156">радиохирург</option>
                            <option value="185">реабилитолог</option>
                            <option value="48">реаниматолог</option>
                            <option value="49">ревматолог</option>
                            <option value="50">рентгенолог</option>
                            <option value="51">рефлексотерапевт</option>
                        </optgroup>
                        <optgroup label="С">
                            <option value="159">санитарный врач</option>
                            <option value="52">сексопатолог</option>
                            <option value="181">семейный врач</option>
                            <option value="53">сердечно-сосудистый хирург</option>
                            <option value="57">специалист по клинической лабораторной диагностике</option>
                            <option value="118">специалист по лечебной физкультуре</option>
                            <option value="119">специалист по лечебной физкультуре детский</option>
                            <option value="62">специалист по применению клеточных технологий</option>
                            <option value="69">специалист по спортивной медицине</option>
                            <option value="229">спидолог</option>
                            <option value="73">стоматолог</option>
                            <option value="70">стоматолог детский</option>
                        </optgroup>
                        <optgroup label="Т">
                            <option value="78">терапевт</option>
                            <option value="81">травматолог - ортопед</option>
                        </optgroup>
                        <optgroup label="У">
                            <option value="83">уролог</option>
                        </optgroup>
                        <optgroup label="Х">
                            <option value="86">хирург</option>
                        </optgroup>
                        <optgroup label="Э">
                            <option value="87">эндокринолог</option>
                            <option value="14">эндокринолог детский</option>
                            <option value="68">эндоскопист</option>
                            <option value="176">эпидемиолог</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="span3">
                <a class="btn btn-find right-aligned rightMargin" href="@Url.Action("DoctorsList", "Doctor")"><i class="icon-search icon-white"></i>найти</a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <ul id="mycarousel" class="jcarousel-skin-tango">
                    <li>
                        <div class="doctor-brief">
                            <img src="~/Images/dr1.jpg" width="195" height="120" alt="" />
                            <p class="green smallest centered underlined">
                                Витальченко Екатерина Михайловна<br>
                                <span class="smallest">Врач-педиатор
                                </span>
                            </p>
                        </div>

                    </li>
                    <li>
                        <div class="doctor-brief">
                            <img src="~/Images/dr2.jpg" width="195" height="120" alt="" />
                            <p class="green smallest centered underlined">
                                Витальченко Екатерина Михайловна<br>
                                <span class="smallest">Врач-педиатор
                                </span>
                            </p>
                        </div>

                    </li>
                    <li>
                        <div class="doctor-brief">
                            <img src="~/Images/dr3.jpg" width="195" height="120" alt="" />
                            <p class="green smallest centered underlined">
                                Витальченко Екатерина Михайловна<br>
                                <span class="smallest">Врач-педиатор
                                </span>
                            </p>
                        </div>

                    </li>
                    <li>
                        <div class="doctor-brief">
                            <img src="~/Images/dr4.jpg" width="195" height="120" alt="" />
                            <p class="green smallest centered underlined">
                                Витальченко Екатерина Михайловна<br>
                                <span class="smallest">Врач-педиатор
                                </span>
                            </p>
                        </div>

                    </li>
                    <li>
                        <div class="doctor-brief">
                            <img src="~/Images/dr5.jpg" width="195" height="120" alt="" />
                            <p class="green smallest centered underlined">
                                Витальченко Екатерина Михайловна<br>
                                <span class="smallest">Врач-педиатор
                                </span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="doctor-brief">
                            <img src="~/Images/dr6.jpg" width="195" height="120" alt="" />
                            <p class="green smallest centered underlined">
                                Витальченко Екатерина Михайловна<br>
                                <span class="smallest">Врач-педиатор
                                </span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="doctor-brief">
                            <img src="~/Images/dr7.jpg" width="195" height="120" alt="" />
                            <p class="green smallest centered underlined">
                                Витальченко Екатерина Михайловна<br>
                                <span class="smallest">Врач-педиатор
                                </span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="doctor-brief">
                            <img src="~/Images/dr8.jpg" width="195" height="120" alt="" />
                            <p class="green smallest centered underlined">
                                Витальченко Екатерина Михайловна<br>
                                <span class="smallest">Врач-педиатор
                                </span>
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12 topMargin bordered-rounded centered tabs-background uppercase rightMargin leftMargin">
        <p class="medium-small" style="margin-top: 10px;">
            НЕ ЗНАЕТЕ К КАКОМУ СПЕЦИАЛИСТУ ОБРАТИТСЯ?&nbsp;&nbsp;
            <a href="#" class="green">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ ОНЛАЙН</a>

        </p>
    </div>
</div>


<div class="row">
    <div class="span12 topMargin">
        <div class="row">
            <div class="span8">
                <ul class="nav nav-tabs" id="Tabs">
                    <!--<li class="active"><a href="#home">Home</a></li>-->
                    <li class="nav-tabs-wide"><a href="#home">НОВОСТИ</a></li>
                    <li class="nav-tabs-wide"><a href="#profile">ЧТО ТАКОЕ МЕДСОВЕТ?</a></li>
                    <li class="nav-tabs-wide"><a href="#messages">ВОПРОСЫ-ОТВЕТЫ</a></li>
                </ul>
            </div>
            <div class="span4">
                ПРИЕМ ЭЛЕКТРОННЫХ <span class="green">ПЛАТЕЖЕЙ</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span8">
                <div class="tab-content">
                    <div class="tab-pane active scroll-pane" id="home">
                        <p class="green medium">Партнерская программа</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />

                        <p class="green medium">Новости</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />
                        <p class="green medium">Новости партнеров</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                    </div>
                    <div class="tab-pane scroll-pane" id="profile">
                        <p class="green medium">Помощь online консультанта</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />

                        <p class="green medium">Новости</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />
                        <p class="green medium">Новости партнеров</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                    </div>
                    <div class="tab-pane scroll-pane" id="messages">
                        <p class="green medium">Вопросы и отзывы</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />

                        <p class="green medium">Новости</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />
                        <p class="green medium">Новости партнеров</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <p class="small topMarginSmall" style="padding-right: 20px;">
                    EMedSovet позволяет принимать платежи от пользователей в любой электронной валюте, с помощью смс сообщений, через систему денежных переводов Contact, через терминалы электронной оплаты, а также с помощью банковских карт
                </p>
                <p class="small topMarginSmall uppercase">
                    Электронные валюты:
                </p>
            </div>
            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/webmoney.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        WebMoney
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/yandex.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Яндекс деньги
                    </div>
                </div>
            </div>


            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/money.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 0px;">
                        Moneymail RUR
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/bystro.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Быстро деньги
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/master.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 10px;">
                        Master Card
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/visa.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Visa
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/western.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Western Union
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/rbk.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Rbk
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/contakt.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Contact
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="registrationForm hidden" id="registrationForm">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new Dictionary<string, object> { { "id", "formRegister" } }))
    {
        @Html.AntiForgeryToken()
@*Html.ValidationSummary()*@

        <dl>
            <dt>@Html.LabelFor(m => m.UserName)</dt>
            <dd>@Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </dd>
            <dt>@Html.LabelFor(m => m.Email)</dt>
            <dd>@Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </dd>
            <dt>@Html.LabelFor(m => m.Password)</dt>
            <dd>@Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </dd>
            <dt>@Html.LabelFor(m => m.ConfirmPassword)</dt>
            <dd>@Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </dd>

            <dt>@Resources.Terms</dt>
            <dd>
                @Html.TextArea("Aggrements", Html.Partial("_TermsConditions").ToString(), 4, 30, null)

            </dd>
        </dl>
        <div class="overflow-hidden full-width">
            <div class="right-aligned smallest">
                @Html.ActionLink("Посмотреть в новом окне", "TermsConditions", "Home", null, new Dictionary<string, object> { { "target", "_blank" } })
            </div>

        </div>
        <div class="overflow-hidden full-width">
            <div class="left-aligned">
                <img src="~/Images/logo.png" width="50" height="50" />
                <span class="small bold">EMedSovet</span>
            </div>
            <div class="right-aligned accepted">
                @Html.CheckBoxFor(m => m.IsPersonalDataConfirmed)&nbsp;<span class="smallest">Принять условия соглашения</span><br />
                @Html.ValidationMessageFor(m => m.IsPersonalDataConfirmed)
            </div>

        </div>
        <div class="overflow-hidden full-width topMargin">
            <div class="right-aligned">
                <input type="submit" value="Зарегистрироваться" class="btn btn-find" id="buttonRegister" />
            </div>
        </div>
        
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap/js/bootstrap")
    @Scripts.Render("~/bundles/jcarousel")
    @Scripts.Render("~/bundles/fancybox/js")
    <script>
        $(function () {
            $('.fancybox').fancybox();
            //$('.scroll-pane').jScrollPane();
            $('#myTab a:first').tab('show');
            $('#Tabs a:first').tab('show');
            $("#home").jScrollPane();
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                console.log($(this));
                //$(this).jScrollPane();
            });
            $('#Tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');

                var selectorTab = $(this).attr('href');
                $(selectorTab).jScrollPane();
            });

            $('#mycarousel').jcarousel({
                visible: 4
            }
            );
            $('#buttonRegister').click(function (e) {
                e.preventDefault();
                if (!$('input#IsPersonalDataConfirmed').is(':checked')) {
                    alert('Пожалуйста примите соглашение');
                    return false;
                }
                $('#formRegister').submit();
            });


        });
    </script>
}
