﻿@{
    ViewBag.Title = "MoreInfo";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
    <div class="leftMargin inner-body">
        More info
        </div>
    </div>
</div>
