﻿@{
    ViewBag.Title = "PatientCard";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}
<div class="row">
    <div class="span12  bordered-rounded topMargin">
        <div class="row">
            <div class="span3">
                <div class="inner-margin">
                    <img src="~/Images/patient.jpg" class="rounded" width="150" height="150" />

                </div>
            </div>
            <div class="span6">
                <div class="inner-margin">
                    <div style="float: left;">
                        <p class="medium-small">ФИО</p>
                        <p class="medium-small">
                            Пол : женский<br>
                            Возраст : 52<br>
                            Рост : 162<br>
                            Вес : 74<br>
                            Род занятий : служащий<br>
                            Номер полиса : 35435476573<br>
                        </p>

                    </div>

                </div>
            </div>
            <div class="span3">
                <div class="inner-margin">
                    <div style="float: left;">
                        <p class="medium-small">Тамара Ивановна Л.</p>
                        <p class="medium-small">
                            <button class="btn btn-find edit-card-button-width" type="submit" name="increaseBalance" title="пополнить баланс">пополнить баланс</button>
                        </p>
                        <p class="medium-small">
                            <button class="btn btn-find edit-card-button-width" type="submit" name="increaseBalance" title="редактировать">редактировать</button>
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="inner-margin">
            <div class="left-aligned">
                <ul class="nav nav-tabs" id="cardTabs">
                    <!--<li class="active"><a href="#home">Home</a></li>-->
                    <li><a href="#">Карта</a></li>
                    <li><a href="#">Документы</a></li>
                    <li><a href="#">Сообщения</a></li>
                </ul>
            </div>

            <div class="right-aligned">
                @Html.ActionLink("вернуться к списку специалистов", "Index", "Home")
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="span12 cardEditForm">
        <div class="inner-margin">
            <p class="smallest green">Неоходимо заполнить все поля анкеты</p>

            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new Dictionary<string, object> { { "id", "formRegister" } }))
            {
                @Html.AntiForgeryToken()
@*Html.ValidationSummary()*@
            
                <dl>
                    <dt>
                        <span class="medium-small span-label">Жалобы в наcтоящее время:</span>&nbsp;<select>
                            <option>Список жалоб</option>
                            <option>Список жалоб</option>
                            <option>Список жалоб</option>
                            <option>Список жалоб</option>
                            <option>Список жалоб</option>
                        </select>
                    </dt>
                    <dd>@Html.TextArea("test1", string.Empty, 4, 30, null)
                    </dd>
                    <dt>
                        <span class="medium-small span-label">Когда впервые появились:</span>&nbsp;<select>
                        </select>
                    </dt>
                    <dd>@Html.TextArea("test2", string.Empty, 4, 30, null)
                    </dd>
                    <dt>
                        <span class="medium-small span-label">Какие обследования прводились:</span>&nbsp;<select>
                        </select>

                    </dt>
                    <dd>@Html.TextArea("test3", string.Empty, 4, 30, null)
                    </dd>
                    <dt>
                        <span class="medium-small span-label">Какой диагноз поставлен:</span>&nbsp;<select>
                        </select>

                    </dt>
                    <dd>@Html.TextArea("test4", string.Empty, 4, 30, null)
                    </dd>

                    <dt>
                        <span class="medium-small span-label">Какое лечение проводилось:</span>&nbsp;<select>
                        </select>

                    </dt>
                    <dd>
                        @Html.TextArea("test5", string.Empty, 4, 30, null)

                    </dd>
                    <dt>
                        <span class="medium-small span-label">Сопутствующие заболевания:</span>&nbsp;<select>
                        </select>

                    </dt>
                    <dd>
                        @Html.TextArea("test6", string.Empty, 4, 30, null)

                    </dd>
                    <dt>
                        <span class="medium-small span-label">Сопутствующая терапия:</span>&nbsp;<select>
                        </select>

                    </dt>
                    <dd>
                        @Html.TextArea("test7", string.Empty, 4, 30, null)

                    </dd>
                    <dt>
                        <span class="medium-small span-label">Операции и госпитализации в прошлом:</span>&nbsp;<select>
                        </select>

                    </dt>
                    <dd>
                        @Html.TextArea("test8", string.Empty, 4, 30, null)

                    </dd>
                    <dt>
                        <span class="medium-smal span-labell">Аллергия:</span>&nbsp;<select>
                        </select>

                    </dt>
                    <dd>
                        @Html.TextArea("test8", string.Empty, 4, 30, null)

                    </dd>
                </dl>
                <div class="overflow-hidden full-width topMargin">
                    <div class="right-aligned rightMargin">
                        <input type="submit" value="Сохранить" class="btn btn-find" id="buttonSave" />
                    </div>
                </div>
        
            }
        </div>
    </div>
</div>
