﻿@{
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Payment";
}

@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
}
@section featured {
}

<div class="row">
    <div class="span12 topMargin">
      <img src="~/Images/payment.png" alt=""/>
    </div>
</div>
