﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TermsConditions</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap/css/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h2>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ
        </h2>
        @Html.Partial("_TermsConditions")
    </div>
</body>
</html>
