﻿@{
    ViewBag.Title = "VideoChat";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin rightMargin inner-body">
            <div class="text-left-aligned">
                <span class="green medium bold">Звонок помощнику</span>
            </div>
            <!--<div class="text-right-aligned">
                <span class="smallest">Вас консультирует <span class="green">Иван Петров</span></span>
            </div>-->
            <div class="bordered-rounded">
                <div class="" style="height:300px; padding-left: 20px;">
                    <img src="~/Images/video-chat.jpg" class="inline"/> Здравствуйте! Чем я могу вам помочь?
                </div>
                <div class="grey-dark-filled" style="height:40px;padding-left: 20px;padding-top: 20px;">
                    
                    <!--<div class="left-aligned">
                        Оцените консультацию
                    </div>-->
                    <div class="left-aligned" style="margin-left: 0px;">
                        <!--<a href="@Url.Action("Login","Account")" class="doctor-card-summary-btn-width">вернуться на главную</a>-->
                        <a href="@Url.Action("Login","Account")" class="btn btn-find btn-mini">вернуться на главную</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>