﻿@model EMedSovet.Web.Models.MessageAnswer
@using EMedSovet.Web.Resource
<div class="answerForm hidden" id="answerForm">

    <div class="formAnswerContainer">
        @using (Html.BeginForm("AnswerMessage", "Message", FormMethod.Post, new Dictionary<string, object> { { "id", "formAnswer" } }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model =>  model.MessageId)

            <p class="right-aligned"></p>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Text)</dt>
                <dd>
                    @Html.TextAreaFor(model => model.Text, new Dictionary<string, object> { { "style", "width: 600px; height: 100px;vertical-align:top;" } })
                    @Html.ValidationMessageFor(model => model.Text)
                </dd>
            </dl>
            <div class="overflow-hidden full-width topMargin">
                <div class="right-aligned">
                    <input type="submit" value="@Contact.SendButton" class="btn btn-find" id="buttonAnswerSend" />
                </div>
            </div>
        }
    </div>
    <div class="formAnswerThankyou" style="display:none;">
        <p>
            Спасибо за обращение! Администратор ознакомится с ним и ответит вам
        </p>
    </div>
</div>
