﻿@model IEnumerable<EMedSovet.Web.Models.Message>
@using EMedSovet.Web.Helpers


@{
    ViewBag.Title = "MyMessages";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">
            <p class="big green bold topMargin">Мои сообщения</p>
            <table>
                <tr>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.To)
                    </th>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.From)
                    </th>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th style="width: 150px;">
                        @Html.DisplayNameFor(model => model.Text)
                    </th>
                    <th style="width: 80px;">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th style="width: 50px;">&nbsp;
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            @(item.UserProfileTo != null && !string.IsNullOrWhiteSpace(item.UserProfileTo.GetFirstLastName()) ? item.UserProfileTo.GetFirstLastName() : EMedSovet.Web.Resource.Message.NoReceiver)

                        </td>
                        <td>
                            @(item.UserProfileFrom != null && !string.IsNullOrWhiteSpace(item.UserProfileFrom.GetFirstLastName()) ? item.UserProfileFrom.GetFirstLastName() : EMedSovet.Web.Resource.Message.NoSender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.Raw(item.Text)
                        </td>
                        <td>
                            @(item.CreatedAt.HasValue ? item.CreatedAt.Value.ToString("dd/MM/yyyy") : string.Empty)
                        </td>
                        <td>
                            @{
                    if (item.IsLeaf && item.To.HasValue && item.To.Value == (int)ViewBag.UserId || item.IsLeaf && item.IsRoot && item.To.HasValue && item.To.Value == (int)ViewBag.UserId)
                    {
                                <a href="#answerForm" class="btn btn-mini btn-find fancybox answerButon" data-message-id="@item.MessageId">ответить</a>
                    }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            @{
                    foreach (var message in item.MessagesAnswer)
                    {
                                @Html.Raw(Html.Tree(string.Empty, message, (int)ViewBag.UserId, null))
                    }
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
@Html.Action("AnswerForm")
@section scripts{
    <script type="text/javascript">
        $('.answerButon').click(function (e) {
            //e.preventDefault();
            $('input[name="MessageId"]').val($(this).data('messageId'));
            console.log($('input[name="MessageId"]').val());
            return true;
        });

        @* //$('.fancybox').fancybox();
        $.each($('.fancybox'), function (key, fancybox) {
            if ($(fancybox).attr('href') == '#contactForm') {
                $(fancybox).fancybox({
                    beforeLoad: function () {
                        $('.formContactThankyou').hide();
                        $('.formContactContainer').show();
                        return true;
                    },

                });
            }
            else {
                $(fancybox).fancybox();
            }
        });

        $('#buttonRegister').click(function (e) {
            e.preventDefault();
            if (!$('#formRegister input[name="IsPersonalDataConfirmed"]').is(':checked')) {
                alert('Пожалуйста примите соглашение');
                return false;
            }
            $('#formRegister').submit();
            return false;
        });

        $('.logoff').click(function (e) {
            e.preventDefault();
            $.cookie("chatCookie", null, { path: '/' });
            $('#logoutForm').submit();
            return false;
        });
        $('.culture').click(function (e) {
            e.preventDefault();
            //console.log($(event.target).data('lang'));
            $.ajax({
                type: "POST",
                data: {
                    culture: $(e.target).data('lang'),
                },
                url: '@Url.Action("ChangeCulture","Locale")',
                cache: false,
                dataType: 'json',
            }).done(function (data) {
                //$.cookie("language", $(event.target).data('lang'), { path: '/' });
                window.location.reload();
            });
            return false;
        });

        $('#buttonContanctSend').click(function (e) {
            e.preventDefault();
            //console.log($(event.target).data('lang'));
            if (!$('#formContact').valid()) {
                return false;
            }
            $.ajax({
                type: "POST",
                data: $('#formContact').serialize(),
                url: '@Url.Action("SendMessageToAllAdminUsers","Message")',
                cache: false,
                dataType: 'json',
            }).done(function (data) {
                //$.cookie("language", $(event.target).data('lang'), { path: '/' });
                //console.log('test');
                $('.formContactContainer').slideUp('fast', function () {
                    $('.formContactThankyou').slideDown('fast');
                });
            });
            return false;
        });*@

    </script>
}