﻿@model EMedSovet.Web.Models.Patient

<dt>@Html.LabelFor(model => model.UserProfile.UserName)</dt>
<dd>@Html.DropDownList("UserId", String.Empty)
    @Html.ValidationMessageFor(model => model.UserId)</dd>

<dt>@Html.LabelFor(model => model.Height)</dt>
<dd>@Html.EditorFor(model => model.Height)
    @Html.ValidationMessageFor(model => model.Height)</dd>

<dt>@Html.LabelFor(model => model.Weight)</dt>
<dd>@Html.EditorFor(model => model.Weight)
    @Html.ValidationMessageFor(model => model.Weight)</dd>

<dt>@Html.LabelFor(model => model.IsActive)</dt>
<dd>
    @Html.DropDownList("IsActive", (SelectList)ViewBag.ConfirmationList)
    @Html.ValidationMessageFor(model => model.IsActive)</dd>

<dt>@Html.LabelFor(model => model.Occupation)</dt>
<dd>@Html.TextAreaFor(model => model.Occupation, 100, 100, new Dictionary<string, object>() { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Occupation)</dd>
