﻿@model EMedSovet.Web.Models.Patient

<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.Complains)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.Complains, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Complains)</dd>


<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.TimeOfFirstAppearance)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.TimeOfFirstAppearance, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.TimeOfFirstAppearance)</dd>

<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.Survey)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.Survey, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Survey)</dd>

<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.Diagnosis)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.Diagnosis, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Diagnosis)</dd>

<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.Treatment)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.Treatment, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Treatment)</dd>

<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.Surgery)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.Surgery, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Surgery)</dd>
<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.Allergy)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.Allergy, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Allergy)</dd>
<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.PhysicalExaminationData)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.PhysicalExaminationData, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.PhysicalExaminationData)</dd>

<dt>
    <a href="#" class="moreinfo green bold medium-small">
        @Html.DisplayNameFor(model => model.MoreInfo)&nbsp;<img src="~/Images/arrow_green.png" class="inline" />
    </a>
</dt>
<dd class="hidden">
    @Html.TextAreaFor(model => model.MoreInfo, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.MoreInfo)</dd>
<!--<div class="editor-label">
    Симптомы
</div>
<div class="editor-field">
    @Html.ListBox("Symptoms", (MultiSelectList)ViewBag.SymptomsList)
    @*Html.ListBoxFor(m => m.Specialty, (MultiSelectList)ViewBag.Specialties)*@
</div>-->
