﻿@using System.Globalization
@using EMedSovet.Web.Properties
@model EMedSovet.Web.Models.Patient

<div class="doctor-info">
    <div class="doctor-foto">
        @*<img src="@Url.Content(string.Format("~/Files/Patient/{0}/Photo/{1}", Model.PatientId, Model.Foto))" class="" style="width:195px;height:120px;" />*@
        <img src="@Url.Content(string.Format("~/Files/Patient/{0}/Photo/{1}", Model.PatientId, Model.Foto))" class="" />
    </div>
    <div class="doctor-card-summary" style="width: 500px;">
        <div class="doctor-card-summary-row">
            <span class="small bold">@{
                if (Model.UserProfile != null)
                {
                <text>@Model.UserProfile.GetFullName()</text>
                }
            }
            </span>
            <br>
            <br />
            <span class="smallest italic bold">@*Пол: @(Model.UserProfile != null && Model.UserProfile.Gender != null ? Model.UserProfile.Gender.GetFirstLastName() : Resources.NoData)<br>*@
                @Html.DisplayNameFor(m => m.UserProfile.Age): @(Model.UserProfile != null && Model.UserProfile.Age.HasValue ? Model.UserProfile.Age.Value.ToString() : Resources.NoData)<br>
                @Html.DisplayNameFor(m => m.Height): @(Model.Height != 0 ? Model.Height.ToString(CultureInfo.InvariantCulture) : Resources.NoData)<br>
                @Html.DisplayNameFor(m => m.Weight): @(Model.Weight != 0 ? Model.Weight.ToString(CultureInfo.InvariantCulture) : Resources.NoData)<br>
                @Html.DisplayNameFor(m => m.Occupation): @(!string.IsNullOrWhiteSpace(Model.Occupation) ? Model.Occupation : Resources.NoData)<br>
            </span>
        </div>
    </div>
</div>

<div class="doctor-body">

    <div class="doctor-fields">
        <div class="">
            <p class="green bold medium">
                <a href="#" class="moreinfo">Что беспокоит&nbsp;
                </a>
                <img src="~/Images/arrow_green.png" class="inline" />
            </p>
            <dl class="hidden">

                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Complains)
                </dt>
                <dd>@Html.Raw(!string.IsNullOrWhiteSpace(Model.Complains) ? Model.Complains : Resources.NoData)
                </dd>
                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.TimeOfFirstAppearance)
                </dt>
                <dd>@Html.Raw(!string.IsNullOrWhiteSpace(Model.TimeOfFirstAppearance) ? Model.TimeOfFirstAppearance : Resources.NoData)

                </dd>
                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Survey)
                </dt>
                <dd>@Html.Raw(!string.IsNullOrWhiteSpace(Model.Survey) ? Model.Survey : Resources.NoData)

                </dd>
                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Diagnosis)
                </dt>
                <dd>@Html.Raw(!string.IsNullOrWhiteSpace(Model.Diagnosis) ? Model.Diagnosis : Resources.NoData)

                </dd>
                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Treatment)
                </dt>
                <dd>

                    @Html.Raw(!string.IsNullOrWhiteSpace(Model.Treatment) ? Model.Treatment : Resources.NoData)
                </dd>
                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Surgery)
                </dt>
                <dd>
                    @Html.Raw(!string.IsNullOrWhiteSpace(Model.Surgery) ? Model.Surgery : Resources.NoData)
                </dd>
                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Allergy)
                </dt>
                <dd>
                    @Html.Raw(!string.IsNullOrWhiteSpace(Model.Allergy) ? Model.Allergy : Resources.NoData)
                </dd>
                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.PhysicalExaminationData)
                </dt>
                <dd>
                    @Html.Raw(!string.IsNullOrWhiteSpace(Model.PhysicalExaminationData) ? Model.PhysicalExaminationData : Resources.NoData)
                </dd>
                <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.MoreInfo)
                </dt>
                <dd>
                    @Html.Raw(!string.IsNullOrWhiteSpace(Model.MoreInfo) ? Model.MoreInfo : Resources.NoData)

                </dd>

            </dl>
        </div>
    </div>
</div>
