﻿@model EMedSovet.Web.Models.Patient

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/jHtmlArea/style/css")
}
<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            @using (Html.BeginForm("Create", "Patient", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("Common")
                <fieldset>
                    <legend>Создать доктора</legend>
                    <a href="#" class="green bold medium-small commonInfoLink">Общая информация&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a>
                    <dl class="commonInfo">
                        <dt class="medium bold topMargin">@Html.LabelFor(model => model.UserProfile.FirstName)</dt>
                        <dd>
                            <input type="text" name="FirstName" value="" /></dd>
                        <dt class="medium bold topMargin">@Html.LabelFor(model => model.UserProfile.SecondName)</dt>
                        <dd>
                            <input type="text" name="SecondName" value="" /></dd>
                        <dt class="medium bold topMargin">@Html.LabelFor(model => model.UserProfile.Surname)</dt>
                        <dd>
                            <input type="text" name="Surname" value="" /></dd>

                        <dt>@Html.LabelFor(model => model.UserProfile.Gender)</dt>
                        <dd>
                            @Html.DropDownList("GenderId", (SelectList)ViewBag.Gender)</dd>

                        <dt>@Html.LabelFor(model => model.UserProfile.Age)</dt>
                        <dd>
                            <input type="text" name="Age" value="" /></dd>
                        @Html.Partial("_CreateEditPatientCommonInfo")

                    </dl>
                    <dl class="doctor-edit-labels">


                        @Html.Partial("_CreateEditPatientPartial")
                    </dl>

                    <p>
                        <input type="submit" value="Создать" class="btn btn-find" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Список пациентов", "Index")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('.commonInfoLink').on('click', function () {
            //console.log('gdgdgd');
            $.each($('.commonInfo'), function (key, commonInfo) {
                if ($(commonInfo).is(':visible')) {
                    $(commonInfo).slideUp('fast');
                }
                else {
                    $(commonInfo).slideDown('fast');
                }
            });
            return false;

        });

        $('.moreinfo').on('click', function (e) {
            e.preventDefault();
            //console.log($(this).parent().next());
            if ($.trim($(this).parent().next().html()) == '') return false;
            if ($(this).parent().next().is(':visible')) {
                $(this).parent().next().slideUp('fast');
            }
            else {
                $(this).parent().next().slideDown('fast');
            }

            return false;
        });

    </script>
}
