﻿@using EMedSovet.Web.Properties
@model EMedSovet.Web.Models.Patient

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}
<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <h3>@Resources.ConfirmDeleteMessage</h3>
            @Html.ValidationMessage("Common")
            @Html.Partial("_DetailsPartial")
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Удалить" class="btn btn-find" />
                    |
        @Html.ActionLink("Список пациентов", "Index")
                </p>
            }
        </div>
    </div>
</div>
@section scripts
{

    <script type="text/javascript">
        $(function () {


            $('.moreinfo').on('click', function (e) {
                e.preventDefault();
                //console.log($(this).parent().next());
                if ($.trim($(this).parent().next().html()) == '') return false;
                if ($(this).parent().next().is(':visible')) {
                    $(this).parent().next().slideUp('fast');
                }
                else {
                    $(this).parent().next().slideDown('fast');
                }

                return false;
            });

            $('.moreinfoPatient').on('click', function (e) {
                e.preventDefault();
                //console.log($(this).parent().next());
                var content = $(this).parent().parent().next();
                if ($.trim(content.html()) == '') return false;
                if (content.is(':visible')) {
                    content.slideUp('fast');
                }
                else {
                    content.slideDown('fast');
                }

                return false;
            });
        });

    </script>
}