﻿@using EMedSovet.Web.Upload
@model EMedSovet.Web.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
    @Html.Partial("_UploadFilePartialStyles")
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            @Html.Partial("_DetailsPartial")
             <div class="display-label green medium bold  topMargin">
                Копии документов
            </div>
            <div class="display-field">
                @Html.Action("UploadFiles", "Patient", new RouteValueDictionary { { "id", Model.PatientId } })
            </div>
            <p>
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.PatientId }) |
            @Html.ActionLink("Список пациентов", "Index")
            </p>

        </div>
    </div>
</div>
@section scripts
{

    @Html.Partial("_UploadFilesPartialScripts")
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Upload/UploadHandler.ashx")",
                data: { UploadOwnerType: '@UploadOwnerType.Patient.ToString()', UploadOwnerId: "@Model.PatientId" },
                dataType: "json",
                context: $('#fileupload')[0]
            }).done(function (files) {
                //$(this).addClass("done");
                //console.log(files);
                //console.log($('#fileupload').data('fileupload'));
                //$('#fileupload').data('fileupload')._renderDownload(files);
                //$('#fileupload').data('fileupload').done(null, files);
                //console.log($(this).fileupload('option', 'done'));
                $(this).fileupload('option', 'done')
                    .call(this, null, { result: files });
                $('tr.template-download > td.delete').hide();
                $('div.fileupload-buttonbar').hide();
                $('input[name="confirm"]').hide();
                $('input[name="confirm"]').next().hide();

            });
            

            $('.moreinfo').on('click', function (e) {
                e.preventDefault();
                //console.log($(this).parent().next());
                if ($.trim($(this).parent().next().html()) == '') return false;
                if ($(this).parent().next().is(':visible')) {
                    $(this).parent().next().slideUp('fast');
                }
                else {
                    $(this).parent().next().slideDown('fast');
                }

                return false;
            });

            $('.moreinfoPatient').on('click', function (e) {
                e.preventDefault();
                //console.log($(this).parent().next());
                var content = $(this).parent().parent().next();
                if ($.trim(content.html()) == '') return false;
                if (content.is(':visible')) {
                    content.slideUp('fast');
                }
                else {
                    content.slideDown('fast');
                }

                return false;
            });
        });

    </script>
}