﻿@using System.Globalization
@using EMedSovet.Web.Upload
@model EMedSovet.Web.Models.Patient

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jHtmlArea/style/css")
    @Html.Partial("_UploadFilePartialStyles")
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            @using (Html.BeginForm("Edit", "Patient", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("Common")
                @Html.HiddenFor(model => model.PatientId)
                @Html.HiddenFor(model => model.Foto)
                <a href="#" class="green bold medium-small commonInfoLink">Общая информация&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a>
                <dl class="commonInfo">
                    <dt>@Html.LabelFor(model => model.UserProfile.FirstName)</dt>
                    <dd>
                        <input type="text" name="FirstName"  value="@Model.UserProfile.FirstName"/></dd>
                    <dt>@Html.LabelFor(model => model.UserProfile.SecondName)</dt>
                    <dd>
                        <input type="text" name="SecondName" value="@Model.UserProfile.SecondName"/></dd>
                    <dt>@Html.LabelFor(model => model.UserProfile.Surname)</dt>
                    <dd>
                        <input type="text" name="Surname" value="@Model.UserProfile.Surname"/></dd>

                    <dt>@Html.LabelFor(model => model.UserProfile.Gender)</dt>
                    <dd>
                        @Html.DropDownList("GenderId", (SelectList)ViewBag.Gender)</dd>

                    <dt>@Html.LabelFor(model => model.UserProfile.Age)</dt>
                    <dd>
                        <input type="text" name="Age" value="@(Model.UserProfile != null && Model.UserProfile.Age.HasValue ? Model.UserProfile.Age.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)" /></dd>
                    @Html.Partial("_CreateEditPatientCommonInfo")

                </dl>
                <dl>
                    @Html.Partial("_CreateEditPatientPartial")
                </dl>
                    
                <p>
                    <input type="submit" value="Сохранить" class="btn btn-find" />
                </p>
            }

            <div>
                @Html.ActionLink("Список пациентов", "Index")
            </div>

            <div>
                @Html.Action("UploadFiles", "Patient", new RouteValueDictionary { { "id", Model.PatientId } })
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jHtmlArea/js")
    @Html.Partial("_UploadFilesPartialScripts")
    <script type="text/javascript">
        $(function () {
            $("textarea").htmlarea(); // Initialize all TextArea's as jHtmlArea's with default values
            var photosExtension = [".png", ".jpg", ".gif"];
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Upload/UploadHandler.ashx")",
                data: { UploadOwnerType: '@UploadOwnerType.Patient.ToString()', UploadOwnerId: "@Model.PatientId" },
                dataType: "json",
                context: $('#fileupload')[0]
            }).done(function (files) {
                //$(this).addClass("done");
                console.log(files);
                //console.log($('#fileupload').data('fileupload'));
                //$('#fileupload').data('fileupload')._renderDownload(files);
                //$('#fileupload').data('fileupload').done(null, files);

                $(this).fileupload('option', 'done')
                .call(this, null, { result: files });
                $('input[name="confirm"]').on('click', function () {
                    //console.log('gdgdgd');
                    console.log($(this).data('fileName'));
                    $('input[name="Foto"]').val($(this).data('fileName'));
                });
                $('input[name="confirm"]').hide();
                $('input[name="confirm"]').next().hide();
                $.each($('input[name="confirm"]'), function (key, input) {
                    $.each(photosExtension, function (keyExt, extension) {
                        //console.log($(input).data('fileName'));
                        //console.log(extension);
                        //console.log($(input).data('fileName').indexOf(extension));
                        if ($(input).data('fileName').indexOf(extension) > -1) {
                            $(input).show();
                            $(input).next().show();
                            if ($('input[name="Foto"]').val() == $(input).data('fileName')) {
                                $(input).attr('checked', 'checked');
                            }
                        }

                    });
                });

            });


            $('.commonInfoLink').on('click', function () {
                //console.log('gdgdgd');
                $.each($('.commonInfo'), function (key, commonInfo) {
                    if ($(commonInfo).is(':visible')) {
                        $(commonInfo).slideUp('fast');
                    }
                    else {
                        $(commonInfo).slideDown('fast');
                    }
                });
                return false;

            });

            $('.moreinfo').on('click', function (e) {
                e.preventDefault();
                //console.log($(this).parent().next());
                if ($.trim($(this).parent().next().html()) == '') return false;
                if ($(this).parent().next().is(':visible')) {
                    $(this).parent().next().slideUp('fast');
                }
                else {
                    $(this).parent().next().slideDown('fast');
                }

                return false;
            });


        });

    </script>


}
