﻿@using EMedSovet.Web.Properties
@model IEnumerable<EMedSovet.Web.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">


            <p>
                @Html.ActionLink("Создать пациента", "Create")
            </p>
            <table>
                <tr>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.Foto)
                    </th>
                    <th style="width: 200px;">ФИО
                    </th>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.UserProfile.UserName)
                    </th>
                    <th style="width: 50px;">
                        @Html.DisplayNameFor(model => model.UserProfile.Gender)
                    </th>
                    <th style="width: 50px;">
                        @Html.DisplayNameFor(model => model.Height)
                    </th>
                    <th style="width: 50px;">
                        @Html.DisplayNameFor(model => model.Weight)
                    </th>
                    <th style="width: 200px;"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (string.IsNullOrWhiteSpace(item.Foto))
                            {
                                <text>no image</text>
                            }
                            else
                            {
                                <img src="@Url.Content(string.Format("~/Files/Patient/{0}/Photo/{1}", item.PatientId, item.Foto))" class="" style="width:100px;height:100px;" />
                            }

                        </td>
                        <td>
                            @if (item.UserProfile != null)
                            {
                                <text>@string.Format("{0} {1} {2}", item.UserProfile.Surname, item.UserProfile.FirstName, item.UserProfile.SecondName)</text>
                            }
                            else
                            {
                                @Resources.NoData
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                        </td>

                        <td>
                            @(item.UserProfile != null ? item.UserProfile.Gender.GetFullName() : Resources.NoData)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Height)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weight)
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.PatientId }) |
                        @Html.ActionLink("Детали", "Details", new { id = item.PatientId }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.PatientId })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
