﻿@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">
            <h2>Что вы можете сделать дальше</h2>

            <dl>
                <dt class="infoList">@Html.ActionLink("Пройти в ваш личный кабинет", "PersonalArea", "Patient", null, new Dictionary<string, object> { { "class", "" } })</dt>
                <dd class="infoText">Это ваша личная крепость, ваше почтовое отделение,  банк и библиотека.</dd>
                <dt class="infoList">@Html.ActionLink("Заполнить карточку пациента", "FillPatientCard", "Patient", null, new Dictionary<string, object> { { "class", "" } })</dt>
                <dd class="infoText">Это та информация, которую увидит выбранный вами специалист. Чем более подробно и детально вы ее заполните, тем меньше шансов останется на неэффективную консультацию.</dd>
                <dt class="infoList">@Html.ActionLink("Узнать о типах консультаций и способах их получения", "", "", null, new Dictionary<string, object> { { "class", "" } })</dt>
                <dd class="infoText">Вы можете выбрать наиболее удобный для вас способ связаться с доктором.</dd>
                <dt class="infoList">@Html.ActionLink("Узнать о наших специалистах", "", "", null, new Dictionary<string, object> { { "class", "" } })</dt>
                <dd class="infoText">Выбрать доктора для консультации.</dd>
            </dl>
        </div>
    </div>
</div>
