﻿@using System.Globalization
@using EMedSovet.Web.Properties
@using EMedSovet.Web.Upload
@model EMedSovet.Web.Models.Patient
@{
    ViewBag.Title = "PersonalCard";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}


@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
    @Html.Partial("_UploadFilePartialStyles")
}


<div class="row">
    <div class="span12 topMargin min-height-body">
        <div class="doctor-info">
            <div class="doctor-foto">
                @*<img src="@Url.Content(string.Format("~/Files/Patient/{0}/Photo/{1}", Model.PatientId, Model.Foto))" class="" style="width:195px;height:120px;" />*@
                <img src="@Url.Content(string.Format("~/Files/Patient/{0}/Photo/{1}", Model.PatientId, Model.Foto))" class="" />
            </div>
            <div class="doctor-card-summary">
                <div class="doctor-card-summary-row">
                    <span class="small bold">@{
                        if (Model.UserProfile != null)
                        {
                        <text>@Model.UserProfile.GetFullName()</text>
                        }
                    }
                    </span>
                    <br>
                    <br />
                    <span class="smallest italic bold">@*Пол: @(Model.UserProfile != null && Model.UserProfile.Gender != null ? Model.UserProfile.Gender.GetFirstLastName() : Resources.NoData)<br>*@
                        @Html.DisplayNameFor(m => m.UserProfile.Age): @(Model.UserProfile != null && Model.UserProfile.Age.HasValue ? Model.UserProfile.Age.Value.ToString() : Resources.NoData)<br>
                        @Html.DisplayNameFor(m => m.Height): @(Model.Height != 0 ? Model.Height.ToString(CultureInfo.InvariantCulture) : Resources.NoData)<br>
                        @Html.DisplayNameFor(m => m.Weight): @(Model.Weight != 0 ? Model.Weight.ToString(CultureInfo.InvariantCulture) : Resources.NoData)<br>
                        @Html.DisplayNameFor(m => m.Occupation): @(!string.IsNullOrWhiteSpace(Model.Occupation)? Model.Occupation : Resources.NoData)<br>
                    </span>
                </div>
            </div>
        </div>
        <!--<div class="doctor-info-body-subheader">
            <div class="right-aligned">
                @Html.ActionLink("вернуться к списку специалистов", "DoctorsList", "Doctor")
            </div>
        </div>-->
        <div class="doctor-body">

            <div class="doctor-fields">
                <div class="">
                    <p class="green bold medium">
                        <a href="#" class="moreinfo">Что беспокоит&nbsp;
                        </a>
                        <img src="~/Images/arrow_green.png" class="inline" />
                    </p>
                    <dl class="hidden">

                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Complains)
                        </dt>
                        <dd>@Html.Raw(!string.IsNullOrWhiteSpace(Model.Complains) ? Model.Complains : Resources.NoData)
                        </dd>
                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.TimeOfFirstAppearance)
                        </dt>
                        <dd>@Html.Raw(!string.IsNullOrWhiteSpace(Model.TimeOfFirstAppearance) ? Model.TimeOfFirstAppearance : Resources.NoData)

                        </dd>
                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Survey)
                        </dt>
                        <dd>@Html.Raw(!string.IsNullOrWhiteSpace(Model.Survey) ? Model.Survey : Resources.NoData)

                        </dd>
                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Diagnosis)
                        </dt>
                        <dd>@Html.Raw(!string.IsNullOrWhiteSpace(Model.Diagnosis) ? Model.Diagnosis : Resources.NoData)

                        </dd>
                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Treatment)
                        </dt>
                        <dd>

                            @Html.Raw(!string.IsNullOrWhiteSpace(Model.Treatment) ? Model.Treatment : Resources.NoData)
                        </dd>
                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Surgery)
                        </dt>
                        <dd>
                            @Html.Raw(!string.IsNullOrWhiteSpace(Model.Surgery) ? Model.Surgery : Resources.NoData)
                        </dd>
                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.Allergy)
                        </dt>
                        <dd>
                            @Html.Raw(!string.IsNullOrWhiteSpace(Model.Allergy) ? Model.Allergy : Resources.NoData)
                        </dd>
                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.PhysicalExaminationData)
                        </dt>
                        <dd>
                            @Html.Raw(!string.IsNullOrWhiteSpace(Model.PhysicalExaminationData) ? Model.PhysicalExaminationData : Resources.NoData)
                        </dd>
                        <dt class="bold small topMargin">@Html.DisplayNameFor(m => m.MoreInfo) 
                        </dt>
                        <dd>
                            @Html.Raw(!string.IsNullOrWhiteSpace(Model.MoreInfo) ? Model.MoreInfo : Resources.NoData)

                        </dd>

                    </dl>

                    <dl>
                        <dt class="bold medium topMargin">Советует специалист</dt>

                        @foreach (var advice in Model.Advices.OrderByDescending(a => a.CreatedAt))
                        {

                            if (advice.Doctor != null && advice.Doctor.UserProfile != null)
                            {
                            <dd class=""><a href="@Url.Action("DoctorCard", "Doctor")" class="moreinfo" target="_blank">
                                <text>@advice.Doctor.UserProfile.GetFullName()</text>
                                <img src="~/Images/arrow_green.png" class="inline" />

                            </a></dd>
                            <dd class="hidden">
                                <section style="width: 200px; display: inline-block;">
                                    <span class="green">Сообщения</span><br />
                                    1 новое сообщение
                                </section>
                                <section style="width: 200px; display: inline-block;">
                                    <span class="green">Аудио-чат</span><br />
                                    1 неотвеченный звонок
                                </section>
                                <section style="width: 200px; display: inline-block;">
                                    <span class="green">Видео-чат</span><br />
                                    Новых запросов не было
                                </section>
                            </dd>
                            }
                        }

                        <!--<dd class=""><a href="#" class="moreinfo">Замятина Антонина Вениаминовна&nbsp;
                                         <img src="~/Images/arrow_green.png" class="inline" />

                        </a></dd>
                        <dd class="hidden">
                            <section style="width: 200px; display: inline-block;">
                                <span class="green">Сообщения</span><br />
                                1 новое сообщение
                            </section>
                            <section style="width: 200px; display: inline-block;">
                                <span class="green">Аудио-чат</span><br />
                                1 неотвеченный звонок
                            </section>
                            <section style="width: 200px; display: inline-block;">
                                <span class="green">Видео-чат</span><br />
                                Новых запросов не было
                            </section>
                        </dd>-->
                    </dl>
                    <a href="#" onclick="return false;" class="btn btn-find btn-mini">Что еще беспокоит – добавить новый раздел. </a>

                </div>


            </div>

            <div class="doctor-brief">
                <dl>
                    <!--<dt>Врачи</dt>
                        <dd>Замятина Антонина Вениаминовна</dd>
                        <dd><a href="#">переписка,</a> <a href="#">звонки,</a>  <a href="#">видео-чаты</a></dd>-->
                    <dt>Сообщения</dt>
                    <dd>Входящие 12</dd>
                    <dd>Исходящие 13</dd>
                    <dd>Уведомления 5</dd>
                    <dt>Баланс</dt>
                    <dd>История платежей</dd>
                    <dd>Пополнить баланс</dd>
                    <dd>&nbsp;</dd>
                    <dd><a href="@Url.Action("EditPersonalArea", "Patient")" class="btn btn-find">редактировать записи</a></dd>
                </dl>
            </div>


        </div>
        <div class="doctor-body">
            <dl>
                <dt class="green bold medium topMargin">Загруженные документы
                </dt>
            </dl>
            <section>
                @Html.Action("UploadFiles", "Patient")
            </section>
        </div>
    </div>
</div>
<!--<div class="row">
        <div class="span12 topMargin min-height-body">
            <div class="doctor-info">
                <div class="doctor-foto">
                    <img src="~/Images/patient.jpg" class="" width="150" height="150" />
                </div>
                <div class="doctor-summary">
                    <p class="small">ФИО</p>
                    <p class="small">
                        Пол: женский<br>
                                    Возраст: 52<br>
                                               Рост: 162<br>
                                                        Вес: 52<br>
                    </p>

                </div>
                <div class="doctor-name">
                    <p>
                        <span class="small bold">Тамара Ивановна Л.
                        </span>
                        <br>
                        <span class="smallest">1 новое сообщение
                        </span>

                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <a class="btn btn-find кшпре-aligned" href="">Пополнить баланс</a>
                    </p>
                </div>
            </div>
            <div class="doctor-body">
                <div class="doctor-brief">
                    <dl>
                        <dt>Личная карточка</dt>
                        <dd>Информация <a href="#" class="green">редактировать</a></dd>
                        <dd>Документы <a href="#" class="">редактировать</a></dd>
                        <dt>Врачи</dt>
                        <dd>Иванова Мария Павловна - хирург</dd>
                        <dd>Витальченко Екатерина Михайловна - врач-педиатор</dd>
                        <dt>Сообщения</dt>
                        <dd>Входящие 12</dd>
                        <dd>Исходящие 13</dd>
                        <dd>Уведомления 5</dd>
                        <dt>Баланс</dt>
                        <dd>На вашем счету 960 рублей <a href="#" class="">пополнить</a></dd>
                    </dl>
                </div>
                <div class="doctor-fields">
                    <div class="leftMargin">
                        <p>Информация</p>
                        <p class="tiny green">Необходимо заполнить все поля анкеты</p>
                        <p>
                            Жалобы в настоящее время
                            <select class="input-text" id="searchByDecease" placeholder="список жалоб">
                                <option>список жалоб</option>
                                <option>список жалоб</option>
                                <option>список жалоб</option>
                                <option>список жалоб</option>
                                <option>список жалоб</option>
                            </select>
                        </p>
                        <textarea style="width: 450px; height: 80px;"></textarea>
                        <p>Когда впервые появились</p>
                        <textarea style="width: 450px; height: 80px;"></textarea>
                        <p>Какие обследования проводились</p>
                        <textarea style="width: 450px; height: 80px;"></textarea>
                        <p>Какой диагноз поставлен</p>
                        <textarea style="width: 450px; height: 80px;"></textarea>
                        <p>
                            Какое лечение проводилось
                            <select class="input-text" id="searchByDecease" placeholder="лечение">
                                <option>лечение</option>
                                <option>лечение</option>
                                <option>лечение</option>
                                <option>лечение</option>
                                <option>лечение</option>
                            </select>
                        </p>
                        <textarea style="width: 450px; height: 80px;"></textarea>
                        <p>
                            Сопутсвующие заболевания
                            <select class="input-text" id="searchByDecease" placeholder="заболевания">
                                <option>заболевания</option>
                                <option>заболевания</option>
                                <option>заболевания</option>
                                <option>заболевания</option>
                                <option>заболевания</option>
                            </select>
                        </p>
                        <textarea style="width: 450px; height: 80px;"></textarea>
                        <p>
                            Сопутсвующая терапия
                            <select class="input-text" id="searchByDecease" placeholder="терапия">
                                <option>терапия</option>
                                <option>терапия</option>
                                <option>терапия</option>
                                <option>терапия</option>
                                <option>терапия</option>
                            </select>
                        </p>
                        <textarea style="width: 450px; height: 80px;"></textarea>
                    </div>

                </div>
            </div>

        </div>
    </div>-->



@section scripts
{

    @Html.Partial("_UploadFilesPartialScripts")
    <script type="text/javascript">
        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Upload/UploadHandler.ashx")",
                //data: { name: "John", location: "Boston" },
                dataType: "json"
            }).done(function (data) {
                //$(this).addClass("done");
                console.log(data);
            }); $.ajax({
                type: "GET",
                url: "@Url.Content("~/Upload/UploadHandler.ashx")",
                data: { UploadOwnerType: '@UploadOwnerType.Patient.ToString()', UploadOwnerId: "@Model.PatientId" },
                dataType: "json",
                context: $('#fileupload')[0]
            }).done(function (files) {
                //$(this).addClass("done");
                console.log(files);
                //console.log($('#fileupload').data('fileupload'));
                //$('#fileupload').data('fileupload')._renderDownload(files);
                //$('#fileupload').data('fileupload').done(null, files);

                $(this).fileupload('option', 'done')
                .call(this, null, { result: files });
                $('tr.template-download > td.delete').hide();
                $('div.fileupload-buttonbar').hide();
                $('input[name="confirm"]').hide();
                $('input[name="confirm"]').next().hide();

            });
        });

    </script>
    <script type="text/javascript">


        $('.moreinfo').on('click', function (e) {
            e.preventDefault();
            //console.log($(this).parent().next());
            if ($.trim($(this).parent().next().html()) == '') return false;
            if ($(this).parent().next().is(':visible')) {
                $(this).parent().next().slideUp('fast');
            }
            else {
                $(this).parent().next().slideDown('fast');
            }

            return false;
        });

        $('.moreinfoPatient').on('click', function (e) {
            e.preventDefault();
            //console.log($(this).parent().next());
            var content = $(this).parent().parent().next();
            if ($.trim(content.html()) == '') return false;
            if (content.is(':visible')) {
                content.slideUp('fast');
            }
            else {
                content.slideDown('fast');
            }

            return false;
        });

    </script>
}