﻿@{
    ViewBag.Title = "PersonalCard";
    Layout = "~/Views/Shared/_Main.cshtml";
}


@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}

<div class="row">
    <div class="span12 topMargin min-height-body">
        <div class="doctor-info">
            <div class="doctor-foto">
                <img src="~/Images/patient.jpg" class="" width="150" height="150" />
            </div>
            <div class="doctor-summary">
                <p class="small">ФИО</p>
                <p class="small">
                    Пол: женский<br>
                    Возраст: 52<br>
                    Рост: 162<br>
                    Вес: 52<br>
                </p>

            </div>
            <div class="doctor-name">
                <p>
                    <span class="small bold">Тамара Ивановна Л.
                    </span>
                    <br>
                    <span class="smallest">1 новое сообщение
                    </span>

                </p>
                <p>
                    <br />
                </p>
                <p>
                    <br />
                </p>
                <p>
                    <a class="btn btn-find кшпре-aligned" href="">Пополнить баланс</a>
                </p>
            </div>
        </div>
        <div class="doctor-body">
            <div class="doctor-brief">
                <dl>
                    <dt>Личная карточка</dt>
                    <dd>Информация <a href="#" class="green">редактировать</a></dd>
                    <dd>Документы <a href="#" class="">редактировать</a></dd>
                    <dt>Врачи</dt>
                    <dd>Иванова Мария Павловна - хирург</dd>
                    <dd>Витальченко Екатерина Михайловна - врач-педиатор</dd>
                    <dt>Сообщения</dt>
                    <dd>Входящие 12</dd>
                    <dd>Исходящие 13</dd>
                    <dd>Уведомления 5</dd>
                    <dt>Баланс</dt>
                    <dd>На вашем счету 960 рублей <a href="#" class="">пополнить</a></dd>
                </dl>
            </div>
            <div class="doctor-fields">
                <div class="leftMargin">
                    <p>Информация</p>
                    <p class="tiny green">Необходимо заполнить все поля анкеты</p>
                    <p>
                        Жалобы в настоящее время
                        <select class="input-text" id="searchByDecease" placeholder="список жалоб">
                            <option>список жалоб</option>
                            <option>список жалоб</option>
                            <option>список жалоб</option>
                            <option>список жалоб</option>
                            <option>список жалоб</option>
                        </select>
                    </p>
                    <textarea style="width: 450px; height: 80px;"></textarea>
                    <p>Когда впервые появились</p>
                    <textarea style="width: 450px; height: 80px;"></textarea>
                    <p>Какие обследования проводились</p>
                    <textarea style="width: 450px; height: 80px;"></textarea>
                    <p>Какой диагноз поставлен</p>
                    <textarea style="width: 450px; height: 80px;"></textarea>
                    <p>
                        Какое лечение проводилось
                        <select class="input-text" id="searchByDecease" placeholder="лечение">
                            <option>лечение</option>
                            <option>лечение</option>
                            <option>лечение</option>
                            <option>лечение</option>
                            <option>лечение</option>
                        </select>
                    </p>
                    <textarea style="width: 450px; height: 80px;"></textarea>
                    <p>
                        Сопутсвующие заболевания
                        <select class="input-text" id="searchByDecease" placeholder="заболевания">
                            <option>заболевания</option>
                            <option>заболевания</option>
                            <option>заболевания</option>
                            <option>заболевания</option>
                            <option>заболевания</option>
                        </select>
                    </p>
                    <textarea style="width: 450px; height: 80px;"></textarea>
                    <p>
                        Сопутсвующая терапия
                        <select class="input-text" id="searchByDecease" placeholder="терапия">
                            <option>терапия</option>
                            <option>терапия</option>
                            <option>терапия</option>
                            <option>терапия</option>
                            <option>терапия</option>
                        </select>
                    </p>
                    <textarea style="width: 450px; height: 80px;"></textarea>
                </div>

            </div>
        </div>

    </div>
</div>

