﻿@model EMedSovet.Web.Models.Specialty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">
            <fieldset>
                <legend>Детали</legend>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </fieldset>
            <p>
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.SpecialtyId }) |
    @Html.ActionLink("Список специальностей", "Index")
            </p>

        </div>
    </div>
</div>
