﻿@green-color: #00A062;
@yellow-color: yellow;
@grey-dark-color: #C7C7C7;
@grey-light-color: #EEEEEE;
@grey-darkest-color: darken(@grey-dark-color,50%);
@white: #FFFFFF;
@black: #000000;
@margin: 20px;
@margin-small: 10px;
@margin-smallest: 5px;
@min-height: 220px;
@doctor-brief-size: 195px;
.rounded-corners (@radius:5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}
.links (@linkcolor) {
    color: @linkcolor;
    text-decoration: none;
    &:hover {
        color: darken(@linkcolor,20%);
        .underlined;
    }
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 12px;
    color: Black;
    background: url('../Images/body_bkgr.png') repeat left top;
    min-width: 1200px;
}
.loginView, footer, .subheader-container {
    background: url('../Images/body_bkgr.png') repeat left top;
}
.rowExternal {
    background-color: @white;
}
.container {
    background-color: @white;
}
.rounded {
    .rounded-corners;
}
.hr-height {
    height: 1px;
}
.not-bordered {
    border: 0px solid #DDD;
}
.bordered {
    border: solid 1px @grey-dark-color;
}
.bordered-rounded {
    .bordered();
    .rounded-corners;
}
.italic {
    font-style: italic;
}
.big {
    font-weight: normal;
    font-size: 32px;
}
.medium {
    font-weight: normal;
    font-size: 24px;
}
.medium-small {
    font-weight: normal;
    font-size: 16px;
}
.small {
    font-weight: normal;
    font-size: 14px;
}
.smaller {
    font-weight: normal;
    font-size: 13px;
}
.smallest {
    font-weight: normal;
    font-size: 12px;
}
.tiny {
    font-weight: normal;
    font-size: 10px;
}
.bold {
    font-weight: bold;
}
.underlined {
    text-decoration: underline;
}
.not-underlined {
    text-decoration: none;
}
.centered {
    text-align: center;
}
.text-right-aligned {
    text-align: right;
}
.text-left-aligned {
    text-align: left;
}
.word-wrap-break {
    word-wrap: break-word;
    word-break: break-all;
}
.green {
    color: @green-color;
}
.yellow {
    color: @yellow-color;
}
.yellow-dark {
    color: darken(@yellow-color,10%);
}
.grey-darkest {
    color: darken(@grey-dark-color,50%);
}
.grey-dark {
    color: @grey-dark-color;
}
.grey-light {
    color: @grey-light-color;
}
.uppercase {
    text-transform: uppercase;
}
.intro-min-height {
    min-height: @min-height;
}
.min-height-body {
    min-height: 500px;
    overflow: hidden;
}
.inner-margin {
    margin: @margin;
    overflow: hidden;
}
.inner-margin-small {
    margin: (@margin/4);
    overflow: hidden;
}
.margin {
    margin: @margin;
}
.topMargin {
    margin-top: @margin;
}
.bottomMargin {
    margin-bottom: @margin;
}
.bottomMarginNone {
    margin-bottom: 0;
}
.leftMarginNone {
    margin-left: 0;
}
.rightMarginNone {
    margin-left: 0;
}
.topMarginSmall {
    margin-top: @margin-small;
}
.topMarginSmallest {
    margin-top: @margin-smallest;
}
.bottomMarginSmall {
    margin-bottom: @margin-small;
}
.rightMarginSmall {
    margin-right: @margin-small;
}
.leftMarginSmall {
    margin-left: @margin-small;
}
.rightMargin {
    margin-right: @margin;
}
.leftMargin {
    margin-left: @margin;
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.grey-dark-filled {
    background-color: @grey-dark-color;
}
.grey-darkest-filled {
    background-color: @grey-darkest-color;
}
.grey-light-filled {
    background-color: @grey-light-color;
}
.green-filled {
    background-color: @green-color;
}
.inline-block {
    display: inline-block;
    margin-left: @margin;
}
.inline {
    display: inline-block;
}
.right-aligned {
    float: right;
}
.left-aligned {
    float: left;
}
.overflow-hidden {
    overflow: hidden;
}
.hidden {
    display: none;
}
.full-width {
    width: 100%;
}
.nav-tabs > li, .nav-pills > li {
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header-breadcrump {
}
hr {
    margin: 10px 0;
}
input {
    width: 150px;
}
.input-text {
    width: 180px;
}
.input-search-query {
    width: 120px;
}
.input-search {
    width: 70px;
}
.breadcrump-socials {
    background-color: transparent;
    margin: 0;
    padding: 2px 5px;
    .divider {
        padding: 0 2px;
    }
}
.edit-card-button-width {
    width: 160px;
}
.externalLoginForm {
    margin-left: 0px;
    margin-bottom: 10px;
}
.nav-tabs-wide {
    width: 33%;
    text-align: center;
}
.text-right {
    text-align: right;
}
a {
    .links(@green-color);
}
.btn-find.active {
    color: rgba(255,255,255,0.75);
}
.btn-find {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #00A062;
    *background-color: #00A062;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#00A062),to(#00A062));
    background-image: -webkit-linear-gradient(top,#00A062,#00A062);
    background-image: -o-linear-gradient(top,#00A062,#00A062);
    background-image: linear-gradient(to bottom,#00A062,#00A062);
    background-image: -moz-linear-gradient(top,#00A062,#00A062);
    background-repeat: repeat-x;
    border-color: #00A062 #00A062 #00A062;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-find:hover, .btn-find:active, .btn-find.active, .btn-find.disabled, .btn-find[disabled] {
    color: #ffffff;
    background-color: #00A062;
    *background-color: #00A062;
}
.btn-find:active, .btn-find.active {
    background-color: #00A062;
}
.innerForm() {
    padding-left: 15px;
    padding-right: 15px;
    dl {
        margin-bottom: 5px;
        dt {
            label {
                .bold();
            }
        }
        dd {
            margin-left: 0;
            input, textarea {
                width: 100%;
            }
        }
    }
    div.accepted {
        margin-top: 15px;
        input {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    img {
        .inline;
        margin-left: 0px;
        margin-right: 10px;
    }
}
.registrationForm {
    width: 600px;
    .innerForm();
}
.contactForm {
    width: 600px;
    .innerForm();
}
.consultInstruction {
    width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    a {
        .links(darken(@grey-dark-color,50%));
        //text-decoration: underline;
    }
    ul li {
        list-style-image: url('../Images/green-dot.png');
        margin-top: @margin;
    }
}
.cardEditForm {
    width: 100%;
    dl {
        margin-bottom: 5px;
        dt {
            .span-label {
                width: 300px;
                margin-left: 0;
            }
            select {
                width: 200px;
            }
        }
        dd {
            margin-left: 0;
            input, textarea {
                width: 930px;
            }
        }
    }
    div.accepted {
        margin-top: 15px;
        input {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    img {
        .inline;
        margin-left: 0px;
        margin-right: 10px;
    }
}
span.field-validation-error {
    color: red;
    font-size: 11px;
}
.tab-content {
    margin-left: 20px;
}
.tab-pane {
    height: 600px;
}
.tabs-background {
    background: #ffffff;
    background: -moz-linear-gradient(top,#ffffff 0%,#f1f1f1 32%,#d1d1d1 66%,#f6f6f6 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(32%,#f1f1f1),color-stop(66%,#d1d1d1),color-stop(100%,#f6f6f6));
    background: -webkit-linear-gradient(top,#ffffff 0%,#f1f1f1 32%,#d1d1d1 66%,#f6f6f6 100%);
    background: -o-linear-gradient(top,#ffffff 0%,#f1f1f1 32%,#d1d1d1 66%,#f6f6f6 100%);
    background: -ms-linear-gradient(top,#ffffff 0%,#f1f1f1 32%,#d1d1d1 66%,#f6f6f6 100%);
    background: linear-gradient(to bottom,#ffffff 0%,#f1f1f1 32%,#d1d1d1 66%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#f6f6f6',GradientType=0 );
}
ul.nav-tabs {
    li.tabEmpty {
        background: #ffffff;
        border: 1px solid #DDD;
        border-bottom-color: transparent;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        background: url('../Images/body_bkgr.png') repeat left top;
    }
    li {
        .tabs-background();
        a {
            border: 1px solid #DDD;
        }
    }
}
.doctor-foto {
    .rounded();
    .bordered();
    .margin();
    .inline();
    .left-aligned();
    .overflow-hidden();
    width: 195px;
    height: 195px;
    background: #ffffff;
    //.tabs-background();
}
.doctor-body {
    .bottomMargin();
    .leftMargin();
    .rightMargin();
    .overflow-hidden();
    dt {
        .green();
    }
    dt:first-child {
    }
    dd {
        .smallest();
    }
}
.doctor-info {
    .rounded();
    .bordered();
    .margin();
    .tabs-background();
    .overflow-hidden();
}
.doctor-info-body-subheader {
    .smallest();
    .margin();
    .overflow-hidden();
    a {
        .links(@grey-darkest-color);
        text-decoration: underline;
    }
}
.doctor-info-body {
    .smallest();
    .margin();
    .overflow-hidden();
    width: 600px;
    a {
        .links(@grey-darkest-color);
        text-decoration: underline;
    }
    ul {
        list-style-image: none;
    }
}
.doctor-card-info-body {
    .smallest();
    .margin();
    .overflow-hidden();
    a {
        .links(@grey-darkest-color);
        text-decoration: underline;
    }
    ul {
        list-style-image: none;
    }
}
.doctor-summary {
    .left-aligned();
    .inline();
    .topMargin();
    width: 400px;
}
.doctor-card-summary {
    .left-aligned();
    .inline();
    .topMargin();
    width: 650px;
}
.doctor-card-summary-row {
    .left-aligned();
    .overflow-hidden();
    .bottomMarginSmall();
    width: 650px;
}
.doctor-card-summary-button-container {
    .left-aligned();
    width: 120px;
}
.doctor-card-summary-button-label-container {
    .left-aligned();
    .overflow-hidden();
    margin-top: 5px;
    width: 530px;
}
.doctor-card-summary-btn-width {
    width: 70px;
}
.doctor-name {
    .right-aligned();
    .inline();
    .topMargin();
    .rightMargin();
    .text-right-aligned();
    width: 200px;
}
.doctor-brief {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: @grey-dark-color;
    .right-aligned();
    .inline();
    .topMargin();
    width: 300px;
    padding-left: 20px;
}
.doctor-icon {
    float: left;
    width: 195px;
}
.doctor-description {
    width: 650px;
    .overflow-hidden();
}
.doctor-description-buttons {
    width: 125px;
    .overflow-hidden();
}
.doctor-fields {
    width: 550px;
    .left-aligned();
}
.doctor-carousel-icon {
    background-color: white;
}
.subheaderform {
    hr {
        margin-top: 0px;
        margin-bottom: 5px;
    }
}
.shadow-box-body {
    box-shadow: 0px 0px 10px 5px #AAAAAA;
}
.shadow-div {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 20px #AAAAAA;
}
.anti-shadow-div {
    display: table;
    overflow: hidden;
    background: url('../Images/body_bkgr.png') repeat left top;
}
.shadowbox {
    box-shadow: 0px 5px 5px @grey-dark-color;
}
.shadowboxUp {
    box-shadow: 0px -5px 5px @grey-dark-color;
}
.rowExternal {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
legend {
    .medium-small();
    .bold();
}
.subheader {
    background: url('../Images/body_bkgr.png') repeat left top;
}
.inner-subheader {
    min-height: 102px;
    background-image: url("../Images/medSeminar_gadget.png");
    background-repeat: no-repeat;
    background-position: 50px 0px;
}
.inner-body {
    min-height: 500px;
}
.jcarousel-skin-tango .jcarousel-container {
    background: #EEEEEE;
    border: none;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 860px;
}
.jcarousel-skin-tango .jcarousel-item {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #F0F6F9;
    width: 215px;
    height: 215px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 210px;
    width: 860px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 80px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 80px;
}
.footer-icon-container {
    width: 121px;
    height: 126px;
    text-align: center;
    float: left;
    .smallest();
    margin-top: @margin;
}
.delim {
    float: left;
    width: 2px;
    height: 126px;
    background: url('../Images/logo_delim.png') no-repeat left 20px;
}
footer {
    a {
        .links(@grey-darkest-color);
    }
}
.footer-icon-container-social {
    width: 24px;
    float: right;
    margin-left: @margin;
    display: inline-block;
}
.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}
.right-icon-list {
    a {
        .links(@grey-darkest-color);
    }
}
.infoList {
    background: url(../images/list-icon.png) 0 0 no-repeat;
    height: 32px;
    padding-left: 32px;
    padding-top: 5px;
}
.infoText {
    padding-left: 32px;
    margin-left: 0;
}
dl.doctor-edit-labels {
    label {
        .green();
        .medium();
        .bold();
    }
}
.commonInfo {
    .hidden();
}
.streamer {
    background-color: @green-color;
    margin-top: 45px;
    a {
        .links(@grey-darkest-color);
    }
}
.background-green {
    background-color: @green-color;
}
.background-dark-green {
    background-color: darken(@green-color,5%);
}
.streamerFooter {
    background-color: darken(@green-color,5%);
    clear: both;
}
.streamerWrapper > div {
    position: relative;
    padding-left: 41px;
}
.clear-both {
    clear: both;
}
.navbar {
    margin-bottom: 0;
    .nav > li {
            a {
                .links(@white);
                text-shadow: none;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
                padding-right: 5px;
            }
		}	
        
	.nav > li >  ul.dropdown-menu > li {
			a {
			.links(@black);
			}
    }
}
.navbar-inner {
    .background-dark-green();
    min-height: 0;
    border-width: 0;
    padding-right: 0;
    padding-left: 0;
    border-width: 0;
    .container {
        .background-dark-green();
    }
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a  .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: @green-color;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: @green-color;
    background-color: @green-color;
    background-image: -moz-linear-gradient(top,@green-color,@green-color);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(@green-color),to(@green-color));
    background-image: -webkit-linear-gradient(top,@green-color,@green-color);
    background-image: -o-linear-gradient(top,@green-color,@green-color);
    background-image: linear-gradient(to bottom,@green-color,@green-color);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
}
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: @green-color;
    background-color: @green-color;
    background-image: linear-gradient(to bottom,@green-color,@green-color);
    background-image: -moz-linear-gradient(top,@green-color,@green-color);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(@green-color),to(@green-color));
    background-image: -webkit-linear-gradient(top,@green-color,@green-color);
    background-image: -o-linear-gradient(top,@green-color,@green-color);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
}