@green-color: #00A062;

.block.symptoms .block_content {
    position: relative;
}
#symptoms_rist, #symptoms_rist li {
    display: block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
}
#symptoms_people {
    position: relative;
    height: 616px;
    margin-bottom: 2em;
    width: 600px;
	float:left;
}
#symptoms_summary{
position: relative;
    height: 616px;
    margin-bottom: 2em;
	/*margin-left: 20px;*/
    width: 300px;
	float:left;
}
.symptoms_male {
    position: relative;
    left: 25px;
    width: 235px;
    float: left;
    height: 616px;
    background: url(../images/male.jpg) 0 0 no-repeat;
}

.symptoms_female {
    position: relative;
    right: 25px;
    width: 235px;
    float: right;
    height: 616px;
    background: url(../images/female.jpg) 0 0 no-repeat;
}
#symptoms_people a {
    position: absolute;
    display: block;
    background: none;
}
#symptoms_people a.inactive {
    background: none;
}
#symptoms_people.symptoms_male a.inactive, #symptoms_people.symptoms_female a.inactive {
    background: none;
}
.symptoms_menu .col {
    width: 45%;
    margin-right: 4%;
    float: right;
}
.symptoms_menu .col:first-child {
    margin-right: 0;
    margin-left: 3%;
    float: left;
}
.symptoms_male #foot_r, .symptoms_male #foot_r.inactive:hover {
    width: 35px;
    height: 55px;
    background: url(../images/male_front/foot_r.png) 0 0 no-repeat;
    left: 59px;
    bottom: 1px;
}
.symptoms_male #foot_r.inactive {
    background: none;
}
.symptoms_male #foot_l, .symptoms_male #foot_l.inactive:hover {
    width: 35px;
    height: 55px;
    background: url(../images/male_front/foot_l.png) 0 0 no-repeat;
    left: 127px;
    bottom: 1px;
}
.symptoms_male #foot_l.inactive {
    background: none;
}
.symptoms_male #leg_r, .symptoms_male #leg_r.inactive:hover {
    width: 59px;
    height: 318px;
    background: url(../images/male_front/leg_r.png) 0 0 no-repeat;
    left: 50px;
    bottom: 36px;
}
.symptoms_male #leg_r.inactive {
    background: none;
}
.symptoms_male #leg_l, .symptoms_male #leg_l.inactive:hover {
    width: 59px;
    height: 318px;
    background: url(../images/male_front/leg_l.png) 0 0 no-repeat;
    left: 112px;
    bottom: 36px;
}
.symptoms_male #leg_l.inactive {
    background: none;
}
.symptoms_male #palm_r, .symptoms_male #palm_r.inactive:hover {
    width: 36px;
    height: 59px;
    background: url(../images/male_front/palm_r.png) 0 0 no-repeat;
    left: 0;
    bottom: 263px;
}
.symptoms_male #palm_r.inactive {
    background: none;
}
.symptoms_male #palm_l, .symptoms_male #palm_l.inactive:hover {
    width: 36px;
    height: 59px;
    background: url(../images/male_front/palm_l.png) 0 0 no-repeat;
    left: 185px;
    bottom: 263px;
}
.symptoms_male #palm_l.inactive {
    background: none;
}
.symptoms_male #hand_r, .symptoms_male #hand_r.inactive:hover {
    width: 45px;
    height: 188px;
    background: url(../images/male_front/hand_r.png) 0 0 no-repeat;
    left: 12px;
    top: 110px;
}
.symptoms_male #hand_r.inactive {
    background: none;
}
.symptoms_male #hand_l, .symptoms_male #hand_l.inactive:hover {
    width: 45px;
    height: 188px;
    background: url(../images/male_front/hand_l.png) 0 0 no-repeat;
    left: 164px;
    top: 110px;
}
.symptoms_male #hand_l.inactive {
    background: none;
}
.symptoms_male #stomack_1, .symptoms_male #stomack_1.inactive:hover {
    width: 62px;
    height: 43px;
    background: url(../images/male_front/stomack_1.png) 0 0 no-repeat;
    left: 78px;
    top: 198px;
}
.symptoms_male #stomack_1.inactive {
    background: none;
}
.symptoms_male #stomack_2, .symptoms_male #stomack_2.inactive:hover {
    width: 54px;
    height: 46px;
    background: url(../images/male_front/stomack_2.png) 0 0 no-repeat;
    left: 82px;
    top: 231px;
}
.symptoms_male #stomack_2.inactive {
    background: none;
}
.symptoms_male #chest, .symptoms_male #chest.inactive:hover {
    width: 123px;
    height: 67px;
    background: url(../images/male_front/chest.png) 0 0 no-repeat;
    left: 49px;
    top: 103px;
}
.symptoms_male #chest.inactive {
    background: none;
}
.symptoms_male #neck, .symptoms_male #neck.inactive:hover {
    width: 46px;
    height: 43px;
    background: url(../images/male_front/neck.png) 0 0 no-repeat;
    left: 87px;
    top: 60px;
}
.symptoms_male #neck.inactive {
    background: none;
}
.symptoms_male #head, .symptoms_male #head.inactive:hover {
    width: 58px;
    height: 76px;
    background: url(../images/male_front/head.png) 0 0 no-repeat;
    left: 80px;
    top: 0;
    z-index: 1;
}
.symptoms_male #head.inactive {
    background: none;
}
.symptoms_male #head_back, .symptoms_male #head_back.inactive:hover {
    display: none;
}
.symptoms_male #mouth, .symptoms_male #mouth.inactive:hover {
    width: 21px;
    height: 8px;
    background: url(../images/male_front/mouth.png) 0 0 no-repeat;
    left: 99px;
    top: 57px;
    z-index: 3;
}
.symptoms_male #mouth.inactive {
    background: none;
}
.symptoms_male #eyes, .symptoms_male #eyes.inactive:hover {
    width: 31px;
    height: 4px;
    background: url(../images/male_front/eyes.png) 0 0 no-repeat;
    left: 94px;
    top: 36px;
    z-index: 5;
}
.symptoms_male #eyes.inactive {
    background: none;
}
.symptoms_male #ear_r, .symptoms_male #ear_r.inactive:hover {
    width: 8px;
    height: 22px;
    background: url(../images/male_front/ears.png) 0 0 no-repeat;
    left: 81px;
    top: 40px;
    z-index: 5;
}
.symptoms_male #ear_r.inactive {
    background: none;
}
.symptoms_male #ear_l, .symptoms_male #ear_l.inactive:hover {
    width: 8px;
    height: 22px;
    background: url(../images/male_front/ears.png) 100% 0 no-repeat;
    left: 130px;
    top: 40px;
    z-index: 5;
}
.symptoms_male #ear_l.inactive {
    background: none;
}
.symptoms_male #nose, .symptoms_male #nose.inactive:hover {
    width: 13px;
    height: 19px;
    background: url(../images/male_front/nose.png) 0 0 no-repeat;
    left: 103px;
    top: 35px;
    z-index: 4;
}
.symptoms_male #nose.inactive {
    background: none;
}
.symptoms_male #hair, .symptoms_male #hair.inactive:hover {
    width: 58px;
    height: 49px;
    background: url(../images/male_front/hair.png) 0 0 no-repeat;
    left: 80px;
    top: 0;
    z-index: 2;
}
.symptoms_male #hair.inactive {
    background: none;
}
.symptoms_male.people_back #foot_l, .symptoms_male.people_back #foot_l.inactive:hover {
    width: 35px;
    height: 55px;
    background: url(../images/male_back/foot_l.png) 0 9px no-repeat;
    left: 61px;
    bottom: 1px;
}
.symptoms_male.people_back #foot_l.inactive {
    background: none;
}
.symptoms_male.people_back #foot_r, .symptoms_male.people_back #foot_r.inactive:hover {
    width: 35px;
    height: 55px;
    background: url(../images/male_back/foot_r.png) 0 10px no-repeat;
    left: 123px;
    bottom: 1px;
}
.symptoms_male.people_back #foot_r.inactive {
    background: none;
}
.symptoms_male.people_back #leg_l, .symptoms_male.people_back #leg_l.inactive:hover {
    width: 60px;
    height: 268px;
    background: url(../images/male_back/leg_l.png) 0 0 no-repeat;
    left: 49px;
    bottom: 39px;
    z-index: 1;
}
.symptoms_male.people_back #leg_l.inactive {
    background: none;
}
.symptoms_male.people_back #leg_r, .symptoms_male.people_back #leg_r.inactive:hover {
    width: 60px;
    height: 268px;
    background: url(../images/male_back/leg_r.png) 0 0 no-repeat;
    left: 111px;
    bottom: 39px;
    z-index: 1;
}
.symptoms_male.people_back #leg_r.inactive {
    background: none;
}
.symptoms_male.people_back #palm_l, .symptoms_male.people_back #palm_l.inactive:hover {
    width: 36px;
    height: 59px;
    background: url(../images/male_back/palm_l.png) 0 0 no-repeat;
    left: 6px!important;
    bottom: 263px;
    z-index: 3;
}
.symptoms_male.people_back #palm_l.inactive {
    background: none;
}
.symptoms_male.people_back #palm_r, .symptoms_male.people_back #palm_r.inactive:hover {
    width: 36px;
    height: 59px;
    background: url(../images/male_back/palm_r.png) 0 0 no-repeat;
    left: 183px!important;
    bottom: 262px;
    z-index: 3;
}
.symptoms_male.people_back #palm_r.inactive {
    background: none;
}
.symptoms_male.people_back #hand_l, .symptoms_male.people_back #hand_l.inactive:hover {
    width: 45px;
    height: 178px;
    background: url(../images/male_back/hand_l.png) 0 0 no-repeat;
    left: 11px!important;
    top: 125px;
    z-index: 3;
}
.symptoms_male.people_back #hand_l.inactive {
    background: none;
}
.symptoms_male.people_back #hand_r, .symptoms_male.people_back #hand_r.inactive:hover {
    width: 45px;
    height: 178px;
    background: url(../images/male_back/hand_r.png) 0 0 no-repeat;
    left: 167px!important;
    top: 125px;
    z-index: 3;
}
.symptoms_male.people_back #hand_r.inactive {
    background: none;
}
.symptoms_male.people_back #stomack_1, .symptoms_male.people_back #stomack_1.inactive:hover {
    display: none;
}
.symptoms_male.people_back #stomack_2, .symptoms_male.people_back #stomack_2.inactive:hover {
    display: none;
}
.symptoms_male.people_back #chest, .symptoms_male.people_back #chest.inactive:hover {
    display: none;
}
.symptoms_male.people_back #neck, .symptoms_male.people_back #neck.inactive:hover {
    width: 46px;
    height: 26px;
    background: url(../images/male_back/neck.png) 0 0 no-repeat;
    left: 89px;
    top: 51px;
    z-index: 3;
}
.symptoms_male.people_back #neck.inactive {
    background: none;
}
.symptoms_male.people_back #head, .symptoms_male.people_back #head.inactive:hover {
    display: none;
}
.symptoms_male.people_back #head_back, .symptoms_male.people_back #head_back.inactive:hover {
    display: block;
    width: 58px;
    height: 76px;
    background: url(../images/male_back/head.png) 0 0 no-repeat;
    left: 83px;
    top: 0;
    z-index: 1;
}
.symptoms_male.people_back #head_back.inactive {
    background: none;
}
.symptoms_male.people_back #mouth, .symptoms_male.people_back #mouth.inactive:hover {
    display: none;
}
.symptoms_male.people_back #eyes, .symptoms_male.people_back #eyes.inactive:hover {
    display: none;
}
.symptoms_male.people_back#ear_l, .symptoms_male.people_back #ear_l.inactive:hover {
    width: 8px;
    height: 22px;
    background: url(../images/male_back/ears.png) 0 0 no-repeat;
    left: 83px;
    top: 37px;
    z-index: 5;
}
.symptoms_male.people_back #ear_l.inactive {
    background: none;
}
.symptoms_male.people_back #ear_r, .symptoms_male.people_back #ear_r.inactive:hover {
    width: 8px;
    height: 22px;
    background: url(../images/male_back/ears.png) 100% 0 no-repeat;
    left: 133px;
    top: 37px;
    z-index: 5;
}
.symptoms_male.people_back #ear_r.inactive {
    background: none;
}
.symptoms_male.people_back #nose, .symptoms_male.people_back #nose.inactive:hover {
    display: none;
}
.symptoms_male.people_back #hair, .symptoms_male.people_back #hair.inactive:hover {
    display: none;
}
.symptoms_male.people_back #back, .symptoms_male.people_back #back.inactive:hover {
    width: 179px;
    height: 256px;
    background: url(../images/male_back/back.png) 0 0 no-repeat;
    left: 22px;
    top: 70px;
    z-index: 2;
}
.symptoms_male.people_back #back.inactive {
    background: none;
}
.symptoms_female #foot_r, .symptoms_female #foot_r.inactive:hover {
    width: 31px;
    height: 43px;
    background: url(../images/female_front/foot_r.png) 0 0 no-repeat;
    left: 63px;
    bottom: 0;
}
.symptoms_female #foot_r.inactive {
    background: none;
}
.symptoms_female #foot_l, .symptoms_female #foot_l.inactive:hover {
    width: 31px;
    height: 43px;
    background: url(../images/female_front/foot_l.png) 0 0 no-repeat;
    left: 127px;
    bottom: 0;
}
.symptoms_female #foot_l.inactive {
    background: none;
}
.symptoms_female #leg_r, .symptoms_female #leg_r.inactive:hover {
    width: 57px;
    height: 317px;
    background: url(../images/female_front/leg_r.png) 0 0 no-repeat;
    left: 49px;
    bottom: 40px;
}
.symptoms_female #leg_r.inactive {
    background: none;
}
.symptoms_female #leg_l, .symptoms_female #leg_l.inactive:hover {
    width: 59px;
    height: 317px;
    background: url(../images/female_front/leg_l.png) 0 0 no-repeat;
    left: 115px;
    bottom: 40px;
}
.symptoms_female #leg_l.inactive {
    background: none;
}
.symptoms_female #palm_r, .symptoms_female #palm_r.inactive:hover {
    width: 21px;
    height: 61px;
    background: url(../images/female_front/palm_r.png) 0 0 no-repeat;
    left: 30px;
    bottom: 250px;
}
.symptoms_female #palm_r.inactive {
    background: none;
}
.symptoms_female #palm_l, .symptoms_female #palm_l.inactive:hover {
    width: 21px;
    height: 61px;
    background: url(../images/female_front/palm_l.png) 0 0 no-repeat;
    left: 171px;
    bottom: 250px;
}
.symptoms_female #palm_l.inactive {
    background: none;
}
.symptoms_female #hand_r, .symptoms_female #hand_r.inactive:hover {
    width: 37px;
    height: 178px;
    background: url(../images/female_front/hand_r.png) 0 0 no-repeat;
    left: 29px;
    top: 130px;
}
.symptoms_female #hand_r.inactive {
    background: none;
}
.symptoms_female #hand_l, .symptoms_female #hand_l.inactive:hover {
    width: 37px;
    height: 178px;
    background: url(../images/female_front/hand_l.png) 0 0 no-repeat;
    left: 154px;
    top: 130px;
}
.symptoms_female #hand_l.inactive {
    background: none;
}
.symptoms_female #stomack_1, .symptoms_female #stomack_1.inactive:hover {
    width: 66px;
    height: 69px;
    background: url(../images/female_front/stomack_1.png) 0 0 no-repeat;
    left: 77px;
    top: 202px;
}
.symptoms_female #stomack_1.inactive {
    background: none;
}
.symptoms_female #stomack_2, .symptoms_female #stomack_2.inactive:hover {
    width: 62px;
    height: 47px;
    background: url(../images/female_front/stomack_2.png) 0 0 no-repeat;
    left: 79px;
    top: 256px;
}
.symptoms_female #stomack_2.inactive {
    background: none;
}
.symptoms_female #chest, .symptoms_female #chest.inactive:hover {
    width: 93px;
    height: 73px;
    background: url(../images/female_front/chest.png) 0 0 no-repeat;
    left: 63px;
    top: 120px;
    z-index: 3;
}
.symptoms_female #chest.inactive {
    background: none;
}
.symptoms_female #neck, .symptoms_female #neck.inactive:hover {
    width: 47px;
    height: 36px;
    background: url(../images/female_front/neck.png) 0 0 no-repeat;
    left: 87px;
    top: 76px;
    z-index: 3;
}
.symptoms_female #neck.inactive {
    background: none;
}
.symptoms_female #head, .symptoms_female #head.inactive:hover {
    width: 56px;
    height: 57px;
    background: url(../images/female_front/head.png) 0 0 no-repeat;
    left: 81px;
    top: 30px;
    z-index: 2;
}
.symptoms_female #head.inactive {
    background: none;
}
.symptoms_female #head_back, .symptoms_female #head_back.inactive:hover {
    display: none;
}
.symptoms_female #mouth, .symptoms_female #mouth.inactive:hover {
    width: 19px;
    height: 7px;
    background: url(../images/female_front/mouth.png) 0 0 no-repeat;
    left: 100px;
    top: 70px;
    z-index: 3;
}
.symptoms_female #mouth.inactive {
    background: none;
}
.symptoms_female #eyes, .symptoms_female #eyes.inactive:hover {
    width: 30px;
    height: 4px;
    background: url(../images/female_front/eyes.png) 0 0 no-repeat;
    left: 95px;
    top: 49px;
    z-index: 5;
}
.symptoms_female #eyes.inactive {
    background: none;
}
.symptoms_female #ear_r, .symptoms_female #ear_r.inactive:hover {
    width: 8px;
    height: 22px;
    background: url(../images/female_front/ears.png) 0 0 no-repeat;
    left: 81px;
    top: 49px;
    z-index: 5;
}
.symptoms_female #ear_r.inactive {
    background: none;
}
.symptoms_female #ear_l, .symptoms_female #ear_l.inactive:hover {
    width: 8px;
    height: 22px;
    background: url(../images/female_front/ears.png) 100% 0 no-repeat;
    left: 131px;
    top: 49px;
    z-index: 5;
}
.symptoms_female #ear_l.inactive {
    background: none;
}
.symptoms_female #nose, .symptoms_female #nose.inactive:hover {
    width: 12px;
    height: 21px;
    background: url(../images/female_front/nose.png) 0 0 no-repeat;
    left: 104px;
    top: 46px;
    z-index: 4;
}
.symptoms_female #nose.inactive {
    background: none;
}
.symptoms_female #hair, .symptoms_female #hair.inactive:hover {
    width: 75px;
    height: 95px;
    background: url(../images/female_front/hair.png) 0 0 no-repeat;
    left: 74px;
    top: 13px;
    z-index: 1;
}
.symptoms_female #hair.inactive {
    background: none;
}
.symptoms_female.people_back #foot_l, .symptoms_female.people_back #foot_l.inactive:hover {
    width: 31px;
    height: 43px;
    background: url(../images/female_back/foot_l.png) 0 0 no-repeat;
    left: 64px;
    bottom: 2px;
}
.symptoms_female.people_back #foot_l.inactive {
    background: none;
}
.symptoms_female.people_back #foot_r, .symptoms_female.people_back #foot_r.inactive:hover {
    width: 31px;
    height: 43px;
    background: url(../images/female_back/foot_r.png) 0 0 no-repeat;
    left: 127px;
    bottom: 2px;
}
.symptoms_female.people_back #foot_r.inactive {
    background: none;
}
.symptoms_female.people_back #leg_l, .symptoms_female.people_back #leg_l.inactive:hover {
    width: 56px;
    height: 274px;
    background: url(../images/female_back/leg_l.png) 0 0 no-repeat;
    left: 50px;
    bottom: 38px;
    z-index: 1;
}
.symptoms_female.people_back #leg_l.inactive {
    background: none;
}
.symptoms_female.people_back #leg_r, .symptoms_female.people_back #leg_r.inactive:hover {
    width: 56px;
    height: 274px;
    background: url(../images/female_back/leg_r.png) 0 0 no-repeat;
    left: 116px;
    bottom: 38px;
    z-index: 1;
}
.symptoms_female.people_back #leg_r.inactive {
    background: none;
}
.symptoms_female.people_back #palm_l, .symptoms_female.people_back #palm_l.inactive:hover {
    width: 21px;
    height: 61px;
    background: url(../images/female_back/palm_l.png) 0 0 no-repeat;
    left: 30px;
    bottom: 250pxpx;
    z-index: 3;
}
.symptoms_female.people_back #palm_l.inactive {
    background: none;
}
.symptoms_female.people_back #palm_r, .symptoms_female.people_back #palm_r.inactive:hover {
    width: 21px;
    height: 61px;
    background: url(../images/female_back/palm_r.png) 0 0 no-repeat;
    left: 171px;
    bottom: 250px;
    z-index: 3;
}
.symptoms_female.people_back #palm_r.inactive {
    background: none;
}
.symptoms_female.people_back #hand_l, .symptoms_female.people_back #hand_l.inactive:hover {
    width: 39px;
    height: 184px;
    background: url(../images/female_back/hand_l.png) 0 0 no-repeat;
    left: 31px;
    top: 126px;
    z-index: 3;
}
.symptoms_female.people_back #hand_l.inactive {
    background: none;
}
.symptoms_female.people_back #hand_r, .symptoms_female.people_back #hand_r.inactive:hover {
    width: 39px;
    height: 184px;
    background: url(../images/female_back/hand_r.png) 0 0 no-repeat;
    left: 155px;
    top: 126px;
    z-index: 3;
}
.symptoms_female.people_back #hand_r.inactive {
    background: none;
}
.symptoms_female.people_back #stomack_1, .symptoms_female.people_back #stomack_1.inactive:hover {
    display: none;
}
.symptoms_female.people_back #stomack_2, .symptoms_female.people_back #stomack_2.inactive:hover {
    display: none;
}
.symptoms_female.people_back #chest, .symptoms_female.people_back #chest.inactive:hover {
    display: none;
}
.symptoms_female.people_back #neck, .symptoms_female.people_back #neck.inactive:hover {
    display: none;
}
.symptoms_female.people_back #head, .symptoms_female.people_back #head.inactive:hover {
    display: none;
}
.symptoms_female.people_back #head_back, .symptoms_female.people_back #head_back.inactive:hover {
    display: block;
    width: 90px;
    height: 140px;
    background: url(../images/female_back/head.png) 0 0 no-repeat;
    left: 65px;
    top: 11px;
    z-index: 4;
}
.symptoms_female.people_back #head_back.inactive {
    background: none;
}
.symptoms_female.people_back #mouth, .symptoms_female.people_back #mouth.inactive:hover {
    display: none;
}
.symptoms_female.people_back #eyes, .symptoms_female.people_back #eyes.inactive:hover {
    display: none;
}
.symptoms_female.people_back#ear_l, .symptoms_female.people_back #ear_l.inactive:hover {
    display: none;
}
.symptoms_female.people_back #ear_r, .symptoms_female.people_back #ear_r.inactive:hover {
    display: none;
}
.symptoms_female.people_back #nose, .symptoms_female.people_back #nose.inactive:hover {
    display: none;
}
.symptoms_female.people_back #hair, .symptoms_female.people_back #hair.inactive:hover {
    display: none;
}
.symptoms_female.people_back #back, .symptoms_female.people_back #back.inactive:hover {
    width: 139px;
    height: 230px;
    background: url(../images/female_back/back.png) 0 0 no-repeat;
    left: 41px;
    top: 107px;
    z-index: 2;
}
.symptoms_female.people_back #back.inactive {
    background: none;
}
#common {
    right: -10px;
    text-align: center;
    width: 90px;
    padding-top: 50px;
    background: url(../images/battary.png) 50% 0 no-repeat!important;
    font-size: 11px;
    line-height: 14px;
}
.people_back {
    background-position: -254px 0!important;
}
.arr180 {
    text-decoration: none;
    display: block;
    padding-top: 20px;
    width: 52px;
    text-align: center;
    background: url(../images/180arr.png) 0 0 no-repeat!important;
    position: absolute;
    top: 25px;
}
#symptoms_selected, #symptoms_doctors {
    padding-bottom: 0.5em;
    color: #656868;
    padding: 9px 15px 13px;
    font: 12px verdana;
}
#symptoms_selected {
    background: #E2E2E2;
}
#symptoms_diseases {
    color: #fff;
    background: #8DBE40;
    font: 12px verdana;
    margin-top: 15px;
}
#symptoms_diseases span, #symptoms_diseases a {
    display: block;
    padding: 9px 15px;
}
#symptoms_diseases a {
    color: #fff;
    padding: 7px 15px;
    padding-left: 35px;
    border-top: 1px dotted #fff;
    background: url(/theme/default/images/arr_r6.png) 18px 55% no-repeat;
}
#symptoms_diseases a:first-child {
    border-top: none;
}
#symptoms_doctors {
}
.selected_symptom a {
    text-decoration: none;
    font: bold 16px verdana,helvetica,sans-serif;
    color: #8EBE3F;
}
#symptoms_selected h4, #symptoms_doctors h4 {
    color: #000;
    font: 13px arial;
    margin-top: 0.5em;
}
#symptoms_diseases h4 {
    color: #fff;
    font: 13px arial;
    margin: 2px 0 0;
    background: #666769;
    padding: 1em 15px 0.8em;
}
#symptoms_selected h2 {
    text-align: left;
    color: #000;
    font: 13px arial;
}
#symptoms_selected span, #symptoms_doctors a {
    margin: 0 10px 0 0;
}
#symptoms_checkbox {
    background: @green-color;
    display: none;
    color: #fff;
    border-bottom: 2px solid #747474;
    border-radius: 10px 10px 10px 10px;
    border-right: 2px solid #747474;
    margin: 1em auto 0;
    padding: 20px 20px 8px;
    width: 220px;
    position: absolute;
    z-index: 10;
}
#symptoms_checkbox label {
    display: block;
    padding-left: 20px;
    overflow: hidden;
    line-height: 14px;
    padding-bottom: 12px;
}
#symptoms_checkbox a {
    color: #fff;
}
#symptoms_checkboxh5 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 1em;
}
#symptoms_checkbox input {
    position: relative;
    margin: 0 0 0 -20px;
    float: left;
}
#symptoms_checkbox .close {
    margin-right: 0;
}
.module.symptoms {
}
.symptoms_hover {
    opacity: 0.4;
}
#symptoms_female #symptoms_checkbox {
    position: absolute;
}
.clear_symptoms {
    color: #618138;
    font: italic 11px arial,helvetica,sans-serif!important;
    display: none;
    color: #618138;
}
#symptoms_selected h2 {
    display: inline-block;
}
#symptoms_checkbox .clear_symptoms {
    display: inline;
    color: #fff;
}
#symptoms_checkbox .clear_symptoms a {
    color: #fff;
    display: inline;
    position: relative;
}
#symptoms_description {
    display: none;
    background: #E2E2E2;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 4px #555555;
    color: #000000;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}
#symptoms_description_in {
    padding: 4px 1em 1.5em;
}
#symptoms_description_inh2 {
    margin: 15px 0 13px;
}
#symptoms_description .close {
    top: 3px;
    color: #555;
}
#symptoms_description_text {
    max-height: 400px;
    overflow: auto;
}
.selected_symptom_desc {
    text-decoration: underline;
    cursor: pointer;
    margin: 0 5px 0 0!important;
}
.selected_symptom_desc:hover {
    text-decoration: none;
}
#sym_descr {
    border-top: 1px dotted;
    color: #656868;
    font: italic 11px/14px arial;
    text-align: center;
}
.symptoms_info {
    position: relative!important;
}