﻿@model EMedSovet.Web.Models.Advice

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Advice</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorId, "Doctor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DoctorId", String.Empty)
            @Html.ValidationMessageFor(model => model.DoctorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientId, "Patient")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PatientId", String.Empty)
            @Html.ValidationMessageFor(model => model.PatientId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdviceStatusId, "AdviceStatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AdviceStatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.AdviceStatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedAt)
            @Html.ValidationMessageFor(model => model.CreatedAt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompletedAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompletedAt)
            @Html.ValidationMessageFor(model => model.CompletedAt)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
