﻿@model EMedSovet.Web.Models.Advice

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Advice</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Doctor.ConsultationArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Doctor.ConsultationArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Patient.Foto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patient.Foto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdviceStatus.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdviceStatus.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompletedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompletedAt)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
