﻿@model EMedSovet.Web.Models.Advice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Advice</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Doctor.ConsultationArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Doctor.ConsultationArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Patient.Foto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patient.Foto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdviceStatus.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdviceStatus.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompletedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompletedAt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AdviceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
