﻿@model IEnumerable<EMedSovet.Web.Models.Advice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}
<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">


            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctor.ConsultationArea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Patient.Foto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdviceStatus.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompletedAt)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.ConsultationArea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.Foto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdviceStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletedAt)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.AdviceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.AdviceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AdviceId })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
