﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}


<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">
            <ul>
                <li>
                    @Html.ActionLink("Список специальностей", "Index", "Specialty")
                </li>
                <li>
                    @Html.ActionLink("Список врачей", "Index", "Doctor")
                </li>
                <li>
                    @Html.ActionLink("Заболевания", "Index", "Disease")
                </li>
                <li>
                    @Html.ActionLink("Симптомы", "ChooseSymptoms", "Symptom")
                </li>
                <li>
                    @Html.ActionLink("Пациент", "Index", "Patient")
                </li>
                 <li>
                    @Html.ActionLink("Советы", "Index", "Advice")
                </li>
                <li>
                    @Html.ActionLink("Новости", "Index", "News")
                </li>
                <li>
                    @Html.ActionLink("Статьи", "Index", "Article")
                </li>
            </ul>
        </div>
    </div>
</div>
