﻿@using EMedSovet.Web.Helpers
@model IEnumerable<EMedSovet.Web.Models.Article>

<dl>
    @foreach (var item in Model)
    {
                    
        <dt>
            <span class="green small bold"><a href="@Url.Action("ArticleDetail", new RouteValueDictionary {{"id", item.ArticleId}})">@item.Title</a></span>
            
        </dt>
        <dd style="margin-left: 0px;">
            <span>@Html.Raw(item.Text.Chop(300))</span>
        </dd>
            
                    
    }
</dl>
