﻿@using EMedSovet.Web.Helpers
@using EMedSovet.Web.Models
@{
    ViewBag.Title = "ArticleDetail";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            @{
                var news = (Article)ViewBag.Article;
            }
            <dl>
                <dt>
                    Заголовок
                </dt>
                <dd>
                     @news.Title
                </dd>
                <dt>
                    Текст
                </dt>
                <dd>
                    @Html.Raw(news.Text.ImgPath(Url.Content(string.Format("~/Uploads/Article/{0}/",news.ArticleId))))
                </dd>
            </dl>
            

        </div>
    </div>
</div>
