﻿@using EMedSovet.Web.Helpers
@using EMedSovet.Web.Properties
@model EMedSovet.Web.Models.Article

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <h3>@Resources.ConfirmDeleteMessage</h3>
            <fieldset>
                <legend>News</legend>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Title)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Title)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Text)
                </div>
                <div class="display-field">
                    @Html.Raw(Model.Text.ImgPath(Url.Content(string.Format("~/Uploads/Article/{0}/", Model.ArticleId))))
                </div>
            </fieldset>
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Удалить" />
                    |
        @Html.ActionLink("Список новостей", "Index")
                </p>
            }
        </div>
    </div>
</div>
