﻿@using EMedSovet.Web.Helpers
@model EMedSovet.Web.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">


            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Text)
                </dt>
                <dd>
                    @Html.Raw(Model.Text.ImgPath(Url.Content(string.Format("~/Uploads/Article/{0}/", Model.ArticleId))))
                </dd>
                <dt>&nbsp;
                </dt>
                <dd>
                    <p>
                        @Html.ActionLink("Редактировать", "Edit", new { id = Model.ArticleId }) |
                        @Html.ActionLink("Список статей", "Index")
                    </p>
                </dd>
            </dl>


        </div>
    </div>
</div>
