﻿@using EMedSovet.Web.Properties
@model EMedSovet.Web.Models.Doctor

<dt class="green medium bold topMargin">@Html.LabelFor(model => model.UserId, "UserProfile")</dt>
<dd>
    @Html.DropDownList("UserId", String.Empty)
    @Html.ValidationMessageFor(model => model.UserId)</dd>

<dt class="green medium bold topMargin">@Html.LabelFor(model => model.IsConfirmed)</dt>
<dd>
    @Html.DropDownList("IsConfirmed", (SelectList)ViewBag.ConfirmationList)
    @Html.ValidationMessageFor(model => model.IsConfirmed)</dd>

<dt class="green medium bold topMargin">@Html.LabelFor(model => model.IsActive)</dt>
<dd>
    @Html.DropDownList("IsActive", (SelectList)ViewBag.ConfirmationList)
    @Html.ValidationMessageFor(model => model.IsActive)</dd>

<dt class="green medium bold topMargin">@Html.LabelFor(model => model.Degree)</dt>
<dd>@Html.DropDownList("DegreeId", (SelectList)ViewBag.Degrees)</dd>
<dt class="green medium bold topMargin">@Html.LabelFor(model => model.ConsultationArea)</dt>
<dd>@Html.TextAreaFor(model => model.ConsultationArea, 100, 100, new Dictionary<string, object>() { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.ConsultationArea)</dd>

<dt class="green medium bold topMargin">@Html.LabelFor(model => model.Education)</dt>
<dd>
    @Html.TextAreaFor(model => model.Education, 100, 100, new Dictionary<string, object>() { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Education)</dd>

<dt class="green medium bold topMargin">@Resources.Specialty</dt>
<dd>
    @Html.ListBox("Specialties", (MultiSelectList)ViewBag.SpecialtiesList)</dd>



<dt class="green medium bold topMargin">@Html.LabelFor(model => model.Resume)</dt>
<dd>
    @Html.TextAreaFor(model => model.Resume, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Resume)</dd>

<dt class="green medium bold topMargin">@Html.LabelFor(model => model.Summary)</dt>
<dd>
    @Html.TextAreaFor(model => model.Summary, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Summary)</dd>
<dt class="green medium bold topMargin">@Html.LabelFor(model => model.Experience)</dt>
<dd>
    @Html.TextAreaFor(model => model.Experience, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
    @Html.ValidationMessageFor(model => model.Experience)</dd>
