﻿@using EMedSovet.Web.Properties
@model EMedSovet.Web.Models.Doctor
<div class="display-label green medium bold topMargin">
    @Html.DisplayNameFor(model => model.Foto)
</div>
<div class="display-field">
    <img src="@Url.Content(string.Format("~/Files/Doctor/{0}/Photo/{1}", Model.DoctorId, Model.Foto))" class="inline" style="width:195px;height:120px;" />
</div>

<div class="display-label green medium bold topMargin">
    @Html.DisplayNameFor(model => model.UserProfile.UserName)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.UserProfile.UserName)
</div>

<div class="display-label  green medium bold topMargin">
    ФИО
</div>
<div class="display-field">
    @{
        if (Model.UserProfile != null)
        {
        <text>@string.Format("{0} {1} {2}", Model.UserProfile.Surname, Model.UserProfile.FirstName, Model.UserProfile.SecondName)</text>
        }
    }
</div>

<div class="display-label  green medium bold  topMargin">
    @Html.DisplayNameFor(model => model.Degree)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Degree.Name)
</div>

<div class="display-label green medium bold  topMargin">
    @Html.DisplayNameFor(model => model.ConsultationArea)
</div>
<div class="display-field">
    @Html.Raw(!string.IsNullOrWhiteSpace(Model.ConsultationArea) ? Model.ConsultationArea : Resources.NoData)
</div>

<div class="display-label green medium bold  topMargin">
    @Html.DisplayNameFor(model => model.Education)
</div>
<div class="display-field">
    @Html.Raw(!string.IsNullOrWhiteSpace(Model.Education) ? Model.Education : Resources.NoData)
</div>

<div class="display-label green medium bold  topMargin">
    @Resources.Specialty
</div>
<div class="display-field">
    @foreach (var speciality in Model.Specialty)
    {
        @speciality.Name <text><br></text>
    }
</div>

<div class="display-label green medium bold  topMargin">
    @Html.DisplayNameFor(model => model.Resume)
</div>
<div class="display-field">
    @Html.Raw(!string.IsNullOrWhiteSpace(Model.Resume) ? Model.Resume : Resources.NoData)
</div>

<div class="display-label green medium bold  topMargin">
    @Html.DisplayNameFor(model => model.Summary)
</div>
<div class="display-field">
    @Html.Raw(!string.IsNullOrWhiteSpace(Model.Summary) ? Model.Summary : Resources.NoData)
</div>

<div class="display-label green medium bold  topMargin">
    @Html.DisplayNameFor(model => model.Experience)
</div>
<div class="display-field">
    @Html.Raw(!string.IsNullOrWhiteSpace(Model.Experience) ? Model.Experience : Resources.NoData)
</div>

<div class="display-label green medium bold  topMargin">
    @Html.DisplayNameFor(model => model.IsConfirmed)
</div>
<div class="display-field">
    @(Model.IsConfirmed.HasValue ? Model.IsConfirmed.Value ? Resources.Yes : Resources.No : Resources.No)
</div>

<div class="display-label green medium bold  topMargin">
    @Html.DisplayNameFor(model => model.IsActive)
</div>
<div class="display-field">
    @(Model.IsActive.HasValue ? Model.IsActive.Value ? Resources.Yes : Resources.No : Resources.No)
</div>
