﻿@model IEnumerable<EMedSovet.Web.Models.Doctor>

@foreach (var item in Model)
{
                    
        
    <li>
        <div class="doctor-carousel-icon" style="width: 210px; height: 210px; overflow: hidden;">
            <img src="@Url.Content(string.Format("~/Files/Doctor/{0}/Photo/{1}", item.DoctorId, item.Foto))" style="width:195px;height:120px;" alt="" />
            <a href="@Url.Action("DoctorCard", "Doctor", new RouteValueDictionary(){{"id", item.DoctorId}})">
            <p class="green smaller centered  rightMarginSmall leftMarginSmall">
                <span class="underlined bold">
                    @{
                        if (item.UserProfile != null)
                        {
<text>@string.Format("{0} {1} {2}", item.UserProfile.Surname, item.UserProfile.FirstName, item.UserProfile.SecondName)</text>
                        }
                    }<br>
                </span>

                <span class="bold underlined">
                    @{
                        var specialty = item.Specialty.FirstOrDefault();
                        if (specialty != null)
                        {
                            @specialty.Name
                        }
                    }

                </span>

                <br />
                <span class="yellow-dark bold">@(item.Degree!=null && !string.IsNullOrWhiteSpace(item.Degree.Name)?item.Degree.Name : string.Empty)</span>&nbsp;
            </p>
            </a>
        </div>

    </li>
            
                    
}