﻿@using EMedSovet.Web.Properties
@model EMedSovet.Web.Models.Doctor
<div class="editor-label">
    @Resources.Surname
</div>
<div class="editor-field">
    @Html.Editor("Surname")
</div>
<div class="editor-label">
    @Resources.FirstName
</div>
<div class="editor-field">
    @Html.Editor("FirstName")
</div>
<div class="editor-label">
    @Resources.SecondName
</div>
<div class="editor-field">
    @Html.Editor("SecondName")
</div>
<div class="editor-label">
    @Resources.Age
</div>
<div class="editor-field">
    @Html.DropDownList("Age", (SelectList)ViewBag.AgesList)
</div>
<div class="editor-label">
    @Resources.Gender
</div>
<div class="editor-field">
    @Html.DropDownList("GenderId", (SelectList)ViewBag.GendersList)
</div>
<div class="editor-label">
    @Resources.Email
</div>
<div class="editor-field">
    @Html.Editor("Email")
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Degree)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Degree)
    @Html.ValidationMessageFor(model => model.Degree)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ConsultationArea)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ConsultationArea)
    @Html.ValidationMessageFor(model => model.ConsultationArea)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Education)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Education)
    @Html.ValidationMessageFor(model => model.Education)
</div>


<div class="editor-label">
    @Resources.Specialty
</div>
<div class="editor-field">
    @Html.ListBox("Specialties", (MultiSelectList)ViewBag.SpecialtiesList)
    @*Html.ListBoxFor(m => m.Specialty, (MultiSelectList)ViewBag.Specialties)*@
</div>

<div class="editor-label">
    @*Html.LabelFor(model => model.UserId, "UserProfile")*@
    @Resources.UserName
</div>
<div class="editor-field">
    @Html.DropDownList("UserIdReadonly", (SelectList)ViewBag.UserId, new Dictionary<string, object> { { "readonly", "readonly" } })
    @Html.Hidden("UserId", (int)ViewBag.CurrentUserId)
    @Html.ValidationMessageFor(model => model.UserId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IsConfirmed)
</div>
<div class="editor-field">
    @*Html.EditorFor(model => model.IsConfirmed)*@
    @Html.DropDownList("IsConfirmedReadonly", (SelectList)ViewBag.ConfirmationList, new Dictionary<string, object> { { "readonly", "readonly" } })
    @Html.Hidden("IsConfirmed", "false")
    @Html.ValidationMessageFor(model => model.IsConfirmed)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Foto)
</div>
<div class="editor-field">
    @*Html.EditorFor(model => model.Foto)*@
    <input type="file" name="FotoUpload" id="Foto" />
    @Html.ValidationMessageFor(model => model.Foto)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DocScan)
</div>
<div class="editor-field">
    @*Html.EditorFor(model => model.DocScan)*@
    <input type="file" name="DocScanUpload" id="DocScan" />
    @Html.ValidationMessageFor(model => model.DocScan)
</div>
