﻿@model EMedSovet.Web.Models.Doctor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jHtmlArea/style/css")
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin rightMargin inner-body">

            @using (Html.BeginForm("Create", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("Common")
                <fieldset>
                    <legend>Создать доктора</legend>
                    <dl class="doctor-edit-labels">
                        <dt class="green medium bold topMargin">Имя</dt>
                        <dd>
                            <input type="text" name="FirstName" value="" /></dd>
                        <dt class="green medium bold topMargin">Отчество</dt>
                        <dd>
                            <input type="text" name="SecondName" value="" /></dd>
                        <dt class="green medium bold topMargin">Фамилия</dt>
                        <dd>
                            <input type="text" name="Surname" value="" /></dd>
                        @Html.Partial("_CreateEditDoctorPartial")
                    </dl>

                    <p>
                        <input type="submit" value="Создать" class="btn btn-find"/>
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Список докторов", "Index")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jHtmlArea/js")
    <script type="text/javascript">
        $(function () {
            $("textarea").htmlarea(); // Initialize all TextArea's as jHtmlArea's with default values
        });

    </script>


}
