﻿@using EMedSovet.Web.Properties
@model EMedSovet.Web.Models.Doctor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <h3>@Resources.ConfirmDeleteMessage</h3>
            @Html.Partial("_DetailsPartial")
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Удалить" class="btn btn-find" />
                    |
        @Html.ActionLink("Список докторов", "Index")
                </p>
            }
        </div>
    </div>
</div>
