﻿@using EMedSovet.Web.Upload
@model EMedSovet.Web.Models.Doctor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
    @Html.Partial("_UploadFilePartialStyles")
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin rightMargin inner-body">

            @Html.Partial("_DetailsPartial")

            <div class="display-label green medium bold  topMargin">
                Копии документов
            </div>
            <div class="display-field">
                @Html.Action("UploadFiles", "Doctor", new RouteValueDictionary { { "id", Model.DoctorId } })
            </div>



            <p>
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.DoctorId }) |
            @Html.ActionLink("Список докторов", "Index")
            </p>

        </div>
    </div>
</div>


@section scripts
{

    @Html.Partial("_UploadFilesPartialScripts")
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Upload/UploadHandler.ashx")",
                data: { UploadOwnerType: '@UploadOwnerType.Doctor.ToString()', UploadOwnerId: "@Model.DoctorId" },
                dataType: "json",
                context: $('#fileupload')[0]
            }).done(function (files) {
                //$(this).addClass("done");
                //console.log(files);
                //console.log($('#fileupload').data('fileupload'));
                //$('#fileupload').data('fileupload')._renderDownload(files);
                //$('#fileupload').data('fileupload').done(null, files);
                //console.log($(this).fileupload('option', 'done'));
                $(this).fileupload('option', 'done')
                    .call(this, null, { result: files });
                $('tr.template-download > td.delete').hide();
                $('div.fileupload-buttonbar').hide();
                $('input[name="confirm"]').hide();
                $('input[name="confirm"]').next().hide();

            });
        });

    </script>
}
