﻿@model IEnumerable<EMedSovet.Web.Models.Doctor>
@{
    ViewBag.Title = "DoctorsList";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}

<div class="row">
    <div class="span12 topMargin grey-light-filled">
        @Html.Partial("_SearchDoctor")
    </div>
</div>

<div class="row">
    <div class="span12">

        <div class="row">
            <div class="span12" id="doctors" style="height: 650px;">

                @if (Model.ToList().Count == 0)
                {
                    <text>Извините, ничего не найдено</text>
                }
                else
                {
                    foreach (var item in Model)
                    {
                    <div class="rightMargin leftMargin">
                        <hr class="not-bordered grey-darkest grey-dark-filled hr-height" />
                    </div>
                    <div class="topMargin overflow-hidden">
                        <div class="doctor-icon centered">
                            <a href="@Url.Action("DoctorCard", "Doctor", new RouteValueDictionary() { { "id", item.DoctorId } })">
                                <img src="@Url.Content(string.Format("~/Files/Doctor/{0}/Photo/foto.jpg", item.DoctorId))" width="195" height="120" alt="" />
                                
                                <span class="yellow-dark bold">@item.Degree.Name</span>

                            </a>

                        </div>
                        <div class="doctor-description right-aligned">
                            <div class="doctor-description">
                                <p class="green underlined">
                                    <a href="@Url.Action("DoctorCard", "Doctor")" class="meduim bold">@{
                        if (item.UserProfile != null)
                        {
                                        <text>@string.Format("{0} {1} {2}", item.UserProfile.Surname, item.UserProfile.FirstName, item.UserProfile.SecondName)</text>
                        }
                                    }
                                        <br>
                                        <!--<span class="smallest">Врач-педиатор
                                                                                                                                                </span>-->
                                    </a>
                                </p>
                                <p class="meduim-small">
                                    @Html.Raw(item.Resume)
                                </p>
                                <div>
                                    <div class="left-aligned topMarginSmall">
                                        <a href="@Url.Action("DoctorCard", "Doctor", new RouteValueDictionary() { { "id", item.DoctorId } })">Нажмите, чтобы получить подробную информацию о докторе&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a>
                                    </div>
                                    <div class="right-aligned">
                                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="tooltipLink" rel="tooltip" title="написать">
                                            <img src="~/Images/write-icon.jpg" class="inline" style="margin-right: 5px;" /></a>
                                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="tooltipLink" rel="tooltip" title="позвонить">
                                            <img src="~/Images/call-icon.jpg" class="inline" style="margin-right: 5px;" /></a>
                                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="tooltipLink" rel="tooltip" title="видео">
                                            <img src="~/Images/video-chat-icon.jpg" class="inline" style="margin-right: 5px;" /></a>
                                    </div>
                                </div>
                                <p>
                                </p>


                            </div>
                            <!--<div class="doctor-description">
                                        <div class="left-aligned centered doctor-description-buttons">
                                            <a class="btn btn-find left-aligned rightMargin" href="">Позвонить</a>
                                        </div>
                                        <div class="left-aligned centered doctor-description-buttons">
                                            <a class="btn btn-find left-aligned rightMargin" href="">Написать</a>
                                        </div>
                                    </div>
                                    <div class="doctor-description topMargin">
                                        <div class="left-aligned doctor-description-buttons">
                                            <span class="big bold">750</span><br />
                                            <span class="green">руб./мин.</span>
                                        </div>
                                        <div class="right-aligned doctor-description-buttons">
                                            <span class="big bold">750</span>
                                            <br />
                                            <span class="green">руб</span>
                                        </div>
                                    </div>-->
                        </div>
                    </div>
                    }
                }
                
                <div class="rightMargin leftMargin">
                    <hr class="not-bordered grey-darkest grey-dark-filled hr-height" />
                </div>



            </div>
            <!--<div class="span6">
                <div class="margin-auto rounded bordered centered" style="margin-top: 40px; width: 400px;">
                    <p class="medium-small" style="margin-top: 60px;">
                        Не можете выбрать специалиста?<br>
                        Поможет дежурный по сайту
                    </p>
                    <p style="margin-top: 50px; margin-bottom: 20px;">
                        <a class="btn btn-find margin-auto" href="">написать прямо сейчас</a>
                    </p>


                </div>
            </div>-->
        </div>




    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/bootstrap/js/bootstrap")
    <script>
        $(function () {
            $("#doctors").jScrollPane();
            $('.tooltipLink').tooltip({
                placement: 'top'
            });
        });
    </script>
}
