﻿@model EMedSovet.Web.Models.Doctor
@{
    ViewBag.Title = "PersonalCard";
    Layout = "~/Views/Shared/_Main.cshtml";
}


@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
}

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.watermark.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DoctorCard.js")"></script>
}

<div class="row">
    <div class="span12 topMargin min-height-body">

        <div class="doctor-info">
            <div class="doctor-foto centered">
                <img src="@Url.Content(string.Format("~/Files/Doctor/{0}/Photo/{1}", Model.DoctorId, Model.Foto))" style="width:195px;height:120px;" />
                <span class="yellow-dark bold">@Model.Degree.Name</span>
            </div>
            <div class="doctor-card-summary">
                <div class="doctor-card-summary-row">
                    <span class="small bold">@{
                        if (Model.UserProfile != null)
                        {
<text>@string.Format("{0} {1} {2}", Model.UserProfile.Surname, Model.UserProfile.FirstName, Model.UserProfile.SecondName)</text>
                        }
                    }
                    </span>
                    <br>
                    <span class="smallest italic bold"> @{
                        var specialty = Model.Specialty.FirstOrDefault();
                        if (specialty != null)
                        {
                            @specialty.Name
                        }
                    }
                    </span>

                </div>
                <div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="btn btn-find doctor-card-summary-btn-width">Добавить</a>
                    </div>
                    <div class="doctor-card-summary-button-label-container">

                        <span class="smallest">
                            <sup>*</sup> Доктор будет добавлен в закладку "Врачи" в Вашем личном кабинете
                        </span>
                    </div>
                </div>
                <div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="btn btn-find doctor-card-summary-btn-width">Написать</a>
                    </div>
                    <div class="doctor-card-summary-button-label-container">

                        <span class="smallest">
                            <sup>*</sup> После нажатия этой кнопки начнется разговор с доктором в чате (окнах диалога)
                        </span>
                    </div>
                </div>
                <div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="btn btn-find doctor-card-summary-btn-width">Позвонить</a>
                    </div>
                    <div class="doctor-card-summary-button-label-container">

                        <span class="smallest">
                            <sup>*</sup> Вы сможете созвониться с доктором
                        </span>
                    </div>
                </div>
                <div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="btn btn-find doctor-card-summary-btn-width">Видео-чат</a>
                    </div>
                    <div class="doctor-card-summary-button-label-container">

                        <span class="smallest">
                            <sup>*</sup> Вы сможете поговорить с доктором в режиме видео-чата
                        </span>
                    </div>
                </div>
                <div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <input type="text" id="consultationDate" autocomplete="off" class="jqueryCalendarInputWide" />
                        <div>
                            <table style="width:140px;">
                                <tr>
                                    <td>
                                        <select id="consultationHour" style="width:70px;">
                                        <option value="">Часы</option>
                                        @for (int i = 1; i <= 24; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                            </td>
                                            <td>
                                                <select id="consultationMinute" style="width:70px;">
                                        @for (int i = 0; i <= 60; i+=15)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>

                    </div>
                    <div class="doctor-card-summary-button-label-container">                        
                        <span class="smallest">
                            <sup>*</sup> выбрите удобную дату и время обращения за советом
                        </span>
                    </div>
                </div>
                <!--<p class="small">
                            1-ый Московский Медицинский институт, лечебный, психиатрия, наркология, психотерапия<br>
                                                                                                                ГОДПО "Российская медю академия последипломного образования" Росздрава<br>
                        </p>

                        <p class="small">Опыт</p>
                        <p class="small">
                            Врачебный стаж - 23 года<br>
                                                    Опубликовано 4 научные статьи<br>
                        </p>-->
            </div>
            <!--<div class="doctor-name">
                    <p>
                        <span class="small bold">Иванова Мария Петровна
                        </span>
                        <br>
                        <span class="smallest italic bold">Оториноларинголог, врач высшей категории, кандидат медицинских наук.
                        </span>

                    </p>
                </div>-->
        </div>
        <div class="doctor-info-body-subheader">
            <div class="right-aligned">
                @Html.ActionLink("вернуться к списку специалистов", "DoctorsList", "Doctor")
            </div>
        </div>
        <div class="doctor-card-info-body">
            <p>
                @Html.Raw(Model.Summary)
            </p>
            <!--<dl>

                <dt>Опыт работы - 25 лет.
            
                </dt>
                <dd>Владеет современными методами диагностики и лечения, необходимыми для оказания квалифицированной помощи; использует все манипуляции и операции, применяемые в амбулаторной практике. Стаж работы на оборудовании Heinemann (Германия) - с 1994 года.
                </dd>

                <dt>Образование
            
                </dt>
                <dd>Московский медицинский стоматологический  институт им. Н.А. Семашко. Окончание: 1986г.
                    Интернатура: оториноларингология. 2 МОЛГМИ им. Н.И.Пирогова (1 ГКБ). Окончание 1987г.
                    Клиническая ординатура: оториноларингология. РГМУ им. Н.И.Пирогова  (1ГКБ). Окончание 1995г.
                    Очная аспирантура: оториноларингология. НИИ уха, горла и носа (больница им. С.П. Боткина). Окончание 2003г.
                    Учёная степень: Кандидат медицинских наук.
                </dd>

                <dt>Специализация, повышения квалификации и усовершенствование
            
                </dt>
                <dd>Избранные вопросы ЛОР 1996г. РМАПО.
                    Актуальные вопросы хирургии. 1998г. «Медбиоэкстрем» при МЗ РФ.
                    Инфекционные болезни.  1998г. «Медбиоэкстрем» при МЗ РФ.
                    Оториноларингология. 1999г.  РМАПО.
                </dd>
                <dt>Профессиональные навыки
            
                </dt>
                <dd>
                    <p>1987 - 1990гг. Врач оториноларинголог. Поликлиника Минвуза СССР.</p>
                    <p>1995 -1996гг. Врач оториноларинголог. АО ММО «Биоритм».</p>
                </dd>

                <dt>Дополнительно
            
                </dt>
                <dd>
                    <p>Имеется патент на изобретение: "Способ регуляции функциональных нарушений голоса у больных с психоэмоциональными нарушениями".</p>
                    <p>Двенадцать печатных работ в отечественной и зарубежной литературе.</p>
                </dd>

            </dl>-->
        </div>

    </div>
</div>


