﻿@using EMedSovet.Web.Upload
@model EMedSovet.Web.Models.Doctor
@{
    ViewBag.Title = "PersonalCard";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}


@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />
    @Html.Partial("_UploadFilePartialStyles")
}
<div class="row">
    <div class="span12 topMargin min-height-body">

        <div class="doctor-info">
            <div class="doctor-foto centered">
                <img src="@Url.Content(string.Format("~/Files/Doctor/{0}/Photo/{1}", Model.DoctorId, Model.Foto))" style="width:195px;height:120px;" />
                <span class="yellow-dark bold">@Model.Degree.Name</span>
            </div>
            <div class="doctor-card-summary">
                <div class="doctor-card-summary-row">
                    <span class="small bold">@{
                        if (Model.UserProfile != null)
                        {
                        <text>@string.Format("{0} {1} {2}", Model.UserProfile.Surname, Model.UserProfile.FirstName, Model.UserProfile.SecondName)</text>
                        }
                    }
                    </span>
                    <br>
                    <span class="smallest italic bold">@{
                        var specialty = Model.Specialty.FirstOrDefault();
                        if (specialty != null)
                        {
                        @specialty.Name
                        }
                    }
                    </span>
                    <br>
                    <span class="yellow-dark bold">
                        @Model.Degree.Name
                    </span>
                    <br>
                </div>
                <!--<div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="btn btn-find doctor-card-summary-btn-width">Добавить</a>
                    </div>
                    <div class="doctor-card-summary-button-label-container">

                        <span class="smallest">
                            <sup>*</sup> Доктор будет добавлен в закладку "Врачи" в Вашем личном кабинете
                        </span>
                    </div>
                </div>
                <div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="btn btn-find doctor-card-summary-btn-width">Написать</a>
                    </div>
                    <div class="doctor-card-summary-button-label-container">

                        <span class="smallest">
                            <sup>*</sup> После нажатия этой кнопки начнется разговор с доктором в чате (окнах диалога)
                        </span>
                    </div>
                </div>
                <div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="btn btn-find doctor-card-summary-btn-width">Позвонить</a>
                    </div>
                    <div class="doctor-card-summary-button-label-container">

                        <span class="smallest">
                            <sup>*</sup> Вы сможете созвониться с доктором
                        </span>
                    </div>
                </div>
                <div class="doctor-card-summary-row">
                    <div class="doctor-card-summary-button-container">
                        <a href="@Url.Action("BookmarkDoctor", "Doctor")" class="btn btn-find doctor-card-summary-btn-width">Видео-чат</a>
                    </div>
                    <div class="doctor-card-summary-button-label-container">

                        <span class="smallest">
                            <sup>*</sup> Вы сможете поговорить с доктором в режиме видео-чата
                        </span>
                    </div>
                </div>-->
                <!--<p class="small">
                            1-ый Московский Медицинский институт, лечебный, психиатрия, наркология, психотерапия<br>
                                                                                                                ГОДПО "Российская медю академия последипломного образования" Росздрава<br>
                        </p>

                        <p class="small">Опыт</p>
                        <p class="small">
                            Врачебный стаж - 23 года<br>
                                                    Опубликовано 4 научные статьи<br>
                        </p>-->
            </div>
            <!--<div class="doctor-name">
                    <p>
                        <span class="small bold">Иванова Мария Петровна
                        </span>
                        <br>
                        <span class="smallest italic bold">Оториноларинголог, врач высшей категории, кандидат медицинских наук.
                        </span>

                    </p>
                </div>-->
        </div>
        <!--<div class="doctor-info-body-subheader">
                <div class="right-aligned">
                    @Html.ActionLink("вернуться к списку специалистов", "DoctorsList", "Doctor")
                </div>
            </div>-->
        <div class="doctor-body" style="margin-bottom: 0">
            <dl>
                <dt class="bold medium topMargin"><a href="#" class="moreinfo">Общая информация&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="hidden">@Html.Raw(Model.Resume)</dd>
                <dt class="bold medium topMargin"><a href="#" class="moreinfo">Образование&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="hidden">@Html.Raw(Model.Education)</dd>
                <dt class="bold medium topMargin"><a href="#" class="moreinfo">Опыт работы&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="hidden">@Html.Raw(Model.Experience)</dd>
                <dt class="bold medium topMargin"><a href="#" class="moreinfo">Дополнительная информация&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="hidden">@Html.Raw(Model.Summary)</dd>
                <dd>&nbsp;</dd>
                <dd><a href="@Url.Action("EditPersonalArea", "Doctor")" class="btn btn-find">редактировать записи</a></dd>
            </dl>
            <!--<dl>
                    <dt class="bold"><a href="#" class="">Копии докуметов&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                    <dd class="">Документ 1</dd>
                </dl>-->

            <div>
                <dl>
                    <dt class="bold medium topMargin"><a href="#" class="">Копии докуметов&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                </dl>
                @Html.Action("UploadFiles", "Doctor")
            </div>
        </div>
    </div>
</div>


@section scripts
{

    @Html.Partial("_UploadFilesPartialScripts")
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Upload/UploadHandler.ashx")",
                data: { UploadOwnerType: '@UploadOwnerType.Doctor.ToString()', UploadOwnerId: "@Model.DoctorId" },
                dataType: "json",
                context: $('#fileupload')[0]
            }).done(function(files) {
                //$(this).addClass("done");
                //console.log(files);
                //console.log($('#fileupload').data('fileupload'));
                //$('#fileupload').data('fileupload')._renderDownload(files);
                //$('#fileupload').data('fileupload').done(null, files);
                //console.log($(this).fileupload('option', 'done'));
                $(this).fileupload('option', 'done')
                    .call(this, null, { result: files });
                $('tr.template-download > td.delete').hide();
                $('div.fileupload-buttonbar').hide();
                $('input[name="confirm"]').hide();
                $('input[name="confirm"]').next().hide();

            });
        });

    </script>
    <script type="text/javascript">


        $('.moreinfo').on('click', function (e) {
            e.preventDefault();
            //console.log($(this).parent().next());
            if ($.trim($(this).parent().next().html()) == '') return false;
            if ($(this).parent().next().is(':visible')) {
                $(this).parent().next().slideUp('fast');
            }
            else {
                $(this).parent().next().slideDown('fast');
            }

            return false;
        });

        $('.moreinfoPatient').on('click', function (e) {
            e.preventDefault();
            //console.log($(this).parent().next());
            var content = $(this).parent().parent().next();
            if ($.trim(content.html()) == '') return false;
            if (content.is(':visible')) {
                content.slideUp('fast');
            }
            else {
                content.slideDown('fast');
            }

            return false;
        });

    </script>
}
