﻿@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin rightMargin inner-body">
            <div class="text-left-aligned">
                <span class="green medium bold">текстовый чат</span>
            </div>
            <!--<div class="text-right-aligned">
                <span class="smallest">Вас консультирует <span class="green">Иван Петров</span></span>
            </div>-->
            <div class="bordered-rounded">
                <div class="" style="height:200px; padding-left: 20px;">
                    <p class="">
                        <span class="bold">Володин Александр: </span>&nbsp;Здравствуйте, доктор! Что-то в последнее время не очень хорошо себя чувствую, хотелось бы с вами посоветоваться.
                    </p>
                    <!--<p class="green bold">
                        Консультант
                    </p>
                    <p class="bold" >
                        ВЫ:
                    </p>-->
                </div>
                <div class="" style="height:100px;border-top:1px solid #EEEEEE;padding-left: 20px;">
                    <p class="bold">
                        Введите сообщение
                    </p>
                </div>
                <div class="grey-dark-filled" style="height:40px;padding-left: 20px;padding-top: 20px;">
                    
                    <div class="left-aligned">
                        <a href="" class="btn btn-find doctor-card-summary-btn-width">отправить</a>
                    </div>
                    <div class="right-aligned">
                        <a href="#" class="btn btn-find rightMargin">согласиться помочь</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
