﻿@using EMedSovet.Web.Properties
@using EMedSovet.Web.Upload
@model EMedSovet.Web.Models.Doctor

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jHtmlArea/style/css")
    @Html.Partial("_UploadFilePartialStyles")
}
<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">


            @using (Html.BeginForm("EditPersonalArea", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("Common")
                @Html.HiddenFor(model => model.DoctorId)
                @Html.HiddenFor(model => model.Foto)
                <dl>
                    <dt>Имя</dt>
                    <dd>
                        <input type="text" name="FirstName"  value="@Model.UserProfile.FirstName"/></dd>
                    <dt>Отчество</dt>
                    <dd>
                        <input type="text" name="SecondName" value="@Model.UserProfile.SecondName"/></dd>
                    <dt>Фамилия</dt>
                    <dd>
                        <input type="text" name="Surname" value="@Model.UserProfile.Surname"/></dd>
                    <dt>@Html.LabelFor(model => model.Degree)</dt>
                    <dd>@Html.DropDownList("DegreeId", (SelectList)ViewBag.Degrees)</dd>
                    <dt>@Html.LabelFor(model => model.ConsultationArea)</dt>
                    <dd>@Html.TextAreaFor(model => model.ConsultationArea, 100, 100, new Dictionary<string, object>() { { "style", "width:500px;height:200px;" } })
                        @Html.ValidationMessageFor(model => model.ConsultationArea)</dd>

                    <dt>@Html.LabelFor(model => model.Education)</dt>
                    <dd>
                        @Html.TextAreaFor(model => model.Education, 100, 100, new Dictionary<string, object>() { { "style", "width:500px;height:200px;" } })
                        @Html.ValidationMessageFor(model => model.Education)</dd>

                    <dt>@Resources.Specialty</dt>
                    <dd>
                        @Html.ListBox("Specialties", (MultiSelectList)ViewBag.SpecialtiesList)</dd>

                    <dt>@Html.LabelFor(model => model.Resume)</dt>
                    <dd>
                        @Html.TextAreaFor(model => model.Resume, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
                        @Html.ValidationMessageFor(model => model.Resume)</dd>

                    <dt>@Html.LabelFor(model => model.Summary)</dt>
                    <dd>
                        @Html.TextAreaFor(model => model.Summary, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
                        @Html.ValidationMessageFor(model => model.Summary)</dd>
                    <dt>@Html.LabelFor(model => model.Experience)</dt>
                    <dd>
                        @Html.TextAreaFor(model => model.Experience, 100, 100, new Dictionary<string, object> { { "style", "width:500px;height:200px;" } })
                        @Html.ValidationMessageFor(model => model.Experience)</dd>
                </dl>
                    
                <p>
                    <input type="submit" value="Сохранить" class="btn btn-find" />
                </p>
            }

            <div>
                @Html.Action("UploadFiles", "Doctor")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jHtmlArea/js")
    @Html.Partial("_UploadFilesPartialScripts")
    <script type="text/javascript">
        $(function () {
            $("textarea").htmlarea(); // Initialize all TextArea's as jHtmlArea's with default values
            var photosExtension =  [".png", ".jpg", ".gif"];
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Upload/UploadHandler.ashx")",
                data: { UploadOwnerType: '@UploadOwnerType.Doctor.ToString()', UploadOwnerId: "@Model.DoctorId" },
                dataType: "json",
                context: $('#fileupload')[0]
            }).done(function (files) {
                //$(this).addClass("done");
                console.log(files);
                //console.log($('#fileupload').data('fileupload'));
                //$('#fileupload').data('fileupload')._renderDownload(files);
                //$('#fileupload').data('fileupload').done(null, files);

                $(this).fileupload('option', 'done')
                .call(this, null, { result: files });
                $('input[name="confirm"]').on('click', function() {
                    //console.log('gdgdgd');
                    //console.log($(this).data('fileName'));
                    $('input[name="Foto"]').val($(this).data('fileName'));
                });
                $('input[name="confirm"]').hide();
                $('input[name="confirm"]').next().hide();
                $.each($('input[name="confirm"]'), function(key, input) {
                    $.each(photosExtension, function (keyExt, extension) {
                        //console.log($(input).data('fileName'));
                        //console.log(extension);
                        //console.log($(input).data('fileName').indexOf(extension));
                        if ($(input).data('fileName').indexOf(extension) > -1) {
                            $(input).show();
                            $(input).next().show();
                            if ($('input[name="Foto"]').val() == $(input).data('fileName')) {
                                $(input).attr('checked', 'checked');
                            }
                        }
                        
                    });
                });

            });

            
        });

    </script>


}
