﻿@using EMedSovet.Web.Upload
@model EMedSovet.Web.Models.Doctor

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jHtmlArea/style/css")
    @Html.Partial("_UploadFilePartialStyles")
}
<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin rightMargin inner-body">

            @using (Html.BeginForm("Edit", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("Common")
                @Html.HiddenFor(model => model.DoctorId)
                @Html.HiddenFor(model => model.Foto)
                <fieldset>
                    <legend>Doctor</legend>
                    <dl class="doctor-edit-labels">
                        <dt  class="green medium bold topMargin">Имя</dt>
                        <dd>
                            <input type="text" name="FirstName"  value="@Model.UserProfile.FirstName"/></dd>
                        <dt  class="green medium bold topMargin">Отчество</dt>
                        <dd>
                            <input type="text" name="SecondName" value="@Model.UserProfile.SecondName"/></dd>
                        <dt  class="green medium bold topMargin">Фамилия</dt>
                        <dd>
                            <input type="text" name="Surname" value="@Model.UserProfile.Surname"/></dd>
                        @Html.Partial("_CreateEditDoctorPartial")
                    </dl>
                    
                    <p>
                        <input type="submit" value="Сохранить" class="btn btn-find"/>
                    </p>
                </fieldset>
            }
            <div>
                @Html.ActionLink("Список докторов", "Index")
            </div>
            <div>
                @Html.Action("UploadFiles", "Doctor", new RouteValueDictionary { { "id", Model.DoctorId } })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jHtmlArea/js")
    @Html.Partial("_UploadFilesPartialScripts")
    <script type="text/javascript">
        $(function () {
            $("textarea").htmlarea(); // Initialize all TextArea's as jHtmlArea's with default values
            var photosExtension =  [".png", ".jpg", ".gif"];
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/Upload/UploadHandler.ashx")",
                data: { UploadOwnerType: '@UploadOwnerType.Doctor.ToString()', UploadOwnerId: "@Model.DoctorId" },
                dataType: "json",
                context: $('#fileupload')[0]
            }).done(function (files) {
                //$(this).addClass("done");
                console.log(files);
                //console.log($('#fileupload').data('fileupload'));
                //$('#fileupload').data('fileupload')._renderDownload(files);
                //$('#fileupload').data('fileupload').done(null, files);

                $(this).fileupload('option', 'done')
                .call(this, null, { result: files });
                $('input[name="confirm"]').on('click', function() {
                    //console.log('gdgdgd');
                    //console.log($(this).data('fileName'));
                    $('input[name="Foto"]').val($(this).data('fileName'));
                });
                $('input[name="confirm"]').hide();
                $('input[name="confirm"]').next().hide();
                $.each($('input[name="confirm"]'), function(key, input) {
                    $.each(photosExtension, function (keyExt, extension) {
                        //console.log($(input).data('fileName'));
                        //console.log(extension);
                        //console.log($(input).data('fileName').indexOf(extension));
                        if ($(input).data('fileName').indexOf(extension) > -1) {
                            $(input).show();
                            $(input).next().show();
                            if ($('input[name="Foto"]').val() == $(input).data('fileName')) {
                                $(input).attr('checked', 'checked');
                            }
                        }
                        
                    });
                });

            });

            
        });

    </script>


}
