﻿@model EMedSovet.Web.Models.Doctor

@{
    ViewBag.Title = "FillDoctorsCard";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            @using (Html.BeginForm("FillDoctorsCard", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                @Html.ValidationMessage("Common")
                <fieldset>
                    <legend>Заполните карточку доктора</legend>

                    @Html.Partial("_FillDoctorsCardPartial")

                    <p>
                        <input type="submit" value="Создать" id="buttonCreateDoctor" />
                    </p>
                </fieldset>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#buttonCreateDoctor').click(function (e) {
                if (!isValidEmailAddress($('#Email').val())) {
                    alert('Email is not valid');
                    return false;
                }
                return true;
            });

            function isValidEmailAddress(emailAddress) {
                var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
                return pattern.test(emailAddress);
            }
        });
    </script>
}
