﻿@using EMedSovet.Web.Properties
@model IEnumerable<EMedSovet.Web.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <p>
                @Html.ActionLink("Создать доктора", "Create")
            </p>
            <table>
                <tr>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.Foto)
                    </th>
                    <th style="width: 100px;">
                        ФИО
                    </th>
                    <th style="width: 100px;">
                        @Html.DisplayNameFor(model => model.Degree)
                    </th>
                    <th style="width: 100px;">
                       Специальности
                    </th>
                    <th style="width: 50px;">
                        @Html.DisplayNameFor(model => model.IsConfirmed)
                    </th>
                    <th style="width: 50px;">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th style="width: 50px;"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (string.IsNullOrWhiteSpace(item.Foto))
                            {
                                <text>no image</text>
                            }
                            else
                            {
                                <img src="@Url.Content(string.Format("~/Files/Doctor/{0}/Photo/{1}", item.DoctorId, item.Foto))" class="" style="width:100px;height:100px;" />
                            }
                            
                        </td>
                         <td>
                            @if (item.UserProfile != null)
                            {
                                <text>@string.Format("{0} {1} {2}", item.UserProfile.Surname, item.UserProfile.FirstName, item.UserProfile.SecondName)</text>
                            }
                            else
                            {
                                @Resources.NoData
                            }
                    
                            @*item.Degree.Name*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Degree.Name)
                            @*item.Degree.Name*@
                        </td>
                        <td>
                            @foreach(var speciality in item.Specialty)
                            {
                                @speciality.Name <text><br></text>
                            }
                        </td>
                        <td>
                            @(item.IsConfirmed.HasValue ? item.IsConfirmed.Value ? Resources.Yes : Resources.No : Resources.No )
                        </td>
                        <td>
                            @(item.IsActive.HasValue ? item.IsActive.Value ? Resources.Yes : Resources.No : Resources.No )
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.DoctorId }) |
                            @Html.ActionLink("Детали", "Details", new { id = item.DoctorId }) |
                            @Html.ActionLink("Удалить", "Delete", new { id = item.DoctorId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


