﻿@using EMedSovet.Web.Models
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <h2>Что вы можете сделать дальше</h2>

            <dl>
                <dt class="infoList">@Html.ActionLink("Пройти в ваш личный кабинет", "PersonalArea", "Doctor", null, new Dictionary<string, object> {{"class", ""}})</dt>
                <dd class="infoText">Это ваша личная крепость, ваше почтовое отделение,  банк и библиотека.</dd>
                <dt class="infoList">@Html.ActionLink("Заполнить карточку доктора", "EditPersonalArea", "Doctor", null, new Dictionary<string, object> {{"class", ""}})</dt>
                <dd class="infoText">Это ваша визитная карточка, которая позволит всем узнать о ваших достижениях и заслугах.</dd>
                <dt class="infoList">@Html.ActionLink("Узнать об актуальных событиях в мире медицины", "MedicalNews", "News", null, new Dictionary<string, object> {{"class", ""}})</dt>
                <dd class="infoText">&nbsp;</dd>
                <dt class="infoList">@Html.ActionLink("Почитать статьи", "MedicalArticles", "Article", null, new Dictionary<string, object> {{"class", ""}})</dt>
                <dd class="infoText">Выразить свое несогласие или, напротив, одобрение автору.</dd>
                <dt class="infoList">@Html.ActionLink("Добавить свою статью", "", "", null, new Dictionary<string, object> {{"class", ""}})</dt>
                <dd class="infoText">, если вам есть чем поделиться с врачебным сообществом.</dd>
            </dl>

        </div>
    </div>
</div>
