﻿@using EMedSovet.Web.Helpers
@model EMedSovet.Web.Models.Doctor
@{
    ViewBag.Title = "PersonalCard";
    Layout = "~/Views/Shared/_MainInternal.cshtml";
}


@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}

<div class="row">
    <div class="span12 topMargin min-height-body">
        <div class="doctor-info">
            <div class="doctor-foto centered">
                <img src="@Url.Content(string.Format("~/Files/Doctor/{0}/Photo/{1}", Model.DoctorId, Model.Foto))" class="" style="width:195px;height:120px;" />
            </div>
            <div class="doctor-card-summary">
                <div class="doctor-card-summary-row">
                    <span class="small bold">@{
                        if (Model.UserProfile != null)
                        {
                        <text>@string.Format("{0} {1} {2}", Model.UserProfile.Surname, Model.UserProfile.FirstName, Model.UserProfile.SecondName)</text>
                        }
                    }
                    </span>
                    <br>
                    <span class="smallest italic bold">@{
                        var specialty = Model.Specialty.FirstOrDefault();
                        if (specialty != null)
                        {
                        @specialty.Name
                        }
                    }
                    </span>
                    <br>
                    <span class="yellow-dark bold">
                        @Model.Degree.Name
                    </span>
                    <br>
                    <a class="green small bold" href="@Url.Action("DoctorCardInternal", "Doctor")">перейти к личной карте
                    </a>
                </div>
            </div>
        </div>
        <!--<div class="doctor-info-body-subheader">
            <div class="right-aligned">
                @Html.ActionLink("вернуться к списку специалистов", "DoctorsList", "Doctor")
            </div>
        </div>-->
        <div class="doctor-body" style="margin-bottom: 0">

            <!--<div class="doctor-fields">-->
            <div class="">
                <div class="doctor-fields">

                    <!--<p>Информация</p>
                        <p class="tiny green">Необходимо заполнить все поля анкеты</p>
                        <p>Образование</p>
                        <textarea style="width:450px;height: 80px;"></textarea>
                        <p>Место работы</p>
                        <textarea style="width:450px;height: 80px;"></textarea>
                        <p>Научные работы</p>
                        <textarea style="width:450px;height: 80px;"></textarea>-->
                    <dl>
                        <dt class="bold medium topMargin">Новые запросы. 1 новый запрос.</dt>
                        @foreach (var advice in Model.Advices.Where(a => a.AdviceStatusId == 1).OrderByDescending(a => a.CreatedAt))
                        {

                            if (advice.Patient != null && advice.Patient.UserProfile != null)
                            {
                            <dd class=""><a href="@Url.Action("DoctorChat", "Doctor")" class="">
                                <text>@string.Format("{0} {1} {2}", advice.Patient.UserProfile.Surname, advice.Patient.UserProfile.FirstName, advice.Patient.UserProfile.SecondName)</text>
                            </a></dd>
                            }
                        }
                        <!--<dd class=""><a href="@Url.Action("DoctorChat", "Doctor")" class="">Володин Александр</a></dd>-->
                        <dt class="bold medium topMargin">Текущие советы.</dt>
                        @foreach (var advice in Model.Advices.Where(a => a.AdviceStatusId == 2).OrderByDescending(a => a.CreatedAt))
                        {

                            if (advice.Patient != null && advice.Patient.UserProfile != null)
                            {
                            <dd class="topMarginSmall">
                                <section style="width: 250px; display: inline-block;">
                                    <a href="#" class="moreinfoPatient">
                                        <text>@string.Format("{0} {1} {2}", advice.Patient.UserProfile.Surname, advice.Patient.UserProfile.FirstName, advice.Patient.UserProfile.SecondName)</text>
                                        <img src="~/Images/arrow_green.png" class="inline" />

                                    </a>
                                </section>
                                <section style="width: 200px; display: inline-block;">
                                    <a href="@Url.Action("ChangeAdviceStatus", "Advice", new RouteValueDictionary { { "id", advice.AdviceId }, { "adviceStatusId", 4 } })" class="btn btn-find btn-mini">переместить в «завершенные»</a>
                                </section>
                            </dd>
                            <dd class="hidden">
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    Головные боли..<br>
                                    (раскрыть анамнез)
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Сообщения</span><br />
                                    1 новое сообщение
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Аудио-чат</span><br />
                                    1 неотвеченный звонок
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Видео-чат</span><br />
                                    Новых запросов не было
                                </section>
                            </dd>
                            }
                        }
                        <!--<dd class="topMarginSmall">
                            <section style="width: 250px; display: inline-block;">
                                <a href="#" class="moreinfoPatient">Иванов Иван Иванович&nbsp;
                                    <img src="~/Images/arrow_green.png" class="inline" />

                                </a>
                            </section>
                            <section style="width: 200px; display: inline-block;">
                                <a href="#" onclick="return false;" class="btn btn-find btn-mini">переместить в «завершенные»</a>
                            </section>
                        </dd>
                        <dd class="hidden">
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                Головные боли..<br>
                                (раскрыть анамнез)
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Сообщения</span><br />
                                1 новое сообщение
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Аудио-чат</span><br />
                                1 неотвеченный звонок
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Видео-чат</span><br />
                                Новых запросов не было
                            </section>
                        </dd>-->
                        <!--<dd class="topMarginSmall">
                            <section style="width: 250px; display: inline-block;">
                                <a href="#" class="moreinfoPatient">Кадышева Ангелина Петровна&nbsp;
                                    <img src="~/Images/arrow_green.png" class="inline" />

                                </a>
                            </section>
                            <section style="width: 200px; display: inline-block;">
                                <a href="#" onclick="return false;" class="btn btn-find btn-mini">переместить в «завершенные»</a>
                            </section>
                        </dd>
                        <dd class="hidden">
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                Резь в глазах..<br>
                                (раскрыть анамнез)
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Сообщения</span><br />
                                Новых сообщений нет
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Аудио-чат</span><br />
                                Новых запросов не было
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Видео-чат</span><br />
                                1 неотвеченный звонок
                            </section>
                        </dd>-->
                        <dt class="bold medium topMargin">Оплаченные советы.</dt>
                        @foreach (var advice in Model.Advices.Where(a => a.AdviceStatusId == 3).OrderByDescending(a => a.CreatedAt))
                        {

                            if (advice.Patient != null && advice.Patient.UserProfile != null)
                            {
                            <dd class="topMarginSmall">
                                <section style="width: 250px; display: inline-block;">
                                    <a href="#" class="moreinfoPatient">
                                        <text>@string.Format("{0} {1} {2}", advice.Patient.UserProfile.Surname, advice.Patient.UserProfile.FirstName, advice.Patient.UserProfile.SecondName)</text>
                                        <img src="~/Images/arrow_green.png" class="inline" />

                                    </a>
                                </section>
                                <section style="width: 200px; display: inline-block;">
                                    <a href="@Url.Action("ChangeAdviceStatus", "Advice", new RouteValueDictionary { { "id", advice.AdviceId }, { "adviceStatusId", 4 } })" class="btn btn-find btn-mini">переместить в «завершенные»</a>
                                </section>
                            </dd>
                            <dd class="hidden">
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    Резь в глазах..<br>
                                    (раскрыть анамнез)
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Сообщения</span><br />
                                    Новых сообщений нет
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Аудио-чат</span><br />
                                    Новых запросов не было
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Видео-чат</span><br />
                                    Новых запросов не было
                                </section>
                            </dd>
                            }
                        }
                        <!--<dd class="topMarginSmall">
                            <section style="width: 250px; display: inline-block;">
                                <a href="#" class="moreinfoPatient">Викторов Иван Карпович&nbsp;
                                    <img src="~/Images/arrow_green.png" class="inline" />

                                </a>
                            </section>
                            <section style="width: 200px; display: inline-block;">
                                <a href="#" onclick="return false;" class="btn btn-find btn-mini">переместить в «завершенные»</a>
                            </section>
                        </dd>
                        <dd class="hidden">
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                Резь в глазах..<br>
                                (раскрыть анамнез)
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Сообщения</span><br />
                                Новых сообщений нет
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Аудио-чат</span><br />
                                Новых запросов не было
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Видео-чат</span><br />
                                Новых запросов не было
                            </section>
                        </dd>-->

                        <dt class="bold medium topMargin">Завершенные советы.</dt>

                        @foreach (var advice in Model.Advices.Where(a => a.AdviceStatusId == 4).OrderByDescending(a => a.CreatedAt))
                        {

                            if (advice.Patient != null && advice.Patient.UserProfile != null)
                            {
                            <dd class="topMarginSmall">
                                <section style="width: 250px; display: inline-block;">
                                    <a href="#" class="moreinfoPatient">
                                        <text>@string.Format("{0} {1} {2}", advice.Patient.UserProfile.Surname, advice.Patient.UserProfile.FirstName, advice.Patient.UserProfile.SecondName)</text>
                                        <img src="~/Images/arrow_green.png" class="inline" />

                                    </a>
                                    @advice.CompletedAt.Value.ToString("dd.MM.yyyy")
                                </section>
                                <section style="width: 200px; display: inline-block;">
                                    <a href="@Url.Action("ChangeAdviceStatus", "Advice", new RouteValueDictionary { { "id", advice.AdviceId }, { "adviceStatusId", 2 } })" class="btn btn-find btn-mini">переместить в «текущие»</a>
                                </section>
                            </dd>
                            <dd class="hidden">
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    Одышка и икота..<br>
                                    (раскрыть анамнез)
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Сообщения</span><br />
                                    Показать переписку
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Аудио-чат</span><br />
                                    Показать историю
                                </section>
                                <section style="width: 200px; display: inline-block;" class="bordered">
                                    <span class="green">Видео-чат</span><br />
                                    Показать историю
                                </section>
                            </dd>
                            }
                        }
                        <!--<dd class="topMarginSmall">
                            <section style="width: 250px; display: inline-block;">
                                <a href="#" class="moreinfoPatient">Боков Сергей Андреевич&nbsp;
                                    <img src="~/Images/arrow_green.png" class="inline" />

                                </a>
                                25.12.2012
                            </section>
                            <section style="width: 200px; display: inline-block;">
                                <a href="#" onclick="return false;" class="btn btn-find btn-mini">переместить в «текущие»</a>
                            </section>
                        </dd>
                        <dd class="hidden">
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                Одышка и икота..<br>
                                (раскрыть анамнез)
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Сообщения</span><br />
                                Показать переписку
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Аудио-чат</span><br />
                                Показать историю
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Видео-чат</span><br />
                                Показать историю
                            </section>
                        </dd>
                        <dd class="topMarginSmall">
                            <section style="width: 250px; display: inline-block;">
                                <a href="#" class="moreinfoPatient">Боков Сергей Андреевич&nbsp;
                                    <img src="~/Images/arrow_green.png" class="inline" />

                                </a>
                                01.10.2012
                            </section>
                            <section style="width: 200px; display: inline-block;">
                                <a href="#" onclick="return false;" class="btn btn-find btn-mini">переместить в «текущие»</a>
                            </section>
                        </dd>
                        <dd class="hidden">
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                Повышенное потоотделение..<br>
                                (раскрыть анамнез)
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Сообщения</span><br />
                                Показать переписку
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Аудио-чат</span><br />
                                Показать историю
                            </section>
                            <section style="width: 200px; display: inline-block;" class="bordered">
                                <span class="green">Видео-чат</span><br />
                                Показать историю
                            </section>
                        </dd>-->
                    </dl>
                    <!--<dl>
                        <dt class="bold medium topMargin"><a href="#" class="">Копии докуметов&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                        <dd class="">Документ 1</dd>
                    </dl>-->

                </div>

            </div>
            <div class="doctor-brief">
                <dl>
                    <!--<dt>Пациенты</dt>
                    <dd>Камушкина Ирина Геннадьевна</dd>
                    <dd><a href="#">переписка,</a> <a href="#">звонки,</a>  <a href="#">видео-чаты</a></dd>-->
                    <dt>Сообщения</dt>
                    <dd>Входящие 12</dd>
                    <dd>Исходящие 13</dd>
                    <dd>Уведомления 5</dd>
                    <dt>Статьи</dt>
                    <dd>Добавленные</dd>
                    <dd>Черновики</dd>
                    <dt>Баланс</dt>
                    <dd>История платежей</dd>
                    <dd>Вывести средства</dd>
                    <!--<dd>&nbsp;</dd>
                    <dd><a href="@Url.Action("EditPersonalArea", "Doctor")" class="btn btn-find">редактировать записи</a></dd>-->
                </dl>
            </div>
        </div>
        <!--<div class="doctor-body">
            <dl>
                <dt class="bold"><a href="#" class="moreinfo">Общая информация&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="hidden">@Html.Raw(Model.Resume.Chop(300))</dd>
                <dt class="bold"><a href="#" class="moreinfo">Образование&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="hidden">@Html.Raw(Model.Education.Chop(300))</dd>
                <dt class="bold"><a href="#" class="moreinfo">Опыт работы&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="hidden">@Html.Raw(Model.Experience.Chop(300))</dd>
                <dt class="bold"><a href="#" class="moreinfo">Аннотация&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="hidden">@Html.Raw(Model.Summary.Chop(300))</dd>
                <dd>&nbsp;</dd>
                <dd><a href="@Url.Action("EditPersonalArea", "Doctor")" class="btn btn-find">редактировать записи</a></dd>
            </dl>
            <dl>
                <dt class="bold"><a href="#" class="">Копии докуметов&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a></dt>
                <dd class="">Документ 1</dd>
            </dl>
        </div>-->
    </div>
</div>
@section scripts
{
    <script type="text/javascript">


        $('.moreinfo').on('click', function (e) {
            e.preventDefault();
            //console.log($(this).parent().next());
            if ($.trim($(this).parent().next().html()) == '') return false;
            if ($(this).parent().next().is(':visible')) {
                $(this).parent().next().slideUp('fast');
            }
            else {
                $(this).parent().next().slideDown('fast');
            }

            return false;
        });

        $('.moreinfoPatient').on('click', function (e) {
            e.preventDefault();
            //console.log($(this).parent().next());
            var content = $(this).parent().parent().next();
            if ($.trim(content.html()) == '') return false;
            if (content.is(':visible')) {
                content.slideUp('fast');
            }
            else {
                content.slideDown('fast');
            }

            return false;
        });

    </script>
}
