﻿.contentWrapper { min-height: 210px; }
.articles_item{
    padding:0px 0px 10px 0px;
}

.articles_item_text{
    padding:0px 0px 10px 0px;
}

.articles_item_text .imgWrapper, .new_item_text .imgWrapper
{
    border:1px solid #666667;
    margin:3px 15px 0px 0px;
    float:left;
    width: 127px;
    height: 90px;
    overflow:hidden;
    position: relative;
}
.articles_item_text .locked
{
    color: #666 !important;
}
.articles_item_text .imgWrapper .lock
{
    position: absolute;
    top: 0px;
    left: 0px;
}
.imgWrapperBig
{
    margin:5px 15px 0px 0px;
    float: left;
    border: 2px solid #999999;   
    width: 270px;
    height: 186px;
    overflow:hidden; 
}

.articles_item_text a:link{color:#333333;text-decoration:none;}
.articles_item_text a:visited{color:#333333;text-decoration:none;}
.articles_item_text a:hover{color:#333333;text-decoration:none;}
.articles_item_text a:visited:hover{color:#333333;text-decoration:none;}

.articles_item_text b a:link{color:#006633;text-decoration:underline;}
.articles_item_text b a:visited{color:#006633;text-decoration:underline;}
.articles_item_text b a:hover{color:#006633;text-decoration:none;}
.articles_item_text b a:visited:hover{color:#006633;text-decoration:none;}


.articles_item_info{
    background:#dbdbdb url(../Images/articles_item_info.jpg) right no-repeat;
    width:843px;
    height:20px;
    padding:2px 0px 0px 8px;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    color:#666667;
    float:left;
    clear:left;
}

.articles_item_info img{
    margin:0px 5px -3px 0px;
}

.acticles_item_more{
    float:left;
    clear:none;
    width:69px;
}
.articles_item_info .count
{
    float: right;
    padding-right: 20px;    
}
.acticles_item_more img{
    border:0px solid #ffffff;
}

.acticles_item_more_btn a:link{font-weight: bold; color:#006633;text-decoration:none;width:69px;height:21px;background:url(../Images/articles_item_more.jpg);display:block;text-align:center;padding-top:2px; }
.acticles_item_more_btn a:visited{color:#006633;text-decoration:none;width:69px;height:21px;background:url(../Images/articles_item_more.jpg);display:block;text-align:center;padding-top:2px;}
.acticles_item_more_btn a:hover{color:#00aa55;text-decoration:none;width:69px;height:21px;background:url(../Images/articles_item_more.jpg);display:block;text-align:center;padding-top:2px;}
.acticles_item_more_btn a:visited:hover{color:#00aa55;text-decoration:none;width:69px;height:21px;background:url(../Images/articles_item_more.jpg);display:block;text-align:center;padding-top:2px;}
.acticles_item_more_btn .locked {color: #666 !important; font-weight: bold; background:url(../Images/articles_item_more_lock.png) !important;}

.content .filter
{
    margin: 0px;  
    position: relative;  
}

.content .filter .toSelect
{
    width: 596px;
    position: relative;
    min-height: 200px;
    padding-bottom: 16px;
}
.content .filter .selected
{
    width: 298px;
    margin-left: 3px;
}
.content .filter .toSelect .header, .content .filter .selected .header
{
    height: 27px;
    padding: 8px 0px 0px 12px;
    background: #7c7b7b url(../images/input_search.png) no-repeat 180px 5px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
}
.content .filter .selected .header
{
    background: #33855c;
}
.content .filter .toSelect .header input
{
    position: relative;
    height: 17px;
    left: 32px;
    width: 108px;
    border: none;
    padding: 0;
    background-color: #f8f8f8;
}
.content .filter .specs
{
    float: left; 
    width: 32%;
    color: #33855c;
    font-family: Arial;
    font-size: 12px;
    padding: 5px 0px;
}
.content .filter .specs:first-child
{
    margin-right: 4%;    
}
.content .filter .specs > div
{
    background: url(../images/arrow_green.png) no-repeat left 9px;
    padding: 3px 0px 0px 12px;
    cursor: pointer;
    position: relative;
}
.content .filter .specs > div.bold
{
    font-weight: bold;    
}
.content .filter .specs > div:hover
{
    background: #33855c url(../images/arrow_white.png) no-repeat 10px 9px;
    padding-left: 22px;
    color: White;
}
.content .filter .specs .new
{
    position: absolute;
    right: 0px;
    top: 3px;
    width: 30px;
    height: 20px;    
    background: url(../images/specs_new.png) no-repeat left top;
}
.content .filter .warning
{
    height: 18px;
    background: url(../images/warning.png) no-repeat left 2px;
    font-size: 11px;
    color: #999;
    padding-left: 18px;
}
.content .filter .toSelect .warning
{
    position: absolute;
    left: 0px;
    bottom: -2px;
}
.content .filter .selected .warning
{
    margin: 5px 0px 10px 0px;
}
.selectedFiltersWrapper
{
    width: 294px;
    border: 1px solid #949494;
    height: 164px; 
    padding: 1px;
}
#selectedFilters div
{
    font-size: 12px;
    color: #666;
    min-height: 22px;
    padding: 3px 0px 0px 3px;
    cursor: pointer;
}
#selectedFilters div:hover
{
    background: #ccc url(../images/cross.png) no-repeat right 9px;
    color: #333;
}

.content .helper .info .mainText.articles
{
    background: url(../Images/articles_helper_point2_img.png) no-repeat left top;
    padding-left: 145px;
}
.content .helper .info .mainText.singlearticle
{
    background: url(../Images/singlearticle_helper_point1_img.png) no-repeat left top;
    padding-left: 145px;
}
.content .helper .info .mainText.singlearticle.captcha
{
    background: url(../Images/singlearticle_helper_point2_img.png) no-repeat left top;
    padding: 55px 0px 0px 0px;
}
.content .helper .info .aftercontroltest
{
    background: url(../Images/aftercontroltest_helper_img.png) no-repeat left top;
    padding: 0px 0px 0px 200px;
}

.topoll{
    background:url(../Images/menu_split.jpg) top repeat-x;
    padding:20px 0px 0px 0px;
}
.topoll_captcha
{
    width: 150px;    
}
.topoll_captcha img
{
    border: 1px solid #cbcbcb;
}
.topoll_label
{
    width:186px;
    float:left;
    clear:left;
    font-family:Arial;
    font-size:20px;
    color:#117041;
    padding:2px 0px 0px 0px;
}

.topoll_inp
{
    width:110px;
    height:23px;
    border:1px solid #cbcbcb;
    background:#eeeeee;
    margin:0px 10px 0px 0px;
    padding:0px;
}

.topoll_small_label, .topoll_small_label_error
{
    font-size:10px;
    font-weight:bold;
    color:#117041;
}
.topoll_small_label_error
{
    height: 15px;    
    padding-top: 3px;
    color: Red;
}
.topoll_small_label_error span
{
    margin: 0px;    
}
.poll_buttonWrapper
{    
    padding: 7px 0px;
    margin-bottom: 40px;
}
.poll_answersWrapper, .poll_buttonWrapper
{
    background: url(../images/poll_question_bkgr.png) repeat-y left top;
    border: 1px solid #bdbcbd;
    border-top-color: #fff;
}
.poll_answersWrapper
{
    padding: 16px 14px;    
}
.poll_answersWrapper label
{
    display: block;    
}
.poll_answersWrapper label span
{
    margin-top: -2px;    
}
.poll_questionWrapper
{
    border: 1px solid #bdbcbd;
    background: url(../images/poll_question_bkgr.png) repeat-y left top;
}
.poll_questionWrapper .number
{
    width: 82px;
    min-height: 20px;
    background: url(../images/question_logo.png) no-repeat 20px 12px;
    font-size: 11px;
    color: #006633;
    text-align: center;
    padding-top: 60px
}
.poll_questionWrapper h2
{
    padding-top: 9px;    
}
.afterControlTest
{
    padding-bottom: 10px;
    background:url(../Images/menu_split.jpg) bottom repeat-x;
    margin-bottom: 20px;
    font-size: 14px;
}
.afterControlTest span.rubbles
{
    color: #006633;
    font-weight: bold;
    background: url(../images/icon_coins_gray.png) no-repeat right top;
    padding-right: 18px;
}
.afterControlTest .result
{
    width: 45%;    
    padding: 4px 0px 10px 0px;
}
.afterControlTest .warningUnreg
{
    float: right;
    background: url(../images/warning_big.png) no-repeat left top;    
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #990000;
    padding: 6px 0px 0px 40px;
}

.auth_block{
width:252px;
padding-top:13px;
}

.auth_title{
font-family:Arial;
font-size:14px;
font-weight: bold;
color:#000;
}

.auth_title img{
margin:0px 7px 0px 0px;
}

.auth_left{
float:left;
clear:left;
width:118px;
}

.auth_right{
float:right;
clear:right;
width:118px;
}

.auth_label{
font-family:Arial;
font-size:12px;
color:#333333;
padding:8px 0px;
}

.auth_inp_bg{
width:118px;
height:25px;
background:url(../Images/auth_inp.jpg);
}

.auth_inp{
width:105px;
padding:4px 0px 0px 5px;
border:0px solid #ffffff;
background:transparent;
}

.auth_rememberme{
font-family:Arial;
font-size:11px;
color:#666667;
padding:8px 0px 0px 0px;
}
.auth_rememberme label{color:#666667;text-decoration:underline;position: relative; top:-3px;}
.auth_rememberme label:hover{color:#006633;text-decoration:underline;}


.auth_btn
{
    margin:12px 0px 10px 0px;
    height: 25px;
}
.auth_btn.not100perc
{
    float: right;  
}

.auth_btn input
{
    cursor: pointer;
    min-width: 113px;
    height: 25px;
    border: none;
    font: bold 12px arial, sans-serif;
    color: #fff;
    background: url(../Images/buttonleft.gif) no-repeat left top;
    float: left;
    margin:0;    
    padding: 0px 5px 0px 10px;
}
.auth_btn:hover input
{
    background-position: left bottom;
}
input::-moz-focus-inner { 
    border: 0;
    padding: 0;
}
.auth_btn .end
{
    width: 5px;    
    float: right;
    height: 25px;
    background: url(../Images/buttonright.gif) no-repeat right top;
}
.auth_btn:hover .end
{
    background-position: right bottom;    
}
    
.auth_forget, .auth_failure{
font-family:Arial;
font-size:11px;
color:#666667;
padding:0px 0px 0px 0px;
}
.auth_forget
{
    background: url(../images/help.png) no-repeat 4px 4px;
    padding-left: 20px;
}
.auth_failure
{
    color: Red;
    margin-top: 5px;
    display: block;
}

.auth_forget a:link{color:#666667;text-decoration:underline;}
.auth_forget a:visited{color:#666667;text-decoration:underline;}
.auth_forget a:hover{color:#006633;text-decoration:underline;}
.auth_forget a:visited:hover{color:#006633;text-decoration:underline;}

.auth_register{
padding:10px 0px 18px 0px;
font-family:Arial;
font-size:12px;
font-weight:bold;
}

.auth_register a:link{color:#006633;text-decoration:underline;display:block;width:192px;height:27px;background:url(../Images/auth_register.jpg);padding:11px 0px 0px 55px;}
.auth_register a:visited{color:#006633;text-decoration:underline;display:block;width:192px;height:27px;background:url(../Images/auth_register.jpg);padding:11px 0px 0px 55px;}
.auth_register a:hover{color:#006633;text-decoration:none;display:block;width:192px;height:27px;background:url(../Images/auth_register.jpg);padding:11px 0px 0px 55px;}
.auth_register a:visited:hover{color:#006633;text-decoration:none;display:block;width:192px;height:27px;background:url(../Images/auth_register.jpg);padding:11px 0px 0px 55px;}

.readedArticle > a
{
    font-weight: bold;
    color: #006633;   
}
.readedArticle > a:hover
{
    text-decoration: none;    
}

.mp3player
{
    position: fixed;
    bottom: 10px;    
    left: -1000px;
    z-index: 100;
}
.h1_date.audio
{
    position:relative;
    right: 100px;
    width:100px;    
    text-decoration: underline;
    cursor: pointer;
}
.h1_date.audio img
{
    position: relative;
    top:-1px;    
    left: -5px;
}