

.checkbox, .radio {
	width: 19px;
	height: 19px;
	padding: 0 5px 0 0;
	background: url(../Images/checkbox.gif) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(../Images/radio.gif) no-repeat;
}
.select {
	position: absolute;
	width: 200px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 25px;
	padding: 2px 24px 0 8px;
	color: #333333;
	font: 12px/21px arial,sans-serif;
	background: url(../Images/select.gif) no-repeat;
	overflow: hidden;
	text-align:left;
}

.jqueryCalendarInputWide{
	width: 100px !important;
	background: url("./img/icons_home.png") no-repeat 70px 8px white !important; 
	border: 1px solid #FFFFFF !important;
	padding: 8px 14px 8px 9px !important;
	margin-top: 0px !important;
	margin-bottom: 10px !important;
	font-size: 12px !important;
	font-family: Arial !important;
	font-weight: normal !important;
	border-radius: 3px !important;
	cursor:pointer !important;
}

