﻿.message_reply_dont_send{
    height:10px;
    overflow:hidden;
    text-align:right;
    margin:-10px 0px 5px 0px;
}

.message_reply_dont_send img{
    cursor:pointer;
}

.message_img{
    float:left;
    clear:left;
    width:90px;
}

.message_img img{
    border:3px solid #cccccc;
}

.messages{
    width:527px;
    float:left;
    clear:none;
}

.message_block{
    padding:0px 0px 10px 0px;
    background:url(../Images/menu_split.jpg) bottom repeat-x;
    margin:0px 0px 10px 0px;
}

.message{
    border:1px solid #cccccc;
    margin: 0px 0px 6px 0px;
}

.message_author{
    background:#cccccc;
    font-family:Arial;
    font-size:12px;
    padding:2px 6px 2px 6px;
}

.message_author img{
    border:0px solid #ffffff;
    margin:0px 5px -2px 0px;
}

.message_author a:link{color:#006633;text-decoration:underline;}
.message_author a:visited{color:#006633;text-decoration:underline;}
.message_author a:hover{color:#006633;text-decoration:none;}
.message_author a:visited:hover{color:#006633;text-decoration:underline;}

.message_author span { float: right; }

.message_author1{
    background:#006e2e;
    font-family:Arial;
    font-size:12px;
    padding:2px 6px 2px 6px;
}

.message_author1 img{
    border:0px solid #ffffff;
    margin:0px 5px -2px 0px;
}

.message_author1 a:link{color:#ffffff;text-decoration:underline;}
.message_author1 a:visited{color:#ffffff;text-decoration:underline;}
.message_author1 a:hover{color:#ffffff;text-decoration:none;}
.message_author1 a:visited:hover{color:#ffffff;text-decoration:underline;}

.message_author1 span { float: right; color: White;}

.a_message_text 
{
    text-decoration: none !important;
}
.message_text {
    padding:8px 13px 8px 13px;
}
.message_text a {
    margin-left: 10px;
}

.message_reply{
    padding:5px 0px 0px 0px;
    display:none;
}

.message_reply_textarea{
    border:1px solid #cbcbcb;
    font-family:Arial;
    font-size:12px;
    padding:8px 13px 8px 13px;
    width: 894px;
}

.message_reply_send{
    padding:9px 0px 0px 512px;
}

.message_reply_btn{
    padding-top:9px;
}

.message_reply_btn img{
    cursor:pointer;
}

textarea.editComment
{
    width: 100%;
    height: 80px;    
    border: 1px solid #cbcbcb;
}