﻿.new_item{
    padding:0px 0px 10px 0px;
}

.new_item_text{
    padding:0px 0px 10px 0px;
}

.new_item_text b a:link{color:#006633;text-decoration:underline;}
.new_item_text b a:visited{color:#006633;text-decoration:underline;}
.new_item_text b a:hover{color:#006633;text-decoration:none;}
.new_item_text b a:visited:hover{color:#006633;text-decoration:none;}

.new_item_text a:link{color:#333333;text-decoration:none;}
.new_item_text a:visited{color:#333333;text-decoration:none;}
.new_item_text a:hover{color:#333333;text-decoration:none;}
.new_item_text a:visited:hover{color:#333333;text-decoration:none;}

.new_item_more{
    height:21px;
    background:#dbdbdb;
    text-align:right;
    padding:2px 5px 0px 5px;
    font-size:11px;
}

.new_item_more a:link{color:#333333;text-decoration:none;}
.new_item_more a:visited{color:#333333;text-decoration:none;}
.new_item_more a:hover{color:#333333;text-decoration:underline;}
.new_item_more a:visited:hover{color:#333333;text-decoration:underline;}

.new_item_more img{
    border:0px solid #ffffff;
    margin:0px 0px -5px 5px;
}