﻿.pages_block{
    padding:10px 0px 0px 0px;
}

.pages_line{
    height:1px;
    overflow:hidden;
    background:#cccccc;
}

.pages{
    font-family:Arial;
    font-size:12px;
    text-align:center;
    padding:8px 0px 8px 0px;
    font-size:14px;
}

.pages a:link{color:#006e2e;text-decoration:none;margin:0px 17px 0px 17px;}
.pages a:visited{color:#006e2e;text-decoration:none;margin:0px 17px 0px 17px;}
.pages a:hover{color:#006e2e;text-decoration:underline;margin:0px 17px 0px 17px;}
.pages a:visited:hover{color:#006e2e;text-decoration:underline;margin:0px 17px 0px 17px;}

.page_prev {font-size:12px;}
.page_prev a:link{color:#006e2e;text-decoration:underline;margin:0px 17px 0px 0px;}
.page_prev a:visited{color:#006e2e;text-decoration:underline;margin:0px 17px 0px 0px;}
.page_prev a:hover{color:#006e2e;text-decoration:underline;margin:0px 17px 0px 0px;}
.page_prev a:visited:hover{color:#006e2e;text-decoration:underline;margin:0px 17px 0px 0px;}

.page_next {font-size:12px;}
.page_next a:link{color:#006e2e;text-decoration:underline;margin:0px 0px 0px 17px;}
.page_next a:visited{color:#006e2e;text-decoration:underline;margin:0px 0px 0px 17px;}
.page_next a:hover{color:#006e2e;text-decoration:underline;margin:0px 0px 0px 17px;}
.page_next a:visited:hover{color:#006e2e;text-decoration:underline;margin:0px 0px 0px 17px;}