﻿.regDiv .center
{
    width: 918px;
    border-left: 1px solid #bdbcbd;
    border-right: 1px solid #bdbcbd;
    background: url(../images/helper_bkgr_center.png) repeat-x left bottom;
}
.regDiv .top, .regDiv .bottom
{
    width: 920px;
    height: 10px;
    background: url(../images/helper_bkgr_topbottom.png) no-repeat left top;
}
.regDiv .bottom
{
    background-position: left bottom;
    margin-bottom: 20px;
}
.posrel
{
    position: relative;  
    width: 200px;  
}
.posrel span
{
    position: absolute;
    top: 0px;  
    left: 0px;
}
.phoneHelper
{
    float: left;
    font-size: 11px;    
    padding: 5px 0px 0px 0px !important;
    line-height: 10px;
    
}
.substyled
{
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 10;    
    width: 173px;
    border: none;
    height: 20px;
    background-color: #f8f8f8;
}