﻿body 
{
    margin: 0;
    padding: 0;
}
h2
{
    font-size: 20px !important; 
    font-weight: normal;
}
h3
{
    color: #333;    
}
.shelper
{
    background: url(../images/splash_bkgr.png) no-repeat left top;   
    height: 481px; 
}
.shelper a
{
    display: block;
    text-decoration: none;    
}
.shelper .div1, .shelper .div2, .shelper .div3
{
    padding: 3px 0px 0px 115px;    
}
.shelper .div1
{
    background: url(../images/splash_div1.png) no-repeat 28px 47px;
    height: 182px;    
}
.shelper .div2
{
    background: url(../images/splash_div2.png) no-repeat 24px 43px;
    height: 155px;    
}
.shelper .div3
{
    background: url(../images/splash_div3.png) no-repeat 27px 27px;

}
.item
{
    float: left;
    width: 150px;
    height: 40px;    
    margin: 0px 40px;
    font: bold 12px Arial;
    color: #006e2e;
    text-align: center;
    padding-top: 110px;
}
.profile
{
    background: url(../images/splash/profile.png) no-repeat 45px 20px;
}
.account
{
    background: url(../images/splash/account.png) no-repeat 35px 20px;
}
.articles
{
    background: url(../images/splash/articles.png) no-repeat 42px 20px;
}
.archive
{
    background: url(../images/splash/archive.png) no-repeat 41px 20px;
}
.specialists
{
    background: url(../images/splash/specialists.png) no-repeat 33px 20px;
}
.readed
{
    background: url(../images/splash/readed.png) no-repeat 34px 20px;
}
.comments
{
    background: url(../images/splash/comments.png) no-repeat 34px 20px;
}
.support
{
    background: url(../images/splash/support.png) no-repeat 40px 20px;
}
.statistics
{
    background: url(../images/splash/statistics.png) no-repeat 40px 20px;
}
a:hover span
{
    text-decoration: underline;    
}
.regInfo
{
    font-weight: bold;
    font-size: 14px;
}
.regInfo span
{
    color: #006633;
}
.regList span
{
    display: block;    
    background: url(../images/point.jpg) no-repeat 2px 1px;
    padding-left: 15px;
    margin: 10px 0px;
}