body {
    margin:0px;
    padding:0px;
    font-family: Arial;
    font-size: 12px;
    /*line-height: 14px;*/
    color: Black;
    background: url(../images/body_bkgr.png) repeat left top;
    min-width: 1200px;
    position: relative;
}

form{
    margin:0px;
    padding-top:0px;
    position: relative;
}

.float
{
    float: left;    
}
.floatRight
{
    float: right;    
}
.right50
{
    right: 50%;  
    position: relative; 
}
.minHeight
{
    min-height: 1px !important;
}
a img
{
    border: none;    
}
/*a:link{color:#666667;text-decoration:underline;}
a:visited{color:#666667;text-decoration:underline;}
a:hover{color:#006633;text-decoration:underline;}
a:visited:hover{color:#006633;text-decoration:underline;}*/

.clear{
    clear:both;
    height:0px;
    overflow:hidden;
}
.mainWrapper > div, .logoWrapper > div, .footer > div
{
    width: 1002px;
    position: relative;
}
.footer > div
{
    width: 920px;
    height:126px;
    background:#fcfcfc url(../Images/logo_bkgr.png) repeat-y left top;
    padding: 0 41px;
}
.prefooter
{
    height: 21px;
    background: url(../Images/prefooter.png) no-repeat left top;
}
.precontent
{
    height: 21px;
    background: url(../Images/precontent.png) no-repeat left top;
}
.copyright{
    padding:40px 0px 0px 0px;
    text-align:center;
    font-family:Arial;
    font-size:14px;
    color:#666667;
}

.content
{
    width: 920px !important;
    font-family:Arial;
    font-size:12px;
    color:#333333;
    line-height:20px;
    padding:5px 41px 0px;
    background: url(../images/content_bkgr.png) repeat-y left top;
}

.content h1 {
    font-size:20px;
    font-weight:normal;
    padding:10px 0px 20px 0px;
    background:url(../Images/menu_split.jpg) bottom repeat-x;
}

.content h2{
    font-size:14px;
    color:#006633;
}

.content h3{
    font-size:14px;
    color:#333333;
}

.content h4{
    font-size:12px;
    color:#006633;
    display:inline;
}

.quote{
    width:616px;
    padding:20px 0px 20px 0px;
}

.quote_bg{
    background:url(../Images/quote_bg.jpg);
}

.quote_top{
    background:url(../Images/quote_top.jpg) top no-repeat;  
}

.quote_bottom{
    background:url(../Images/quote_bottom.jpg) bottom no-repeat;
    min-height:92px;
}

.quote_content{
    padding:16px 23px 16px 23px;
    color:#006633;
    font-weight:bold;
    font-size:12px;
}

.content ul{
    padding:12px 0px 12px 20px;
    margin:0px;
    list-style-image: url(../Images/point.jpg);
    marker-offset: 15px;
}

.content li{
    padding:0px 0px 5px 4px;
    list-style-position:outside;
    marker-offset: 10px;
}
.content .hideFilter
{
    position: absolute;
    right: 0px;
    top: -45px;
    color: #006633;
    font-family: Arial;
    font-size: 11px;
    border-bottom: 1px dashed #006633;
    cursor: pointer;
}
.content .hideFilter:hover, .content .filter .applyFilter:hover
{
    border-bottom-style: solid;
}
.content .filter .applyFilter
{
    color: #006633;
    font-family: Arial;
    font-size: 11px;
    border-bottom: 1px dashed #006633;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}  
.captchaTable td
{
    width: auto !important;    
}
.captchaInput
{
    width: 70px; 
    vertical-align: top;    
}
.SpecChLabel
{
    cursor: pointer;
}
.SpecChLabel:hover
{
    text-decoration: underline;    
}
.green
{
    color: #006633;    
}
.block
{
    display: block;  
}
.underheader
{
    height: 0px;
    overflow: visible;
    position: relative;
    top: -14px;
    z-index:0;
}
.underheader > div
{    
    height: 14px;
    background: url(../images/underheader.png) no-repeat left top;    
    margin-top: 40px;
}
.siteheader
{
    height: 45px;    
    min-width: 1200px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    /*display: none;*/    
}
.siteheader .center
{
    height: 45px;
    margin: 0 96px 0 10px;
    background: url(../Images/header_bkgr.png) repeat-x left top;    
}
.siteheader .start
{
    position: absolute;
    width: 10px;
    height: 45px;
    left: 0px;
    top: 0px;
    background: url(../Images/header_start.png) repeat-x left top;    
}
.siteheader .topend
{
    position: absolute;
    width: 96px;
    height: 45px;
    right: 0px;
    top: 0px;
    background: url(../Images/header_end.png) repeat-x left top;    
    cursor: pointer;
}
.siteheader .topend span
{
    color: #fff;
    font-weight: bold;
    border-bottom: 1px dashed #fff;
    position: relative;
    top: 11px;
    left: 10px;
}
.siteheader .topend span:hover
{
    border-bottom: 1px solid #fff;
}
.siteheader .alink
{
    position: relative;    
}
.siteheader .alink a
{
    color: White;
    font-weight: bold;   
    margin: 0;
    width: 120px; 
    padding-top: 10px;
    height: 29px;
    display: block;
    float: left;
}
.siteheader .alink a:hover
{
    background: url(../images/topmenu_hover.png) repeat-x left top;    
}
.siteheader .delim
{
    height: 45px;
    width: 2px;    
    background: url(../Images/header_delim.png) repeat-x left top;    
}
.siteheader a
{
    color: #66cc99;
    margin-right: 20px;
}
.siteheader a:hover
{
    color: White;
    text-decoration: none;
}
.siteheader .tooltip
{
    position: absolute;
    background: url(../images/topmenu_tooltip.png) no-repeat left top;
    width: 236px;
    height: 53px;
    color: #ccffff;
    text-align: left;
    padding: 15px 0px 0px 8px;  
    display: none; 
    top: 40px;
    left: -4px;
}
.siteheader a:hover .tooltip
{
    display: block;
}
.logoWrapper > div
{
    /*height: 136px;*/
    /*background: url(../Images/logo_bkgr.png) repeat-y left top;*/    
    padding: 0px 41px;
    width: 920px;
    overflow: hidden;
}
.logo
{
    height: 70px;  
    width: 250px;
    /*background: url(../Images/logo.png) no-repeat left 23px; */   
    background: url(../Images/medSeminar_gadget.png) no-repeat left 0px;    
    
}
.logo span
{
    font-size: 28px;
    font-weight: bold;
    display: block;
    padding: 20px 0px 0px 85px;
    color: #333;   
}
/*.delim, .footer .delim
{
    width: 2px;
    height: 126px;  
    background: url(../Images/logo_delim.png) no-repeat left 20px;    
}*/
.logoWrapper
{
    /*width: 2px;
    height: 100px;  
    background: url(../Images/logo_delim.png) no-repeat left 20px;*/
    height: 80px;
    overflow: hidden;   
}
.footer .delim
{
    background-position: left 10px;    
}
.footer .gadget
{
    width: 121px;   
    height: 126px;  
    text-align: center;
}
#LogoMenu .gadget a, .footer .gadget a
{
    margin: 15px 0px 0px 0px;
    display: block;
    text-decoration: none;
}
.footer .gadget a span
{
    color:#333;
    text-decoration: underline;
    display: block;
    padding-top: 15px;
    font-size: 12px;
}
.footer .gadget a span
{
    padding-top: 5px;
    color: #999;    
}
.content .helper
{
    height: 229px;
    background: url(../Images/helper_bkgr.png) no-repeat left top;       
}
.content .helper .title
{
    position: relative;  
    height: 30px;  
    padding: 12px 12px 0px 16px;
    color: #006633;
    font-size: 20px;
}
.content .showHelper
{
    padding: 0px 12px 0px 16px;
    height: 20px;
    position: relative;
}
.content .noShow
{
    height: 16px;
    background: url(../Images/eye.png) no-repeat left 6px; 
    position: absolute;
    right: 16px;
    top: 10px;
    font-size: 12px;
    color: #cc1b28;
    padding-left: 20px;
    cursor: pointer;
}
.content .showHelper .noShow
{
    top: 0px;    
}
.content .noShow span
{
    border-bottom: 1px dashed #cc1b28;
}
.content .noShow:hover span
{
    border-bottom-style: solid;
}
.content .helper .info
{
    height: 144px;
    background-color: #f8f8f8;
    margin: 0px 16px;    
    padding: 7px 11px;
    line-height: 18px;
    color: #333;
}
.content .helper .info .title
{
    height: 25px;
    background: url(../images/big_point.png) no-repeat left top;
    padding: 0;
    margin-bottom: 5px;   
}
.content .helper .info .title .text
{
    font-size: 14px;
    font-weight: bold;
    color: #000;    
    display: block;
    padding: 4px 8px;
}
.content .helper .info .title .number
{
    color: #fff;
    font-size: 18px;
    padding: 3px 8px;
    display: block;
}
.content .helper .info .mainText
{
    min-height: 110px;    
}
.content .helper .image
{
    margin: 5px 10px 10px 0px;    
}
.buttonWrapper
{
    position: relative;
    float: left;
    left: 50%;
}
.button
{        
    position:relative;
    display: block; 
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 20px;
    text-decoration: none !important;
    background: url(../images/buttonright.gif) no-repeat right top;    
}
.button span
{     
    display: block; 
    height: 23px;
    padding: 2px 0px 0px 20px;
    color: White;
    text-align: center;
    background: url(../images/buttonleft.gif) no-repeat left top;    
}
.button.big
{
    height: 45px;
    padding-right: 30px;
    background-image: url(../images/buttonright_big.png);
}
.button.big span
{
    height: 33px;
    padding: 12px 0px 0px 30px;
    background-image: url(../images/buttonleft_big.png);
}
.button:hover
{  
    background-position: right bottom;
}
.button:hover span
{  
    background-position: left bottom;
}
.button.previous
{
    margin-right: 20px;    
}
.h1_date{
    width:82px;
    float:right;
    clear:right;
    font-family:Arial;
    text-align:right;
    font-size:12px;
    color:#006633;
    font-weight:bold;
    margin:-45px 0px 0px 0px;
    padding:2px 0px 0px 0px;
}

.h1_date img{
    margin:0px 3px -3px 0px;
}

.logged
{
    width: 350px;    
    text-align: right;
}
.logged .name
{
    font-weight: bold;
    text-decoration: undereline;    
    display: block;
    background: url(../Images/profile.png) no-repeat left 11px;
    padding: 12px 0px 0px 22px;
    float: right;
}
.logged .name span
{
    border-bottom: 1px solid White;    
    display: block;
    height: 15px;
}
.logged .name:hover span
{
    border: none; 
}
.logged .logout, .logged .login
{    
    display: block;
    /*background: url(../Images/logout.png) no-repeat 5px 11px;*/
    padding: 12px 5px 0px 22px;
    float: right;
    margin: 0;
    height: 25px;
}
.logged .logout a, .logged .login a
{
    border-bottom: 1px dashed #ccc;
    text-decoration: none;
    color: #fff;
    display: block;
    height: 13px;
    margin: 0;
}
.logged .logout:hover a, .logged .login:hover a
{
    border-bottom-style: solid;
}
.unlogged, .logged
{
    position: absolute;
    height: 35px;
    right: 100px;  
    top: 0px;  
}
.unlogged .login
{
    /*background: url(../Images/login.png) no-repeat 5px 11px;*/
    height: 25px;
    padding-top: 12px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: transparent;
}
.unlogged .login.active
{
    
    border-color: #6e8888;
    background-color: #244444;
}

.feedback_tbl {
border:0px solid #ffffff;
}

.feedback_tbl td{
    border: none;
    vertical-align:top;
    padding:2px 0px 12px;
}

.feedback_tbl td:first-child
{
    padding:2px 10px 12px 0px;
    min-width: 200px;
    max-width: 200px;
    text-align: right;    
}
.feedback_tbl td span
{
    display: block;
    padding-left: 5px;    
}

.feedback_tbl_label{
text-align:left;
}

.feedback_send_block img{
height:23px;
border:1px solid #cbcbcb;
margin:0px 10px -7px 0px;
}

.feedback_textarea{
border:1px solid #cbcbcb;
border:1px solid #cbcbcb;
font-family:Arial;
font-size:12px;
padding:8px 13px 8px 13px;
width:330px;
}

.inp{
height:21px;
font-family:Arial;
font-size:12px;
color: #333333;
border:1px solid #cbcbcb;
width: 200px;
}
.captchaInput
{
    width: 70px; 
    vertical-align: top;    
}

.loginForm
{
    position: absolute;
    /*top: -1000px;*/
    top: 200px;
    left: 100px;
    display: none;
    border: 2px solid #333;
    width: 700px;
    height: 130px;
    overflow: hidden;
    background-color: #fff;    
    padding: 10px;
    z-index: 50;
}
.loginForm .auth_forget
{
    background-position: 4px 1px;    
}
.loginForm .auth_block, .loginForm .auth_label, .loginForm .auth_register
{
    padding-top: 0;    
}
.goback{
	font-size: 10px;
	float: right;
	background-image: url(images/back.png);
	background-repeat: no-repeat;
	background-position: right center;
	color: #FFF;
	padding-right: 20px;
	margin: 0px;
}
.goback:hover{
	color: #333;
	background-image: url(images/back.png);
	background-position: left center;
	padding-right:0px;
	padding-left: 20px;
		
}
.logoWrapper .topDelim
{
    position: absolute;
    right: 45px;
    top: 12px;
    height: 1px;
    width: 615px;
    border-top: 1px solid #cacaca;    
}
.logoWrapper .topDelim div
{
    display: inline;
    text-transform: uppercase;
    color: #666;
    position: relative;
    top: -8px;
    background-color: #fff;    
    font-size: 10px;
}

.footer .rightPart
{
    padding-top: 18px;    
    color: #666;
}
.footer .rightPart .link
{
    margin-left: 9px;    
}
.footer .rightPart .copy
{
    font-size: 10px;
    color: #999;    
    margin-top: 5px;
}
.footer .rightPart .links
{
    margin-bottom:10px;    
}
.footer .rightPart .mail
{
    margin-top: 5px;    
}
.toolbarmini
{
    width: 70px;
    height: 21px;
    position: fixed;
    /*top: -1000px;*/
    top: 0px;
    right: 0px;
    z-index: 1;
    display: none;   
}
.toolbarmini .start
{
    width: 43px;
    height: 21px;
    background: url(../images/tbmini_start.png) left top;
}
.toolbarmini .end
{
    width: 27px;
    height: 21px;
    background: url(../images/tbmini_end.png) left top;
    cursor: pointer;
}
.toolbarmini .unlogged, .toolbarmini .logged
{    
    right: 22px;
}
.toolbarmini .logout, .toolbarmini .login
{
    padding-top: 0;
    height: 21px;    
    background-position: 5px 3px;
    cursor: pointer;
}
.toolbarmini .logged img
{
    position: relative;
    top: 3px;
}

.logoWrapper
{
}

.logoWrapper .banners
{
    float: right;
    width: 620px;
    height: 131px;
    overflow: hidden;
    position: relative;
}
.logoWrapper .banners > ul > li
{
    width: 620px;
}
.logoWrapper .banners > div
{
    position: absolute;
    top: 0px;
    left: 620px;    
    opacity: 0;
    filter: alpha(opacity=0);
}
.locker
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url('../images/black_op.png') repeat left top;    
    z-index: 1;
    display: none;
}
.locker > div
{
    position: relative;
    top: 200px;
    width: 623px;
    height: 229px;
    background: url(../images/locker_window.png) no-repeat left top;
}
.locker .loc_header
{
    font-size: 18px;
    color: #3e3e3e;
    padding: 17px 0px 0px 34px;    
}
.locker .loc_close
{
    position: absolute;
    width: 30px;
    height: 30px;
    background: url(../images/cross.png) no-repeat 11px 11px;
    right: 9px;
    top: 9px;
    cursor: pointer;
}
.locker .loc_main
{
    padding: 20px 80px 0px 80px;
    background: url(../images/big_lock.png) no-repeat 30px 35px;    
}
.locker .button.big
{
    padding-right: 15px;    
    margin-left: 16px;
}
.locker .button.big span
{
    padding: 15px 0px 0px 15px;    
    height: 30px;
}
.locker .btns
{
    padding: 40px 30px 0px 0px;     
}
.locker .button.big.gray
{
    background-image: url(../images/buttonright_big_gray.png);
}
.locker .button.big.gray span
{
    background-image: url(../images/buttonleft_big_gray.png);
}
#LogoMenu .gadget a
{
    margin: 0;
}
#LogoMenu .delim
{
    width: 2px;
    height: 46px;  
    background: url(../Images/delim_mini.png) no-repeat left 0px;  
}
#LogoMenu .gadget
{
    width: 199px;   
    height: 46px;  
    text-align: center;
    position: relative;
}
#LogoMenu .gadget.first
{
    width: 116px;
    text-align: left;
}
#LogoMenu .gadget.big
{
    width: 226px;
}
#LogoMenu .gadget img
{
    margin-right: 8px;
}
#LogoMenu .gadget a span
{
    color:#333;
    text-decoration: underline;
    font-size: 12px;
    position: relative;
    top: -12px;
}