.content .tabs{
	font-size:11px;
	line-height:30px;
	list-style:none;
	height:30px;
	margin-top: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

}
.content .tabs li{
	float:left;
	list-style:none;
	padding:0px;

}
.content .tabs a{
	float:left;
	text-decoration:underline;
	height:30px;
	color: #333;
	padding:0 11px;
	padding-left: 10px;
}
.content .tabs a.current{
	float:left;
	padding:0px;
	padding-left: 11px;
	text-decoration:none;
	height:31px;
	color: #563;
	background-color: #FFF;
	background-image: url(../Images/corner_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-weight: bolder;	
}
.content .tabs a.current span{
	float:left;
	padding:0px;
	padding-right: 11px;
	
	
	background-image: url(../Images/corner_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	
}
.content .tabs a:hover{
	text-decoration: none;
}

.content .tabs-content{
	min-height: 100px;
	border: 1px solid #bdbcbd;
	border-top:none;
	padding: 10px 10px 10px 11px;
	background-image: url(../images/tabs_content_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.content .tabs-content .colsWrapper
{
    height: 210px;
    overflow: hidden;        
}

.goback{
	font-size: 10px;
	float: right;
	background-image: url(../images/back.png);
	background-repeat: no-repeat;
	background-position: right center;
	color: #FFF !important;
	padding-right: 20px;
	margin: 0px;
	cursor: pointer;
}
.goback:hover{
	color: #333 !important;
	background-image: url(../images/back.png);
	background-position: left center;
	padding-right:0px;
	padding-left: 20px;
	text-decoration: underline;
}
