﻿@{
    ViewBag.Title = "ChooseSymptoms";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">
            <div id="symptoms_people">
                <div id="symptoms_checkbox">
                    
                </div>

                <div class="symptoms_male symptoms_body">
                    <a class="arr180" href="#">180°</a>
                    <a href="#" id="foot_l" class="foot inactive"></a>
                    <a href="#" id="foot_r" class="foot inactive"></a>
                    <a href="#" id="leg_l" class="leg inactive"></a>
                    <a href="#" id="leg_r" class="leg inactive"></a>
                    <a href="#" id="palm_l" class="palm inactive"></a>
                    <a href="#" id="palm_r" class="palm inactive"></a>
                    <a href="#" id="hand_l" class="hand inactive"></a>
                    <a href="#" id="hand_r" class="hand inactive"></a>
                    <a href="#" id="stomack_1" class="stomack_1 inactive"></a>
                    <a href="#" id="stomack_2" class="stomack_2 inactive"></a>
                    <a href="#" id="back" class="back inactive"></a>
                    <a href="#" id="chest" class="chest inactive"></a>
                    <a href="#" id="neck" class="neck inactive"></a>
                    <a href="#" id="head" class="head inactive"></a>
                    <a href="#" id="head_back" class="head_back inactive"></a>
                    <a href="#" id="mouth" class="mouth inactive"></a>
                    <a href="#" id="eyes" class="eyes inactive"></a>
                    <a href="#" id="ear_l" class="ear inactive"></a>
                    <a href="#" id="ear_r" class="ear inactive"></a>
                    <a href="#" id="nose" class="nose inactive"></a>
                    <a href="#" id="hair" class="hair inactive"></a>
                    <a href="#" id="common" class="common inactive">Общее самочувствие</a>
                </div>

                <div class="symptoms_female symptoms_body">
                    <a class="arr180" href="#">180°</a>
                    <a href="#" id="foot_l" class="foot inactive"></a>
                    <a href="#" id="foot_r" class="foot inactive"></a>
                    <a href="#" id="leg_l" class="leg inactive"></a>
                    <a href="#" id="leg_r" class="leg inactive"></a>
                    <a href="#" id="palm_l" class="palm inactive"></a>
                    <a href="#" id="palm_r" class="palm inactive"></a>
                    <a href="#" id="hand_l" class="hand inactive"></a>
                    <a href="#" id="hand_r" class="hand inactive"></a>
                    <a href="#" id="stomack_1" class="stomack_1 inactive"></a>
                    <a href="#" id="stomack_2" class="stomack_2 inactive"></a>
                    <a href="#" id="back" class="back inactive"></a>
                    <a href="#" id="chest" class="chest inactive"></a>
                    <a href="#" id="neck" class="neck inactive"></a>
                    <a href="#" id="head" class="head inactive"></a>
                    <a href="#" id="head_back" class="head_back inactive"></a>
                    <a href="#" id="mouth" class="mouth inactive"></a>
                    <a href="#" id="eyes" class="eyes inactive"></a>
                    <a href="#" id="ear_l" class="ear inactive"></a>
                    <a href="#" id="ear_r" class="ear inactive"></a>
                    <a href="#" id="nose" class="nose inactive"></a>
                    <a href="#" id="hair" class="hair inactive"></a>
                    <a href="#" id="common" class="common inactive">Общее самочувствие</a>
                </div>
            </div>
            <div id="symptoms_summary">
                <h5>Выбранные симптомы</h5>
                <div id="symptoms_checked">
                    
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var symptomsOptions = {
            jsonGetSymptoms : '@Html.Raw(@Url.Action("GetSymptoms", "Symptom"))'

        }
    </script>
    @Scripts.Render("~/bundles/symptoms")

}
