﻿@model EMedSovet.Web.Models.Symptom

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <h3>Вы уверены что хотите удалить?</h3>
            <fieldset>
                <legend>Symptom</legend>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </fieldset>
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Удалить" />
                    |
        @Html.ActionLink("Список симптомов", "Index")
                </p>
            }

        </div>
    </div>
</div>
