﻿@model IEnumerable<EMedSovet.Web.Models.Symptom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <p>
                @Html.ActionLink("Создать новый", "Create")
            </p>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.SymptomId }) |
            @Html.ActionLink("Детали", "Details", new { id = item.SymptomId }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.SymptomId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
