﻿@model ICollection<AuthenticationClientData>


@if (Model.Count != 0)
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "externalLoginForm inline bottomMarginNone" }))
    {
    @Html.AntiForgeryToken()
    <span class="tiny">Авторизоваться через |</span>
    <ul class="breadcrumb header-breadcrump tiny breadcrump-socials inline ">
        @foreach (AuthenticationClientData p in Model)
        {
            <li>
                <button class="btn btn-mini" type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
                <span class="divider">|</span></li>
                               
        }

        <li><a class="btn btn-mini fancybox" href="#registrationForm" title="VK">Vkontakte</a>
            <!--<span class="divider">|</span>-->
            @if (!Request.IsAuthenticated)
            {
                <span class="divider">|</span> 
            }
        </li>

        <!--<li><a class="btn btn-mini fancybox" href="#registrationForm" title="Mailru">Mail.Ru</a>
            @if (!Request.IsAuthenticated)
            {
                <span class="divider">|</span> 
            }
        </li>-->

        @if (!Request.IsAuthenticated)
        {
            <li><a class="btn btn-mini fancybox" href="#registrationForm" title="Регистрация">Регистрация</a>
                @*Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="btn btn-find fancybox" })*@
            </li> 
        }

    </ul>
    }
}
