﻿@model EMedSovet.Web.Models.RegisterModel
<div class="registrationForm hidden" id="registrationFormScan">
    @using (Html.BeginForm("RegisterScan", "Account", FormMethod.Post, new Dictionary<string, object> { { "id", "formRegisterScan" }, { "enctype", "multipart/form-data" } }))
    {
        @Html.AntiForgeryToken()
        <dl>
            <dt>@Html.LabelFor(m => m.Email)</dt>
            <dd>@Html.TextBoxFor(m => m.Email, new Dictionary<string, object>() { { "id", string.Empty } })
                @Html.ValidationMessageFor(m => m.Email)
            </dd>
            <dt>Скан документа</dt>
            <dd>
                <input type="file" name="DocScanUpload" id="DocScan" />
            </dd>
            @Html.Partial("_TermsPartial")

        </dl>
        @Html.Partial("_Confirmation")

        <div class="overflow-hidden full-width topMargin">
            <div class="right-aligned">
                <input type="submit" value="Зарегистрироваться" class="btn btn-find" id="buttonRegisterScan" />
            </div>
        </div>
    }

</div>
