﻿<div class="registrationForm margin-auto min-height-body hidden" id="personalCardForm">
    @using (Html.BeginForm("SetUserRole", "Account", FormMethod.Post, new Dictionary<string, object> { { "id", "formSetRole" } }))
    {
        @Html.AntiForgeryToken()
        <p class="medium-small bold grey-dark topMargin">Пожалуйста заполните личную карточку</p>
        <ul>
            <li>
                @Html.RadioButton("role", "patient")&nbsp; <span class="medium-small bold grey-dark">Карточка пациента</span>
            </li>
            <li>
                @Html.RadioButton("role", "doctor")&nbsp; <span class="medium-small bold grey-dark">Карточка врача</span>
            </li>
        </ul>
        <div class="overflow-hidden full-width topMargin">
            <div class="left-aligned">
                <input type="submit" value="Продолжить" class="btn btn-find" id="buttonFill" />
            </div>
        </div>
        <div class="overflow-hidden full-width topMargin">
            <div class="left-aligned">
                @Html.ActionLink("Заполнить карточку позже", "Index", "Home", null, new Dictionary<string, object> { { "class", "btn" }, { "id", "buttonGoFurther" } })
            </div>
        </div>
    }
</div>
