﻿@model EMedSovet.Web.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "ExternalLoginConfirmation";
    Layout = "~/Views/Shared/_MainExternal.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}

<div class="row">

    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">

            <hgroup class="title">
                <p class="medium-small">Регистрация через @ViewBag.ProviderDisplayName .</p>
            </hgroup>

            @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new RouteValueDictionary { { "ReturnUrl", ViewBag.ReturnUrl } }, FormMethod.Post, new Dictionary<string, object> { { "id", "formRegister" } }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <p class="medium-small">
                    Вы авторизовались при помощи <strong>@ViewBag.ProviderDisplayName</strong>.
                    Пожалуйста нажмите подтвердите для завершения регистации 
                </p>

                <dl>
                    <dt>@Html.LabelFor(m => m.UserName)</dt>
                    <dd>@Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </dd>
                    <dt>@Html.LabelFor(m => m.Role)</dt>
                    <dd>@Html.RadioButtonFor(m => m.Role, "patient", new Dictionary<string, object> { { "id", string.Empty }, { "style", "width:15px;" } })&nbsp; <span class="">пациент</span>
                        @Html.RadioButtonFor(m => m.Role, "doctor", new Dictionary<string, object> { { "id", string.Empty }, { "style", "width:15px;" } })&nbsp; <span class="">врач</span>
                        @Html.ValidationMessageFor(m => m.Role)
                    </dd>
                    <dt>&nbsp</dt>
                    <dd>@Html.CheckBoxFor(m => m.IsPersonalDataConfirmed)&nbsp;<span class="smallest">Принять условия соглашения</span><br />
                        @Html.ValidationMessageFor(m => m.IsPersonalDataConfirmed)
                    </dd>
                    <dt>&nbsp</dt>
                    <dd>@Html.HiddenFor(m => m.ExternalLoginData)
                    </dd>
                </dl>
            
                <div class="overflow-hidden topMargin">
                    <div class="left-aligned">
                        <input type="submit" value="Зарегистрироваться" class="btn btn-find" id="buttonRegister" />
                    </div>
                </div>
                
            }

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#buttonRegister').click(function (e) {
                e.preventDefault();
                if (!$('input#IsPersonalDataConfirmed').is(':checked')) {
                    alert('Пожалуйста примите соглашение');
                    return false;
                }
                $('#formRegister').submit();
            });
        });
    </script>
}