﻿@model EMedSovet.Web.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.Title = "Home Page";
}
@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}
@section featured {
}

<div class="row">
    <div class="span12 bordered-rounded topMargin">
        <div class="row">
            <div class="span8">
                <div class="inner-margin">
                    <p class="green medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="small">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu neque libero. Aliquam et turpis vulputate lorem adipiscing rutrum. Curabitur et mi arcu. Aenean pellentesque pellentesque velit vel interdum. Donec hendrerit malesuada est eget tristique. Curabitur vehicula rhoncus leo id interdum. Nunc cursus aliquam tincidunt.
                    </p>
                    <p class="small">
                        <a href="@Url.Action("MoreInfo", "Home")">узнать больше о проекте&nbsp;<img src="~/Images/arrow_green.png" class="inline" /></a>
                    </p>

                </div>
            </div>
            <div class="span4 rounded grey-dark-filled intro-min-height right-icon-list">
                <div class="topMarginSmall rightMarginSmall rightMargin leftMargin overflow-hidden">
                    <div style="float: left;">
                        <img src="~/Images/instrukciya.png" />
                    </div>
                    <div class="right-aligned text-right" style="padding-top: 10px;">

                        <p class="medium">
                            <a class="" href="@Url.Action("HowToConsult", "Home")" title="Как получить совет врача?">Как получить<br>
                                совет врача?<br />
                                <span class="small">Инструкция</span></a>
                        </p>
                    </div>

                </div>
                <div class="rightMargin leftMargin">
                    <hr class="not-bordered grey-darkest grey-darkest-filled hr-height" />
                </div>
                <div class="topMarginSmall rightMarginSmall rightMargin leftMargin overflow-hidden">
                    <div style="float: left;">
                        <img src="~/Images/konsultant.png" />
                    </div>
                    <div class="right-aligned text-right" style="padding-top: 10px;">

                        <p class="medium">
                            <a class="fancybox" href="@Url.Action("Chat", "Home")" title="">Помощник<br>
                                по сайту<br />
                                <span class="small">доступен 24 часа</span></a>
                            <br />
                            <a class="smaller btn btn-mini not-underlined" href="@Url.Action("Chat", "Home")" title="написать">написать</a> <a class="smaller btn btn-mini not-underlined" href="@Url.Action("VideoChat", "Home")" title="позвонить">позвонить</a>
                        </p>
                    </div>

                </div>
                <div class="rightMargin leftMargin">
                    <hr class="not-bordered grey-darkest grey-darkest-filled hr-height" />
                </div>
                <div class="topMarginSmall rightMarginSmall rightMargin leftMargin bottomMarginSmall overflow-hidden">
                    <div style="float: left;">
                        <img src="~/Images/konsultant2.png" />
                    </div>
                    <div class="right-aligned text-right" style="padding-top: 10px;">
                        <p class="medium">

                            <a class="#" href="" title="Консилиум">Консилиум<br>
                                специалистов<br>
                            </a>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="span12 topMargin grey-light-filled">
        @Html.Partial("_SearchDoctor")
        <div class="row">
            <div class="span12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <ul id="mycarousel" class="jcarousel-skin-tango">
                    @Html.Action("DoctorsListCarousel", "Doctor")
                    @*{
                        
                    
                        foreach (var i in Enumerable.Range(1, 8))
                        {
                            <li>
                                <div class="doctor-carousel-icon" style="width: 210px; height: 210px; overflow: hidden;">
                                    <img src="@Url.Content(string.Format("~/Images/dr{0}.jpg", i))" width="195" height="120" alt="" />
                                    <p class="green smallest centered  rightMarginSmall leftMarginSmall">
                                        <span class="underlined">Витальченко Екатерина Михайловна<br>
                                        </span>

                                        <span class="smallest underlined">Врач-педиатор

                                        </span>

                                        @if (i == 2 || i == 3 || i == 6 || i == 7)
                                        {
                                            <br />
                                            <text><span class="yellow-dark bold">Профессор</span>&nbsp;</text>
                                        }


                                    </p>

                                </div>

                            </li>
                        }
                    }*@
                </ul>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="span12 centered">
        <p class="medium-small bordered-rounded margin tabs-background uppercase" style="padding-top: 10px; padding-bottom: 10px;">
            НЕ ЗНАЕТЕ К КАКОМУ СПЕЦИАЛИСТУ ОБРАТИТСЯ?&nbsp;&nbsp;
            <a href="#" class="green">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ ОНЛАЙН</a>


        </p>
    </div>
</div>-->


<div class="row topMargin">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <ul class="nav nav-tabs" id="Tabs">
                    <!--<li class="active"><a href="#home">Home</a></li>-->
                    <li class="nav-tabs-wide"><a href="#home">НОВОСТИ</a></li>
                    <li class="nav-tabs-wide"><a href="#profile">ЧТО ТАКОЕ МЕДСОВЕТ?</a></li>
                    <li class="nav-tabs-wide"><a href="#messages">ВОПРОСЫ-ОТВЕТЫ</a></li>
                </ul>
            </div>
            <!--<div class="span4">
                ПРИЕМ ЭЛЕКТРОННЫХ <span class="green">ПЛАТЕЖЕЙ</span>
            </div>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="span12" style="height: 650px;">
        <div class="row">
            <div class="span12">
                <div class="tab-content">
                    <div class="tab-pane active scroll-pane" id="home">

                        <p class="green medium"><a href="@Url.Action("MedicalNews", "News")">Новости медицинского сообщества</a></p>
                        @Html.Action("MedicalNewsLatest", "News")
                        <hr />

                        <p class="green medium"><a href="@Url.Action("MedicalArticles", "Article")">Последние добавленные статьи</a></p>
                        @Html.Action("MedicalArticlesLatest", "Article")
                        <hr />

                        <p class="green medium"><a href="@Url.Action("PartnerProgram", "News")">Партнерская программа</a></p>
                        <p>
                            Медсовет готов к сотрудничеству и партнерству с лечебно-профилактическими учреждениями и другими организациями, заинтересованными в развитии телемедицины.
                        </p>

                    </div>
                    <div class="tab-pane scroll-pane" id="profile">
                        <p class="green medium">Помощь online консультанта</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />

                        <p class="green medium">Новости</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />
                        <p class="green medium">Новости партнеров</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                    </div>
                    <div class="tab-pane scroll-pane" id="messages">
                        <p class="green medium">Вопросы и отзывы</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />

                        <p class="green medium">Новости</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                        <hr />
                        <p class="green medium">Новости партнеров</p>
                        <p class="green small bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium facilisis mauris, sed malesuada diam egestas a. Sed tincidunt ultricies urna, id ultricies velit euismod vel. Morbi sit amet mauris dolor, non ullamcorper dui. Donec feugiat porttitor erat vitae varius. Fusce posuere vulputate nulla, eget ultricies metus rhoncus mollis. Integer nec ante ut justo tempus ultrices. Sed congue malesuada magna. Morbi luctus laoreet elit, at tempor elit lacinia sed. Pellentesque molestie malesuada ultricies. Maecenas ultricies quam vel leo fermentum bibendum. Sed felis odio, lobortis vel tristique nec, congue a nisl. Curabitur nec enim id enim scelerisque commodo ac et tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--<div class="span4">
                <p class="small topMarginSmall rightMargin">
                    EMedSovet позволяет принимать платежи от пользователей в любой электронной валюте, с помощью смс сообщений, через систему денежных переводов Contact, через терминалы электронной оплаты, а также с помощью банковских карт
                </p>
                <p class="small topMarginSmall uppercase">
                    Электронные валюты:
                </p>
            </div>
            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/webmoney.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        WebMoney
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/yandex.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Яндекс деньги
                    </div>
                </div>
            </div>


            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/money.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 0px;">
                        Moneymail RUR
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/bystro.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Быстро деньги
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/master.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 10px;">
                        Master Card
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/visa.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Visa
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/western.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Western Union
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/rbk.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Rbk
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="row">
                    <div class="span2">
                        <img src="~/Images/contakt.png" class="leftMarginNone rightMarginNone" />
                    </div>
                    <div class="span2" style="padding-top: 15px;">
                        Contact
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</div>
@Html.Partial("_RegisterFormParial")
@Html.Partial("_RegisterFormByScanPartial")
@Html.Partial("_ConsultInstructionPartial")
@Html.Partial("_SetRole")
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jcarousel")
    @Scripts.Render("~/bundles/fancybox/js")
    <script>
        $(function () {
            $('.fancybox').fancybox();
            //$('.scroll-pane').jScrollPane();
            $('#myTab a:first').tab('show');
            $('#Tabs a:first').tab('show');
            $("#home").jScrollPane();
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
                console.log($(this));
                //$(this).jScrollPane();
            });
            $('#Tabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');

                var selectorTab = $(this).attr('href');
                $(selectorTab).jScrollPane();
            });

            $('#mycarousel').jcarousel({
                visible: 4
            }
            );
            $('#buttonRegister').click(function (e) {
                e.preventDefault();
                if (!$('#formRegister input[name="IsPersonalDataConfirmed"]').is(':checked')) {
                    alert('Пожалуйста примите соглашение');
                    return false;
                }
                $('#formRegister').submit();
                return false;
            });

            $('#buttonRegisterScan').click(function (e) {
                e.preventDefault();
                if (!isValidEmailAddress($('#formRegisterScan input[name="Email"]').val())) {
                    alert('Адрес не верен');
                    return false;
                }
                if ($.trim($('#formRegisterScan input[name="DocScanUpload"]').val()) == '') {
                    alert('Укажите документ');
                    return false;
                }
                if (!$('#formRegisterScan input[name="IsPersonalDataConfirmed"]').is(':checked')) {
                    alert('Пожалуйста примите соглашение');
                    return false;
                }

                $('#formRegisterScan').submit();
            });

            $('#consultInstructionRegister, #setRoleRegister').click(function (e) {
                //return false;
                e.preventDefault();
                $.fancybox.close();
                $('#registerLink').trigger('click');
                return false;
            });



            function isValidEmailAddress(emailAddress) {
                var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
                return pattern.test(emailAddress);
            }
        });
    </script>
}
