﻿@{
    ViewBag.Title = "RegisterScanConfirmation";
    Layout = "~/Views/Shared/_MainExternal.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}
@section featured {
}
<div class="row">
    <div class="span12 topMarginSmall bottomMarginSmall">
        <div class="leftMargin inner-body">
            <p>На ваш адрес было выслано письмо.</p>
            <p>После подтверждения докуметов Вы сможете пользоваться сайтом</p>
        </div>
    </div>
</div>
