﻿@{
    ViewBag.Title = "SetUserRole";
    Layout = "~/Views/Shared/_Main.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/jcarousel/skins/tango/jcarousel")
    @Styles.Render("~/Scripts/fancybox/css")
    <link href="@BundleTable.Bundles.ResolveBundleUrl("~/bundles/less")" rel="stylesheet" type="text/css" />

}
@Html.Partial("_SetRole")
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap/js/bootstrap")
    @Scripts.Render("~/bundles/jcarousel")
    @Scripts.Render("~/bundles/fancybox/js")
    <script>
        $(function () {
            $('#personalCardForm').show();
        });
    </script>
}